[2017-10-18 15:07] tseaver opened #35 "'Bucket.list_blobs' surface issues"
While investigating googleapis/google-cloud-python#4154, I noticed the following problems with `Bucket.list_blobs`:

- It exposes paging semantics, rather than a "normal" iterator.
- ~It exposes `fields`, which is probably not optimal for a method which is supposed to return populated `Blob` instances.~
- The semantics of the `versions` flag are questionable, given googleapis/google-cloud-python#2

[2017-12-07 03:10] ravindranathakila opened #34 "Storage: Consider externalising http configuration"
https://cloud.google.com/storage/quotas

[code]

[2018-01-03 16:10] bencaine1 opened #36 "Support parallel operations for copying objects"
It would be great if there were a way to do the equivalent of the following command from the python API:

`gsutil -m cp -r myfolder gs://mybucket/`

You can currently upload each file individually, but this is slow for folders with many files.

I've also submitted a bug to gsutil: https://github.com/GoogleCloudPlatform/gsutil/issues/492

[2018-01-12 17:18] yiga2 opened #33 "Add support for the Storage Transfer service"
Request to support the Storage Transfer service, mainly 2 components: transferJobs and transferOperations (instantiation of jobs)

Currently only available through api:

- https://cloud.google.com/storage/transfer/reference/rest/v1/transferJobs
- https://cloud.google.com/storage/transfer/reference/rest/v1/transferOperations

If in the works, rough ETA would be helpful as we plan on writing corresp

[2018-03-19 01:43] bits01 opened #32 "`Blob.rewrite()` does not work with batches."
google-cloud-storage v1.8.0

Not sure whether rewrites are supposed to work when batched, but it would be nice and useful if they did, otherwise there's no efficient way to copy lots of blobs across buckets in different locations or with different encryption keys.

Example:
[code]
Traceback:
[code]

[2018-05-25 00:01] ludwigschubert opened #31 "'Blob.exists()' does not work within batch context"
The `Blob.exists()` method does not work when run within a Batch context. The normal behavior of `exists()` is to return True unless a `NotFound` exception occurs. Within the Batch context the exception seems to be suppressed and the function returns True. After leaving the Batch context, an Exception is then thrown.

This is how I expected to be able to use the `exists()` function:

[code]

Witho

[2018-06-26 03:21] mlhamel opened #30 "Add support for JSON API headers and query string parameters"
__Description__

The XML-Api and the Json-API are supporting a large set of parameters as described at https://cloud.google.com/storage/docs/xml-api/reference-headers.

Into those parameters you can find very useful features like `x-goog-metageneration` which let you control how to deal with versions and also blocking rewriting of blobs in a bucket.

These API used to be available in the AppEngine

[2019-01-29 19:46] dmsolow opened #29 "Add an API method to give us a streaming file object"
It doesn't look like there's a way to get a streaming download from google storage in the Python API. We have `download_to_file` , `download_to_string`, and `download_to_filename`, but I don't see anything that returns a file-like object that can be streamed. This is a disadvantage for many file types which can usefully be processed as they download.

Can a method like this be added?

[2019-04-22 16:39] tswast opened #38 "Proposal: move API-methods to client"
The Cloud Storage Python client was one of the first google-cloud-python clients, intended to be more reliable and more Pythonic than the google-api-client that it replaced. It is also a 100% hand-written client. Because it predates the auto-generated google-cloud-python clients, the Cloud Storage Python client has inconsistencies with other google-cloud-python clients.

This design proposal is to

[2019-09-25 17:41] frankyn opened #338 "Add Retry Strategy to manual libraries."
Feature request to track work done to fix retry strategy issues in Python libraries.

Issues that have a workaround will be deduped against this bug as @crwilcox, @tritone and I organize the effort.

[2019-10-16 13:42] HenrikOssipoff opened #37 "Storage: copy_blob doesn't respect preserve_acl"
Thanks for stopping by to let us know something could be better!

#### Environment details

* macOS 10.15
* Python 3.6.5
* google-cloud-storage==1.20.0

#### Steps to reproduce

  1. Upload a blob with a predefined ACL of publicRead
  2. Copy this blob with preserve_acl set to true
  3. Expected result is that the new blob is set to publicRead, but this ACL isn't actually preserved
  4. Calling `m

[2019-11-13 18:43] tseaver opened #24 "Storage: Capture relevant headers to blob properties during download"
Residual from googleapis/google-cloud-python#9003.

@william-silversmith notes that even with `raw_download` enabled, he is unable to detect the `content_type` of a downloaded blob without performing an additional `reload` request, which is prohibitive for his usecase at scale.  E.g.:

[code]
Potentially even...

[code]

[2019-11-22 21:25] swvjeff opened #23 "SSL certificate error when using gsutil on machine in a private subnet and wildcard CNAME"
OS: Amazon Linux 2018.03
Python: 2.7.16
gsutil: 4.46

I'm receiving an `ssl.CertificateError` any time I try to run the `gsutil` command on our database server, which resides inside of a private subnet. This error only cropped up after I created a wildcard CNAME pointing everything to `web.mydomain.com` in Cloudflare and enabled Cloudflare's wildcard SSL. The hostname of the machine receiving the

[2019-12-19 00:56] VelizarVESSELINOV opened #22 "Storage: wait option for delete_blobs method"
#### Environment details
latest

#### Steps to reproduce
[code]
An unpredictable result depends on delete_blobs how fast it is versus the slow_create_blobs

[2019-12-20 10:58] gauravshimpi opened #20 "Storage: invalid_grant: Invalid JWT Signature"
I am facing same issue in python3.
===================================================================
from dags.util.GCloudStorage import GCloudStorage

client = GCloudStorage(
    "/home/gaurav/airflow/dags/script/gcp_credentials/my_gcs_credentials.json", ""project_name)

client.create_bucket("test_bucket")

===============================================================
Here's the GCloudStorage

[2020-01-02 16:34] bz2 opened #19 "Storage: Bucket.list_blobs(max_results=n) does not behave as documented"
The `max_results` parameter of `list_blobs()` is documented as controlling the maximum number of blobs returned in each page of results, but actually limits the total number of results as the name implies.

Compare the `Bucket.list_blobs()` documentation:
https://googleapis.dev/python/storage/latest/buckets.html#google.cloud.storage.bucket.Bucket.list_blobs

With the `Iterator` documentation:
http

[2020-01-06 16:32] bjoernpollex-sc opened #18 "Storage: Default timeout for requests breaks chunked downloads"
The default timeout introduced in googleapis/google-resumable-media-python#88 is causing crashes in our application. We are using chunked downloads by setting [`chunk_size`][1] on the blob, and then calling [`download_to_file`][2]. Our application is multi-threaded, and we are actually downloading files into a custom stream that is backed by a ring-buffer (so writes may block until space is availa

[2020-01-10 11:59] hixus opened #17 "Client fails for reauth, while gsutil works fine"
#### Environment details

1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
2. OS X highsierra
3. Python version and virtual environment information:  Python 3.6.9
4. google-cloud-<service> version:  google-cloud-storage = 1.24.1

#### Steps to reproduce

  Trying to use could-storage python package with user-crede

[2020-01-12 20:55] 1fish2 opened #16 "Storage: upload_from_string() with ifGenerationMatch=0"
The GCS HTTP protocol -- but not the Python API -- has the ability to set `ifGenerationMatch` when [creating a storage object](https://cloud.google.com/storage/docs/json_api/v1/objects/insert#parameters):

**Why it's useful:** With this feature, the client could create a directory placeholder entry (a 0-byte object with a name ending in `'/'`) very efficiently like this:

    blob = bucket.blob('p

[2020-01-13 11:10] HenrikOssipoff opened #15 "Storage: Possible metadata regression on blobs in 1.24.0"
#### Environment details

* Debian 10
* google-cloud-storage version: 1.24.1

#### Steps to reproduce

It's documented that metadata that isn't set will return a NoneType. Naturally, when wanting to unset any metadata, you expect to be able to pass in `None`. This worked up until 1.24.0 which broke this with googleapis/google-cloud-python#9796.

I think you can still technically set the metadata t

[2020-01-14 23:25] mcsimps2 opened #14 "Storage: TimeoutGuard raises TimeoutException even though upload successful"
Environment Details:
 - Using google-cloud-storage==1.23.0 and 1.24.1
 - Using Mac OSX 10.14 and Windows 7 64 bit
 - Using Python 3.7.3

**Issue:** A file can upload completely to Google Cloud Storage, yet still raise a `TimeoutException` if the upload process took longer than ~60 seconds (not 100% sure on the timedelta, but I'm guessing that it's 60 seconds from a brief analysis of the code).

**

[2020-01-22 20:37] mcsimps2 opened #13 "Storage: No timeouts cause indefinite hanging"
Library: Google Cloud Storage
Environment: Win7 and OSX
Python Version: 3.7.3
Google Cloud Storage Version: 1.25.0

I don't believe all methods of the storage client are using timeouts.  I've come across several situations where an upload or download has completely hung because of this.  Unfortunately, there's no stack trace because the thread is just hanging waiting for a response.  Just from a b

[2020-01-23 21:03] frankyn opened #12 "[Storage] V4 Signature: Formatting Inconsistencies"
Tracking issue for work defined in companion document.

[New Client Request - GCS SigV4 Formatting Inconsistencies](https://docs.google.com/document/d/11OpYYj2FMFsWe-slIKK-JQC97CUh4CYOWeraR0wuImo).

[2020-01-23 21:05] frankyn opened #11 "[Storage] V4 Signature Signed URLs With Bucket-Bound Hostnames"
Tracking issue for work defined in companion document.

[New Client Request - Support for Bucket-Bound Hostnames With GCS Signed URLs](https://docs.google.com/document/d/1Da8LQEmc1OKRECxXqdivQa4tcTEImlti_fVYzoh4reI)

[2020-01-23 21:09] frankyn opened #10 "[Storage] V4 Signature Support for virtual hosted-style signed"
Tracking issue for work defined in companion document.

[New Client Request - Support for virtual hosted-style signed URLs](https://docs.google.com/document/d/1TkoDiZjz6nINNVQrYbrfaODhmcMTR-crb94aR1cXZVA/edit#)

[2020-01-23 21:10] frankyn opened #9 "[Storage] V4 Signature Supplying Additional Query Parameters With GCS Signed URLs"
Tracking issue for work defined in companion document.

[New Client Request - Support For Query Params With GCS Signed URLs](https://docs.google.com/document/d/1PnH2K-M-2wkkYkUyLBh7JDDRqYgBNimP5fUFuEeB4u4/edit#heading=h.xgsgzd636vko)

[2020-01-23 21:12] frankyn opened #8 "[Storage] V4 Signature POST Policies"
Tracking issue for work defined in companion document.

[GCS - POST with SigV4](https://docs.google.com/document/d/1zLV5kpDf1gNER-twwt0sLs4BRSnVsPEWVnkhzEbT6SM/edit)

[2020-01-23 23:08] crwilcox opened #7 "Memory leak from client objects"
I have a leak that seems to be related to client construction/destruction. Given the following code

[code]

Here is a graph of memory usage over the 100 client creations, small uploads.
<img width="1149" alt="client-created-each-loop-100-iters" src="https://user-images.githubusercontent.com/638797/73031775-e4027380-3df1-11ea-9602-0b4a46aac704.png">

If instead a single client object is reused, yo

[2020-01-24 13:43] plamut opened #6 "Storage: add timeout parameter to all public methods"
As a  library user, I would like to have a way to specify a (transport) timeout when calling methods that make HTTP requests under the hood. The timeout should have a reasonable default to prevent requests for hanging indefinitely in case I forget to pass in a `timeout` argument myself.

Motivation: User reports of requests hanging indefinitely, e.g. googleapis/google-cloud-python#10182.

[2020-01-24 13:58] plamut opened #5 "Storage: bump google-auth dependency to 1.11.0+"
The `google-auth` [release](https://github.com/googleapis/google-auth-library-python/releases/tag/v1.11.0) version 1.11.0 fixes the issue with too eager Timeout errors in cases when the underlying request takes a lot of time, but still succeeds and does not timeout itself.

In order to benefit from it, the version pin needs to be updated.

[2020-01-28 02:54] mcsimps2 opened #4 "Storage: mtime of downloaded file is incorrect by UTC offset"
Google Cloud Storage v1.25.0
Python 3.7.3
OS: OSX & Win7

Issue: If I upload a file to Google Cloud Storage and then immediately download it, the mtime is incorrect - for me, I'm in EST, so I'm 5 hours behind UTC.  That's the exact timedelta that occurs between the file's original mtime and the recorded mtime after the file is downloaded.

Here's an example screenshot:
![Screen Shot 2020-01-27 at

[2020-01-30 03:05] danjenson opened #3 "Storage: Bucket not including Access-Control-Allow-Origin header in preflight OPTIONS response"
Fedora 31, Google Chrome 79.

On python 3.7 flask server:
[code]
Command line cors check:
[code]

On client in JS:
[code]
When this is sent, it runs a preflight OPTIONS request, which does not return the `Access-Control-Allow-Origin` header in the response, so the PUT fails.

Response headers include: alt-svc, cache-control, content-length, content-type, date, expires, server, status, vary, x-gupl

[2020-01-30 06:13] limbuu opened #2 "Changes made in jupyter notebook ipynb file are not uploaded to the bucket"
We upload  jupyter notebook .ipynb file in google bucket. Whenever we make changes and upload the same file the changes are not being uploaded in the bucket. Looks like there is cache issue while uploading/patching  the changed file. How to fix the issue??
We use the following code:

[code]

[2020-01-31 23:38] retnikt opened #21 "Storage: Blob.upload_from_file Stream must be at beginning"
# Environment details

Ubuntu, Python 3.7, Google Cloud Storage 1.23.0

# Steps to reproduce

  1. Create a Blob
  2. Use `blob.upload_from_file(fp)` where `fp` is not at the beginning of the stream (i.e. it has been sought)

# Code example

[code]

# Traceback
[code]

# Description
I cannot see any reason why there is the check `if stream.tell() != 0`. It seems to serve only to frustrate users tr

[2020-01-31 23:39] crwilcox opened #25 "Storage, Core: Once x-goog-api-client headers, gccl, is used for storage, remove gcloud-python"
internal bug: b/143493862

The Python Client has a patch https://github.com/googleapis/google-cloud-python/pull/9548 to temporarily collect metrics until we address a pipeline issue. This is a temporary fix and should be removed once that is done.

[2020-01-31 23:39] crwilcox opened #26 "Storage: Handle 410 errors on resumable-media operations"
A previous issue googleapis/google-cloud-python#7530 was closed in favor of a targeted issue for a feature request.

Resumable media operations can fail in such a way that they cannot be retried, at least on the chunk level. A 410 error indicates that the only choice is to restart the operation altogether

Pseudo code:
[code]

We should find the instances of resumable uploads and protect them from

[2020-01-31 23:39] bachirelkhoury opened #27 "Storage: Allow tracking upload progress."
This is related to googleapis/google-cloud-python#1830 reopening here as this seems to have been closed many years ago.

We are please looking for this feature as we need to monitor large files being uploaded to Google Storage buckets. I am surprised not many people are after this essential feature, which makes me feel we haven't done our research properly or that the solution is very obvious or t

[2020-01-31 23:40] jared-martin opened #28 "Upload blob from HTTPResponse"
I'm trying to use `Blob.upload_from_file` to upload an `http.client.HTTPResponse` object without saving it to disk first.  It seems like this, or a version of this that wraps the `HTTPResponse` in an `io` object, should be possible.

However, because the response may be larger than `_MAX_MULTIPART_SIZE`, `Blob.upload_from_file` [creates a resumable upload](https://github.com/googleapis/google-clou

[2020-02-03 05:50] HemangChothani commented on #3
@danjenson not that much familiar with the nodejs , so could you please share you code snippet like which part you used with nodejs (from browser) and which through the flask(python).

[2020-02-03 07:52] kylefoley76 opened #40 "Upload of large files times out."
OS 10.14.4
Python 3.8.0
Google_cloud_storage: 1.20.0

I am getting a connection error due to the following code:
[code]
This is certainly a fault of google.client.storage for the following reasons:

1. I can upload a 60 meg file to google drive with no problem. Basically takes about 6 minutes.
2. When I try to upload a 20 meg file I get the aforementioned error.
3. I've uploaded about 70,000 files

[2020-02-03 09:43] HemangChothani commented on #3
@danjenson  sorry for the mess, surely this will help you please visit this [link](https://cloud.google.com/functions/docs/writing/http#handling_cors_requests).

[2020-02-03 10:56] HemangChothani commented on #3
@crwilcox  Please comment on this, For the   `OPTIONS`  request , backend should return the `Access-Control-Origin` header or what i share a [link](https://cloud.google.com/functions/docs/writing/http#handling_cors_requests) is the only option to handle cors.

[2020-02-03 16:49] danjenson commented on #3
It looks like that link is for Cloud Functions? I need to set CORS on my storage bucket, and I'm using the instructions here: https://googleapis.dev/python/storage/latest/buckets.html (search for 'cors')

[2020-02-04 07:10] HemangChothani commented on #3
@crwilcox This is back-end issue,so can you filed issue as internal issue.

[2020-02-04 22:18] frankyn commented on #23
This should be filed against https://github.com/googlecloudplatform/gsutil/issues/

Closing as it's not part of this library.

[2020-02-04 22:18] #23 closed

[2020-02-05 02:25] danjenson commented on #3
Is there any chance this will be resolved in the next few weeks? We're a team a Stanford that is planning on releasing a platform for data journalism next month at our big conference. However, a key element of that is having users be able to upload large datasets from the website. If it's unlikely this will be resolved, we need to investigate other platforms.

[2020-02-06 10:59] HemangChothani opened #46 "Storage: access token field is unused in system test 'test_create_signed_read_url_*_w_access_token'"
Currently in the system test `blob.generate_signed_url`  method passing [access_token=None](https://github.com/googleapis/python-storage/blob/master/tests/system.py#L981), Due to that `test_create_signed_read_url_*_w_access_token`  test not executed properly,so  needs to pass `value of access_token`. also need to change the [scope](https://github.com/googleapis/python-storage/blob/master/tests/sys

[2020-02-10 13:16] yoshi-automation opened #50 "Synthesis failed for python-storage"
Hello! Autosynth couldn't regenerate python-storage. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/71791922-d263-4d09-a962-3c1472f71410).

[2020-02-10 18:53] crwilcox commented on #14
@plamut is all of the work done for this (minus a release)?

[2020-02-10 20:35] plamut commented on #14
@crwilcox Yes, the bug no longer occurs if `google-auth>=1.11.0 is used`.

[2020-02-10 23:57] danjenson commented on #3
@HemangChothani, any word?

[2020-02-11 06:47] HemangChothani commented on #3
@frankyn  @crwilcox  could you please comment or any suggestion.

[2020-02-11 13:24] yoshi-automation commented on #50
Autosynth is still having trouble generating python-storage. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/0ad5873d-3057-4798-a0b0-db4db3218285).

[2020-02-11 18:32] frankyn commented on #19
Hi folks,

I dug into the Page iterator and found that max_results is strict in the total number of results to retrieve. However, I think there's a usability issue here in the case you want to limit the number of items per page while retrieving all items.

Given the expectation is set in the code, moving forward with the PR that exists makes sense for now because it would require adding support fo

[2020-02-11 18:34] #19 closed

[2020-02-11 18:57] frankyn commented on #3
Hi folks,

Thanks for the ping @HemangChothani.

I reviewed the Storage documentation. I have a short question while I dig into this as nothing stands out right now.

In documentation:

Have you attempted to clear your browser cache @danjenson? I understand that cache-control is private and maxAge is 0.
Apologies if this is not very helpful but I'm taking a look and want to make sure this isn't th

[2020-02-11 19:13] #14 closed

[2020-02-11 19:13] #18 closed

[2020-02-11 20:55] #6 closed

[2020-02-11 20:55] #13 closed

[2020-02-11 21:41] crwilcox commented on #5
This is complete as of https://github.com/googleapis/python-storage/pull/45

[2020-02-11 21:41] #5 closed

[2020-02-12 01:33] crwilcox opened #52 "Fix test for IAM get/set."
[code]

[2020-02-12 05:31] danjenson commented on #3
Yes, countless times. I also used incognito since it shouldn't store that information

[2020-02-12 12:59] tcwalther opened #54 "Clarify documentation on retrieving md5 and/or crc32c hash for blobs without downloading"
**Update:** Just briefly after posting the issue, I found out how to do it. I'm thus recommending to update the documentation to clarify how to do this.

If I understand it correctly, retrieving a blob's md5 or crc32c hash without downloading it requires calling `reload()`:

[code]

It took me almost an hour to find that out, including browsing the documentation, browsing SO, cloning the source an

[2020-02-12 13:24] yoshi-automation commented on #50
Autosynth is still having trouble generating python-storage. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/6904a382-3473-46d3-a8f6-f153782eff73).

[2020-02-12 17:01] #52 closed

[2020-02-12 17:26] #46 closed

[2020-02-12 18:41] tseaver opened #55 "'test_access_to_public_bucket' flakes with 503"
From [this test run](https://source.cloud.google.com/results/invocations/ee54aa46-e486-4be1-bdfe-829f0ac07ec8/targets/cloud-devrel%2Fclient-libraries%2Fpython%2Fgoogleapis%2Fpython-storage%2Fpresubmit%2Fpresubmit/log):

[code]

[2020-02-12 19:08] tseaver commented on #12
Working through the spec today:  some bits are overlapped with #9 and @IlyaFaer's PR #48.

[2020-02-12 19:35] frankyn commented on #12
Thanks for the update @tseaver. PLMK if there's anything I can help you with.

[2020-02-12 19:53] tseaver opened #57 "Update shared conformance tests"
~~We need to add a test suite which exercises the cross-language tests and fix anything where we don't pass.~~

We need to *update* the shared conformance tests to match the current spec:

- [Proto spec for the testcase file](https://github.com/googleapis/conformance-tests/blob/master/storage/v1/proto/google/cloud/conformance/storage/v1/tests.proto)
- [Testcase file](https://github.com/googleapis/

[2020-02-12 20:06] frankyn commented on #57
@tseaver I misunderstood this file -> https://github.com/googleapis/python-storage/blob/master/tests/unit/url_signer_v4_test_data.json

I understood this JSON file as being the cross-language conformance tests.

[2020-02-12 20:09] tseaver commented on #57
Hmmm, looks like that *is* conformance tests.  Dunno how I missed that they existed already.

[2020-02-12 20:19] frankyn commented on #57
+1, I recently changed the schema and added conformance tests for Signed Policies.

[2020-02-12 20:29] tseaver commented on #57
Suggested implemenation plan:

- [ ] Move the test drivers for signing out into a separate file, like the `test_cross_language.py` file in `python-firestore`.
- [ ] Rename the data file to match the upstream name (`v4_signatures.json`).
- [ ] Update the test drivers to match the new schema, if needed, and fix anything broken.
- [ ] Add a test driver for the Signed Policy testcases.

[2020-02-12 23:48] tseaver commented on #57
I have a branch which implements the first two steps cleanly, and a stash for the third one, where some of the tests no longer pass.  Actually landing the new tests is going to need to wait for PRs #48 and #56 to land, I think.

[2020-02-13 00:01] tseaver commented on #10
Analysis:

- `_signing.generate_signed_url_v4` already supports this feature via its `api_access_endpoint` argument.
- We could add a `virtual_host` flag to `Blob.generate_signed_url` and `Bucket.generate_signed_url` which defaults `False` for now (following Option 2 in the spec).  If set to `True`, then the blob/bucket would pass in the appropriate `api_access_endpoint`, along with the shorter `r

[2020-02-13 00:08] tseaver commented on #11
Analysis:

- `_signing.generate_signed_url_v4` already supports this feature via its `api_access_endpoint` argument.
- We could add a `use_cname` flag to `Blob.generate_signed_url` and `Bucket.generate_signed_url` which defaults `None`.  If set, then the blob/bucket would pass in the value or the argument as  `api_access_endpoint`, along with the shorter `resource`.
- If `use_cname` is passed as a

[2020-02-13 01:40] #12 closed

[2020-02-13 01:59] HemangChothani commented on #10
@tres Thanks for the analysis, the same is implemented and it's under the
internal review process.

On Thu, 13 Feb, 2020, 5:31 AM Tres Seaver, <notifications@github.com> wrote:

[2020-02-13 02:08] danjenson commented on #3
Out of curiosity, why was this downgraded? Seems like being able to upload a file to cloud storage from a browser is a pretty important use case? Right now we're switching to flexible instances on app engine so we can increase the memory so users can upload to the server and then we upload from the server to storage. This is clearly not ideal and will probably cost us a non trivial amount since ou

[2020-02-13 13:24] yoshi-automation commented on #50
Autosynth is still having trouble generating python-storage. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/6dd2e784-1883-4c88-8c00-2c81557a384b).

[2020-02-13 18:54] #15 closed

[2020-02-14 13:25] yoshi-automation commented on #50
Autosynth is still having trouble generating python-storage. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/42d0bffc-ea0c-461e-b1f5-f755839e2fc1).

[2020-02-15 13:25] yoshi-automation commented on #50
Autosynth is still having trouble generating python-storage. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/fadada38-f1bf-4372-9a57-fa785cc95c6e).

[2020-02-16 13:25] yoshi-automation commented on #50
Autosynth is still having trouble generating python-storage. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/2745fde9-1201-4978-a666-ca57cb6bc7a1).

[2020-02-17 08:22] IlyaFaer commented on #20
Closing the issue due to inactivity. Feel free to reopen, if problem is not yet solved for you

[2020-02-17 08:22] #20 closed

[2020-02-17 13:24] yoshi-automation commented on #50
Autosynth is still having trouble generating python-storage. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b23ee9e7-1b21-4458-a901-8f55f6c37ef4).

[2020-02-18 13:27] yoshi-automation commented on #50
Autosynth is still having trouble generating python-storage. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ca6d3684-2884-4f2b-8d02-bc7e55dc30d2).

[2020-02-18 16:00] danjenson commented on #3
Any progress on this?

[2020-02-18 20:29] yoshi-automation commented on #50
Autosynth is still having trouble generating python-storage. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/293302b2-d890-4a9b-9f3a-fe33c6058a63).

[2020-02-18 20:34] yoshi-automation commented on #50
Autosynth is still having trouble generating python-storage. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/8232588b-108d-4b4e-872d-d85b34d7b6cf).

[2020-02-18 22:36] braussjoss opened #69 "Python GCS Client library low performance on multi-thread"
Experiencing slow performance on a multi-thread script in a GCE VM, the Bucket and the VM are in the same zone (us-east1). After upgrading the library to the latest (1.25), the performance increased, but they found a bottle neck when starting to use 10 threads and over.
Threads timeGCP timeAWS
5 48.4 118.0
10 25.1 58.6
15 22.5 41.3
20 24.1 30.9
25 24.5 25.3

The test data set consists of 114,750 f

[2020-02-19 02:31] yoshi-automation commented on #50
Autosynth passed, closing! :green_heart:

[2020-02-19 02:31] #50 closed

[2020-02-19 19:45] bboe opened #66 "Support '<' comparision for some blob objects"
It would be great to take a list of blob objects, from the same bucket, and sort them lexicographically by name. While it appears that `list_blobs` always returns blobs sorted by name, the [API endpoint documentation](https://cloud.google.com/storage/docs/json_api/v1/objects/list) does not provide any such guarantee. Note, however, that there is such a mention here: https://cloud.google.com/storag

[2020-02-20 10:42] HemangChothani opened #68 "Storage: Expose the get method of Notifications"
-> Expose the get method for `BucketNotification` class

Json API documentation: https://cloud.google.com/storage/docs/json_api/v1/notifications/get

Related Feature request in java: https://github.com/googleapis/java-storage/issues/138

/cc: @frankyn @crwilcox

[2020-02-20 10:55] HemangChothani commented on #68
Closing this Feature request as found [reload](https://github.com/googleapis/python-storage/blob/master/google/cloud/storage/notification.py#L309) method work as get notification.

[2020-02-20 13:35] HemangChothani commented on #68
@frankyn @crwilcox Need a suggestion.
Is it ok to expose a method which get a notification from `notificationId`?

Method:
`bucket.get_notification(notification_id)`

[2020-02-20 14:52] frankyn commented on #68
Yes, this is an issue with usability with get_notification, in which get by Id is not available.

[2020-02-20 15:21] frankyn commented on #68
Updated comment with potential examples.

Note: please prioritize v4 signature requests that haven't started:
https://github.com/googleapis/python-storage/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+v4

[2020-02-20 17:52] crwilcox commented on #69
It might be interesting to log the http traffic and inspect what is going on.
[code]

[2020-02-20 18:41] braussjoss commented on #69
[httplog_4workers_20files.txt](https://github.com/googleapis/python-storage/files/4232429/httplog_4workers_20files.txt)
[httplog.txt](https://github.com/googleapis/python-storage/files/4232431/httplog.txt)

"Per Chris's request I ran the test program with HTTP logging turned on. Here is the output for a run with 1 worker retrieving one file."

[2020-02-20 19:25] crwilcox commented on #69
First off, I made some test data by running this locally and uploading to a directory in storage:
[code]
for n in {1..1000}; do
    dd if=/dev/urandom of=file$( printf %03d "$n" ).data bs=1 count=1024
done
[code]

I also made some small modifications to the code to make it a bit more flexible.
- I set defaults in the file to make running in a debugger easier. if you set your own they will still be

[2020-02-21 01:10] crwilcox commented on #69
After a bit of investigation. testing from my network (Seattle, WA). running 8 workers on a machine with a Quad-Core Intel Core i7 (8 vCores). Bucket is multiregion us.

I tracked metadata retrieval, downloading the 1kb file, setting metadata. Each takes right around .15 - .25 seconds. If it takes longer than .25 I print a warning.  The attached log has a single warning from a  metadata update tha

[2020-02-21 05:59] frankyn commented on #3
Bumping priority on this. It's in my queue but don't have an update at this time apologies for the delay @danjenson.

[2020-02-21 18:35] crwilcox commented on #69
Closing this out as customer has been helped. Will open bugs to dig into specific things we can do to help folks avoid this in the future. It seems the threaded version of this code has some contention. Moving to multiprocessing is much faster.

Using threads: ~30 seconds
After moving to multiprocesing:
16 workers:  19.4 seconds
32 workers:  13.2 seconds
64 workers: 10.3 seconds
128 workers: 9.1 s

[2020-02-21 18:35] #69 closed

[2020-02-21 18:36] crwilcox opened #70 "Create documentation for parallel uploads, suggest multiprocessing."
While working through #69, we found that threading is pretty slow. There is likely work the client can do to become less blocking, but suggesting multiprocessing should help users to stay on the happy path. This is what `gsutil -m` is doing and works very well for multiple uploads.

[2020-02-21 18:38] crwilcox commented on #70
Related to https://github.com/googleapis/python-storage/issues/36

[2020-02-21 21:54] jkwlui commented on #3
A shorted update - I've reached out to the service team since it appears to me this could have been a backend issue with the bad preflight request. I'll respond once we got a response from them.

@danjenson We're sorry for the delay and I appreciate your patience while we work to resolve this.

[2020-02-25 16:13] xbrianh commented on #29
I've implemented [gs-chunked-io](https://github.com/xbrianh/gs-chunked-io) to satisfy my own needs for GS read/write streams. It's designed to compliment the Google python API.
[code]

[2020-02-25 21:43] tseaver commented on #66
As I noted on your PR, perhaps it would make sense to allow sorting objects across buckets.  @frankyn, WDYT?

[2020-02-26 05:22] HemangChothani commented on #11
@tseaver have you started working on this?if not then may i work on this issue?

[2020-02-26 10:34] vfa-minhtv opened #74 "Storage: Timeout when upload file using google.cloud.storage.Blob.upload_from_filename()"
#### Environment details

OS: MacOS 10.15.1
Python: Python 3.7.4
Google-cloud version:

[code]

#### Steps to reproduce

1. Prepare a file with size >300MB
2. Run `blob.upload_from_filename("path/on/storage", "path/of/big/file/on/local")`

#### Stack trace
[code]

#### Expected result

No timeout error

#### Actual result

The upload timeout after 1 minute

[2020-02-26 16:06] tseaver commented on #11
On 2/26/20 12:22 AM, HemangChothani wrote:

I do have a PR in progress -- thanks for checking!

Tres.
--
==================================================
Tres Seaver  540-429-0999    tseaver@palladion.com
Palladion Software            http://palladion.com

[2020-03-04 09:29] HemangChothani opened #76 "Storage: Mislead BucketNotification.reload method's return type in doc-string"
BucketNotification's reload method document specify `return type = bool`
https://github.com/googleapis/python-storage/blob/98684b8174f8d88d056d0a8c907a9639bc042c30/google/cloud/storage/notification.py#L329-L331

But, it returns nothing.
https://github.com/googleapis/python-storage/blob/98684b8174f8d88d056d0a8c907a9639bc042c30/google/cloud/storage/notification.py#L342-L345

[2020-03-04 09:31] IlyaFaer commented on #22
@VelizarVESSELINOV, code snippet in this issue doesn't give much of info, but I think, you're using `Bucket.delete_blobs()` method. If so, it doesn't seem that "wait" option is needed. According to [Storage docs](https://cloud.google.com/storage/docs/consistency), object deletion is strong consistent. That means, if you called `objects.delete` method and it returned empty result, than object is al

[2020-03-04 09:31] #22 closed

[2020-03-05 11:34] HemangChothani opened #80 "Storage: inconsistent usage of "optional" keyword in doc-string."
some places optional use like
https://github.com/googleapis/python-storage/blob/98684b8174f8d88d056d0a8c907a9639bc042c30/google/cloud/storage/blob.py#L405

other variants:
https://github.com/googleapis/python-storage/blob/98684b8174f8d88d056d0a8c907a9639bc042c30/google/cloud/storage/blob.py#L534

https://github.com/googleapis/python-storage/blob/98684b8174f8d88d056d0a8c907a9639bc042c30/google/clou

[2020-03-05 17:42] #76 closed

[2020-03-05 18:42] davidbernat commented on #31
To be clear: when this was moved to "feature request" by @frankyn , the implied statement is:

there is no way to use blob.exists() within a batch context

Is this correct?

Thanks!

[2020-03-05 20:48] crwilcox commented on #74
You state you ran `blob.upload_from_filename("path/on/storage", "path/of/big/file/on/local")`, which doesn't match the signature:
`upload_from_filename(filename, content_type=None, client=None, predefined_acl=None)`

I created a repro, but unfortunately this is working well for me.
[code]

For good measure, I tried the same thing with a 4Gb file as well:

[code]

[code]

[2020-03-06 04:03] #68 closed

[2020-03-06 19:07] davidbernat commented on #31
For @ludwigschubert and those who arrive via Google.

I found a simple fix for this: wrap each call for blob.exists() in a try/catch.

[code]

Of course, there are two layers of abstraction above which are not expressly necessary, but I've copy-pasted my internal code that handles the parallelization for all the cloud client functions. Feel free to comment or DM me for more information as necessar

[2020-03-07 00:35] #9 closed

[2020-03-09 01:23] ElectricSwan commented on #74
I'm also getting the same error on both Ubuntu 18.0.4 with Python 3.6.9 and Windows 10 with Python 3.8.0, both using google-cloud-storage 1.26.0
The timeout happens after **60 seconds**.
I'm limited to around 800 kbps upload speed, so for me that gives a timeout for any files larger than 6 MB.
Any uploads that complete within 60 seconds are successful.

[2020-03-09 18:33] frankyn opened #82 "Documentation: Blob name is not documented as a property"
Received an internal request to update Storage Documentation to include Blob.name property.

[2020-03-10 07:28] #54 closed

[2020-03-10 15:21] crwilcox commented on #74
@ElectricSwan , what is the code you are running? The sample code I provided runs well beyond 60 seconds. Simplified it is
[code]

[2020-03-10 22:44] ElectricSwan commented on #74
@crwilcox , I just ran your simplified code in a virtual env with Python 3.6.9 on Ubuntu 18.04, and I get the timeout at 60 seconds.

I get the exact same timeout error with your simplified code on my Windows 10 PC running Python 3.8.0.

Here is the `pip freeze` from the Ubuntu PC, which appears identical to yours;

[code]

Here's my `pip freeze` from the Windows PC;

[code]
The only potentially r

[2020-03-11 05:20] #11 closed

[2020-03-11 05:23] frankyn commented on #8
@tseaver or @HemangChothani do you have time to pick this request up?

[2020-03-11 05:30] frankyn commented on #10
Missing conformance tests

[2020-03-11 05:31] frankyn commented on #57
@HemangChothani, @tseaver is tracking conformance test updates in here. Referenced issues are merged/unblocked.

[2020-03-11 08:31] IlyaFaer commented on #8
@frankyn, my PR for query parameters is merged, so, I think, I'll take a look to this one

[2020-03-11 16:23] frankyn commented on #8
Thanks @IlyaFaer

[2020-03-12 17:17] #10 closed

[2020-03-13 01:57] vfa-minhtv commented on #74
Hi @crwilcox!

So sorry. I gave a wrong example. My actual code is:

![image](https://user-images.githubusercontent.com/43735479/76582269-577a5480-6508-11ea-90b3-c110f6dfcc94.png)

[2020-03-13 01:58] vfa-minhtv commented on #74
@ElectricSwan

Exact same thing happen for me. My internet is also limited so 60 seconds timeout is insufficient to finish uploading

[2020-03-13 15:27] Raab70 opened #86 "Batch context manager fails when exiting"
Thanks for stopping by to let us know something could be better!

#### Environment details

  - OS type and version: OSX 10.15
  - Python version: `python --version` 3.6.8
  - pip version: `pip --version` 18.1
  - `google-cloud-storage` version: `pip show google-cloud-storage`
[code]

#### Steps to reproduce

  1. Create a batch with a multiple of 100 objects
  2. ValueError is raised on exit

###

[2020-03-13 15:30] #86 closed

[2020-03-14 00:32] #80 closed

[2020-03-16 12:58] petedannemann commented on #29
Release 1.10 last night included GCS functionality

[2020-03-17 17:47] danjenson commented on #3
Has this been remedied?

[2020-03-18 17:02] frankyn commented on #3
Hi @danjenson, it's a work in progress and we are speaking with the service team. We appreciate your patience.

[2020-03-23 05:36] frankyn commented on #38
@IlyaFaer I believe this is complete. I'm closing FR.

If there's something that I missed please reopen.

[2020-03-23 05:44] HemangChothani commented on #82
@frankyn Can i document  blob.name as a static doc string like `
"""
        property :attr:`name`
            Get the blob's name.
        """ ` as can't use` @property ` decorator to document blob name as a property because it break the existing functionality or is there any other solution to document which i am missing?

[2020-03-23 08:48] IlyaFaer commented on #38
@frankyn, I've delegated the last part to @paul1319
@paul1319, do you have something to push for this issue?

[2020-03-23 09:41] blinkeye-ai commented on #74
@vfa-minhtv, I have been experiencing similar timeout issues on my macOS and Win platforms with google-cloud-storage==1.26.0. However, the timeout issues are inconsistent and apparently dependent on the network speed. As already mentioned in this thread, typically it fails with very slow upload speed.

I checked the code and found that any data stream of 8 MB and larger will **_do_resumable_upload

[2020-03-23 09:43] aborzin commented on #74
@vfa-minhtv, I have been experiencing similar timeout issues on my macOS and Win platforms with google-cloud-storage==1.26.0. However, the timeout issues are inconsistent and apparently dependent on the network speed. As already mentioned in this thread, typically it fails with very slow upload speed.

I checked the code and found that any data stream of 8 MB and larger will **_do_resumable_upload

[2020-03-23 17:58] frankyn commented on #38
Reopening in case there's something pending.

[2020-03-24 01:29] frankyn commented on #82
Thanks @HemangChothani, could you clarify what would change by using `@property` decorator?

[2020-03-24 07:22] ElectricSwan commented on #74
Thank you @aborzin for sharing your excellent investigation.

I've edited lines 108 and 109 of
`env\Lib\site-packages\google\cloud\storage\blob.py`
and set the values of both to to 5 MB
[code]
With my 800 kbps upload speed, the maximum size was 6 MB, so I chose 5 MB to provide some margin.
I can now successfully upload large files on my 800 kbps upload link.

[2020-03-24 08:51] aborzin commented on #74
@ElectricSwan, my problem with the workaround I proposed earlier is that it was not portable (because it changes the code in the local version of google-cloud-storage lib). So decided to override the chunk size of the blob object after it is created:

[code]
Even though it is a bad practice to access the "private" variable of a class, it seems to be a reasonable solution for now.

[2020-03-24 12:56] ElectricSwan commented on #74
@aborzin, I agree wholeheartedly that it is not a good idea to change code in a library, and I do prefer your 2nd solution, but unfortunately it doesn't work for me, because of the test at line 1191;
`if size is not None and size <= _MAX_MULTIPART_SIZE:`

In my case (800 kbps upload), I am unable to upload 8 MB within 60 seconds. That is why I have to change the value of `_MAX_MULTIPART_SIZE` as w

[2020-03-24 13:20] aborzin commented on #74
@ElectricSwan, I agree that my second solution works only if you set the chunk size to 8MB or larger because of the _MAX_MULTIPART_SIZE threshold. However I think you can override it from your code as well:

[code]
I debugged this option and and the threshold was set correctly to 5 MB. Of course, you can do it once, after the google.cloud.storage package is loaded (and not do it for each and every

[2020-03-24 13:40] ElectricSwan commented on #74
@aborzin, I was working on the same solution, and was just about to post it when I got your notification.

I've done;
[code]

[2020-03-24 15:12] ElectricSwan commented on #74
@aborzin , I found that there is a setter for chunk size on the blob object, so I've replaced the module-level
`storage.blob._DEFAULT_CHUNKSIZE = 5 * 1024* 1024  # 5 MB`
with
`blob.chunk_size = 5 * 1024 * 1024 # Set 5 MB blob size`
when I create the blob, which means 1 less access to a protected member.

This also means that, for anyone with an upload speed of at least 1.1 Mbps [1], then no change

[2020-03-26 21:54] BennZoll opened #90 "Jövőnemzedék"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

 **Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

[2020-03-30 20:17] jkwlui commented on #3
@danjenson, can you try adding `"responseHeader": ["*"]` to your bucket's CORS config?

[2020-03-31 16:16] IlyaFaer opened #92 "Update conformance tests to fit the new format"
Bring Storage conformance tests exactly to [v4_signatures.json](https://github.com/googleapis/conformance-tests/blob/master/storage/v1/v4_signatures.json) format (see [comment](https://github.com/googleapis/python-storage/pull/87#issuecomment-606726025)). This should be done after merging [POST policies PR](https://github.com/googleapis/python-storage/pull/87).

/cc @frankyn, @crwilcox

[2020-03-31 16:55] frankyn commented on #38
@IlyaFaer haven't heard back for a bit. What's remaining?

[2020-03-31 16:59] paul1319 commented on #38
@frankyn as I see Blob class Refactor and Deprecate part.

[2020-03-31 23:00] offlinemark opened #93 "Creating Client from explicit credentials requires passing project"
Thanks for stopping by to let us know something could be better!

#### Environment details

  - OS type and version: mac 10.14.6
  - Python version: `python --version` 3.7.6
  - pip version: `pip --version` 20.0.2
  - `google-cloud-storage` version: `pip show google-cloud-storage` 1.26.0

#### Steps to reproduce

Creating a Client using an explicit credentials object fails if the project parameter

[2020-04-01 00:45] llarco opened #94 "Attempting to download blob from private bucket using anonymous client throws an opaque error"
#### Environment details

  - OS type and version: debian9
  - Python version: 2.7.13
  - pip version: 9.0.1
  - `google-cloud-storage` version: 1.26.0

#### Steps to reproduce

1. Upload a file into a private bucket
2. Run code below

#### Code example

[code]

#### Stack trace
[code]

Making sure to follow these steps will guarantee the quickest resolution possible.

Thanks!

[2020-04-01 19:14] frankyn commented on #94
Thanks @llarco to be clear, you mentioned using a large object size, could you provide a file size that you found to be consistent to repro this issue?

[2020-04-01 20:16] llarco commented on #94
`gsutil du` returns 549266284

[2020-04-02 04:11] #8 closed

[2020-04-02 10:12] IlyaFaer commented on #92
@frankyn, in `signingV4Tests` we have `expiration` as `str`:
https://github.com/googleapis/conformance-tests/blob/24a5e2373d1240ff3538f9999888053ba8b6a539/storage/v1/v4_signatures.json#L8

But in `postPolicyV4Tests` it is `int`:
https://github.com/googleapis/conformance-tests/blob/24a5e2373d1240ff3538f9999888053ba8b6a539/storage/v1/v4_signatures.json#L281

Should we bring this to a single type?

[2020-04-02 13:30] HemangChothani commented on #93
@offlinemark  I am not able to reproduce, Found two ways to create client with explicit credentials which works for me.

Sample code:

    import json
    from google.cloud import storage
    from google.oauth2 import service_account

    # env contains contents json keyfile (path)
    cred_env = os.environ['GCP_CRED']

    with io.open(cred_env, "r", encoding="utf-8") as json_file:
        data =

[2020-04-02 17:01] IlyaFaer opened #97 "TestRetentionPolicy: bucket deletion conflict on teardown"
`test_system.TestRetentionPolicy` teardown occasionally fails because of presence of a blob with not yet discarded retention policy. Detected in [PR](https://github.com/googleapis/python-storage/pull/96).

kokoro logs:
[code]

[2020-04-02 17:10] #92 closed

[2020-04-02 17:13] frankyn commented on #92
I just saw this question.

Yes, bring it in as an int. I'm surprised we didnt' catch that during the signed URLs or Post Policies.

[2020-04-02 18:21] offlinemark commented on #93
@HemangChothani I think was unclear; in my code the environment variable contains the *contents* of the json file. Not a path.

[2020-04-02 18:34] offlinemark commented on #93
Seems like the issue I'm seeing is here. If there is no explicit project passed, the environment is the only place that is searched, although it is also plainly available in `credentials.project_id`.

https://github.com/googleapis/python-cloud-core/blob/557a7cd408d75d69e11790eafa8beb03174cbee9/google/cloud/client.py#L226

[2020-04-02 18:39] offlinemark commented on #93
Also, fwiw none of your sample code works for me, even if the env did have a path (instead of a json strong). :/ You're certain that you don't have a valid `GOOGLE_APPLICATION_CREDENTIALS` in your env?

[2020-04-03 00:38] frankyn commented on #57
This was fixed by @IlyaFaer

[2020-04-03 00:38] #57 closed

[2020-04-03 07:08] HemangChothani commented on #93
@offlinemark  Yes my bad , `GOOGLE_APPLICATION_CREDENTIALS` was set as default in my system, now able to reproduce it. I examined whole code and its necessary to pass `project` when use explicit credential, I think need to update auth documentation.
After discuss with concerned person I will create issue in related library and update the doc.

[2020-04-03 07:31] HemangChothani commented on #93
Here is the documentation of [Credentials](https://google-auth.readthedocs.io/en/stable/reference/google.auth.credentials.html#google.auth.credentials.Credentials) class to create explicit credentials .The class has no property like `project_id` so won't search in credential.

[2020-04-03 08:30] AnuroopSuresh commented on #3
hello, facing the same issue. 'gsutil cors get gs://...' output:
[code]
my NodeJs Code:
[code]

browser response:
[code]
No. Access-control-allow-origin header. Plz any update. ??

[2020-04-03 14:25] offlinemark commented on #93
that is the base class. here's the actual class that is instantiated.

https://google-auth.readthedocs.io/en/latest/reference/google.oauth2.service_account.html#google.oauth2.service_account.Credentials.project_id

On Fri, Apr 3, 2020 at 3:31 AM HemangChothani <notifications@github.com>
wrote:

[2020-04-03 17:39] #97 closed

[2020-04-06 11:11] HemangChothani commented on #93
@offlinemark Ok,  To fulfill this feature we need to pass 'credentials' [here](https://github.com/googleapis/python-cloud-core/blob/557a7cd408d75d69e11790eafa8beb03174cbee9/google/cloud/client.py#L226) and also need to add method in `google-auth` [here](https://github.com/googleapis/google-auth-library-python/blob/cc614a697115921ad5265991334b42de51f53cf3/google/auth/_default.py#L300) to check the

[2020-04-06 16:04] jeliashi commented on #17
are there any updates on this? I experience the same error...

[2020-04-06 16:51] thnee commented on #37
I really wonder how an argument gets added if it never had an implementation.. But this bug also makes the very existence of `rename_blob` very misleading, unless it is extended to also include copying of the ACL, because that is definitely what one would expect from a function with that name.

Ultimately it would make much more sense if GCS would just add proper `move` and `copy` operations in th

[2020-04-08 17:24] danjenson commented on #3
Same, any update? This is taking quite a while for a p1 bug. We can't load anything on our domain/website directly from storage due to this issue.

[2020-04-09 11:15] HemangChothani opened #100 "Building the docs breaks"
I noticed that building the docs locally on master fails due to the following error:

`sphinx.errors.SphinxWarning: /python-storage/docs/index.rst:27:toctree contains reference to document 'changelog' that doesn't have a title: no link will be generated`

It turns out that the issue does not occur with the older version of Sphinx (< 3.x), thus it appears as a bug in the Sphinx package itself. A wo

[2020-04-09 12:38] peeyushagg opened #101 "download_as_string method for Cloud Storage fails"
I feel this could be similar to https://github.com/googleapis/google-cloud-python/issues/3747
But the fix suggested didn't work
#### Environment details

1. Google Cloud Storage
2. Ubuntu 1.18 | Mac OSX - Mojave 10.14.6 (18G84)
3. Python 3.7.6
4. google-cloud-storage==1.23.0, requests=2.22.0

#### Steps to reproduce
1. Upload a PNG image to google cloud storage
2. Try to retrieve the image using t

[2020-04-09 16:46] busunkim96 commented on #101
Could you try running the code in a fresh virtual environment?

[code]

[2020-04-09 17:50] pitrou opened #102 ""Anonymous credentials cannot be refreshed" with fake-gcs-server"
- OS type and version: Ubuntu 18.04
  - Python version: 3.7.6
  - pip version: 20.0.2
  - `google-cloud-storage` version: 1.27.0

I'm trying to use [fake-gcs-server](https://github.com/fsouza/fake-gcs-server) for local GCS testing.

Basic client setup works fine:
[code]

I can list buckets and blobs:
[code]

`fake-gcs-server` doesn't need any credentials, so reading the file should just work. But

[2020-04-09 17:51] pitrou commented on #102
From looking at Wireshark traces, it seems that the client is making requests to `storage.googleapis.com`. Yet I've configured a specific `endpoint`...

[2020-04-10 00:44] jkwlui commented on #3
Hi, @danjenson. Again we apologize for the delay. If this is a PUT request, you shouldn't need to deal with resumable headers.

Here's a set of steps that worked for me:

[code]

[code]

generate_signed_url.py
[code]

Then run `python generate_signed_url.py <bucket-name>`, which returns a curl command that makes an OPTIONS request. Run the curl command.

curl returns CORS response headers as expec

[2020-04-10 14:15] HemangChothani commented on #101
@peeyushagg I have tried to reproduce with your given details , but unable to do that.

Try running the code with fresh environment as mentioned above or update the libraries .

**Environment Details:**

1. google-cloud-storage==1.27.0, requests==2.23.0
2. google-resumable-media==0.5.0
3. Python 3.7

[2020-04-13 11:43] HemangChothani commented on #102
@pitrou  As per my investigation i thought you missed to declare [PUBLIC_HOST](https://github.com/fsouza/fake-gcs-server/blob/master/examples/python/python.py#L14), found in example of [fake-gcs-server](https://github.com/fsouza/fake-gcs-server/blob/master/examples/python/python.py)

Here is the example which works for me:

[code]

[2020-04-13 11:59] pitrou commented on #102
Thank you. Is it really required to monkeypath all those private variables in `storage.blob`? Have I missed something in the documentation?

I would have hoped that passing `api_endpoint` is sufficient...

[2020-04-13 12:02] HemangChothani commented on #102
@pitrou Yes, it's necessary. I found the example which shared by fake-gcs-server.
Here is the link:  https://github.com/fsouza/fake-gcs-server/blob/master/examples/python/python.py

[2020-04-13 12:02] HemangChothani commented on #90
@BennZoll It is not clear what the issue / feature request is about, unfortunately. Could you please update the description?

[2020-04-13 12:36] HemangChothani opened #105 "use converted expiration parameter for signed_query_params to generate_signed_url_v2"
Issue created from the comment https://github.com/googleapis/google-cloud-python/pull/9889#issuecomment-612694371

suspected line of code.
            https://github.com/googleapis/python-storage/blob/5c04eefe2599f13cf37b91cf60bd242e64b97bd7/google/cloud/storage/_signing.py#L387

/cc @frankyn

[2020-04-13 17:37] frankyn commented on #105
Should be number of seconds since epoch instead of a strict conversion from int to str type: https://cloud.google.com/storage/docs/access-control/signed-urls-v2

Could you send a PR to fix this @HemangChothani?

[2020-04-13 17:38] frankyn commented on #94
Thanks @llarco
Duplicate of: https://github.com/googleapis/python-storage/issues/94

[2020-04-13 17:38] #94 closed

[2020-04-13 17:40] frankyn commented on #102
Deduped https://github.com/googleapis/python-storage/issues/94 against this issue.

@HemangChothani This is the second issue related to this. The patch is updating URL endpoints, could you look into making this easier for folks? It seems like it can be done when api_endpiont is passed in.

[2020-04-14 06:18] HemangChothani commented on #105
@frankyn Yes, for sure.

[2020-04-14 06:43] HemangChothani commented on #93
@frankyn Could you comment on this?

[2020-04-14 21:13] frankyn commented on #90
Hi @BennZoll, thanks for filing the issue. At the moment it's not actionable based on the information provided. I'm closing this issue. You're welcome to another issue, thank you for your patience.

[2020-04-14 21:13] #90 closed

[2020-04-15 22:16] brfulu opened #108 "Add retry (exponential backoff) for storage api functions"
While using the python-storage library, we were getting 503 or 504 errors from time to time when deleting or moving objects.
I looked up the [docs](https://cloud.google.com/storage/docs/exponential-backoff) for cloud storage and came across this:

At the bottom of the page there is also:

It would be super useful and in my opinion necessary to include retrying functionality into the python-storage

[2020-04-15 23:33] frankyn opened #109 "Regression in public_url and incorrectly encoding / as %2F"
Raised in #3809, and raising a new bug. blob.public_url returns a URL that encodes /. This was originally fixed in #3809, but there is now a regression.

@IlyaFaer could you pick up this fix?

Thank you.

[2020-04-16 00:41] frankyn commented on #66
Hi @bboe,

Apologies on the delay. How many objects do you have in your bucket? I'd prefer we not support this in the GCS library because `list_blobs()` may be called on a bucket with millions of objects. I think this is better suited in external project code rather than in the Python library.

I'm open to discussing this more, but want to be careful with what the library supports long-term.

[2020-04-16 00:45] #100 closed

[2020-04-16 03:16] bboe commented on #66
@frankyn thanks for the response. Yes, sorting millions of objects wouldn't be ideal.

Would it be possible to update the documentation to mention that list_blobs is guaranteed to return items sorted by key (assuming that's actually true)?

[2020-04-16 06:56] #105 closed

[2020-04-16 07:50] #82 closed

[2020-04-16 08:50] IlyaFaer commented on #109
@frankyn, sure, taking a look

[2020-04-16 09:54] IlyaFaer commented on #109
Hello @atteneder, speaking about [your comment](https://github.com/googleapis/google-cloud-python/issues/3809#issuecomment-613902760)

I suppose, the problem here is in version. `gcloud 0.18.3` seems to be [released](https://pypi.org/project/gcloud/0.18.3/) in 2016, while [the fix](https://github.com/googleapis/google-cloud-python/pull/4716) for slash escaping was made in 2018.

In `gcloud 0.18.3`

[2020-04-16 10:03] atteneder commented on #109
Hi,

thanks a lot for the hint!

I totally didn't read carefully enough that gcloud was replaced by google-cloud which was replaced by google-cloud-*

Will test soon, but I guess it's safe to say this can be closed.

Thanks a lot!

[2020-04-17 04:50] frankyn commented on #66
Reaching out to the backend service teams and will get back to you.

As long as I've used GCS, objects are listed in lexicographical order, but want to confirm because it's a strong statement and want to be careful.

[2020-04-17 05:02] frankyn commented on #109
Ah, thanks @IlyaFaer, for I got confused with / encoding versus spaces.

The latest library does support this as expected. Thanks for getting this unblocked!

[2020-04-17 05:02] #109 closed

[2020-04-17 05:04] #4 closed

[2020-04-17 23:40] frankyn commented on #93
Hi folks,

I filed an FR to see if this is something that we want to move forward on. I'm closing this issue because it's not only a Storage library request as it would update a common library shared other product libraries as well.

[2020-04-17 23:40] #93 closed

[2020-04-20 16:48] frankyn commented on #66
Hi @bboe, confirmed with backend team that this is true and not documented appropriately.

This is being resolved by Technical Writers internally and closing this issue.
Thanks for your patience @bboe!

[2020-04-20 16:48] #66 closed

[2020-04-20 16:49] #37 closed

[2020-04-20 17:00] bboe commented on #66
Thanks for following up @frankyn. I appreciate it.

[2020-04-20 23:11] YChebotaev opened #112 "Also cannot import name urllib"
(Ya, I know that's duplicate of googleapis/google-api-python-client#42 but I don't get any solution there)

macOS High Sierra 10.13.6
Python 2.7.10
pip 20.0.2

google-api-core==1.17.0
google-auth==1.14.0
google-cloud-core==1.3.0
google-cloud-storage==1.22.0
google-resumable-media==0.4.1
googleapis-common-protos==1.51.

#### Steps to reproduce

  1. Make a file with following content:
[code]

Error

[2020-04-21 16:54] busunkim96 commented on #112
Would you mind trying to install the library in a clean virtual environment?

[code]

[2020-04-21 17:22] dharanidhar-reddy commented on #3
Hi @jkwlui, Do you have any update on the issue? We are also facing it.
`gsutil cors get gs://...`
`[{"maxAgeSeconds": 3600, "method": ["PUT"], "origin": ["*"], "responseHeader": ["Authorization, Content-Range, Accept, Content-Type, Origin, Range"]}]`
This worked for some time.

![Screenshot from 2020-04-16 19-29-05](https://user-images.githubusercontent.com/36027421/79892706-8c8b9800-8420-11ea-8d

[2020-04-21 17:50] jkwlui commented on #3
@dharanidhar-reddy Thanks for the additional information. One question - do you have an estimate of how long did it work until it failed again?

[2020-04-21 18:01] dharanidhar-reddy commented on #3
I'm not really sure about how much time it worked. I worked on APR 16 and we checked a couple of hours ago and it didn't work.

[2020-04-21 19:34] YChebotaev commented on #112
It worked, but I cannot use venv and I cannot use python3.

I need exact versions like described.

[2020-04-22 17:23] vperezb commented on #21
Hi all, I arrived here because I was struggling to upload an image transformed using PIL to do a reduction in size. Was trying in the same way you did to upload an object from "bytes" type.

I hope this is the way I should participate in an issue like this one, by providing a fix that worked for me in my particular case. And would have helped me in the first place when I reached the issue.

From t

[2020-04-22 17:30] retnikt commented on #21
@vperezb the issue with this is, if the file-like object is a stream rather than in memory, e.g. network or disk, then using a string requires loading all the data into memory.

[2020-04-22 17:32] #16 closed

[2020-04-24 19:15] YChebotaev commented on #112
@busunkim96 Hey? Any help on this?

[2020-04-25 00:09] #102 closed

[2020-04-25 00:48] frankyn opened #117 "Storage Update Conformance Tests"
The Storage library support for Post Policy V4 has a security risk that is addressed in the latest PR to Storage conformance tests: googleapis/conformance-tests#31

The fix is to add {\"bucket\":\"bucket-name\"} to Post Policy V4 policy which is then signed.

Here's an example solution in Ruby: googleapis/google-cloud-ruby#5702

[2020-04-25 04:27] zachahuy02 commented on #17
I am getting the same error and was able to remove this error when disable https://support.google.com/a/answer/9368756?hl=en. Re-enable causes the same error.

[2020-04-26 18:41] YChebotaev commented on #112
Help?

[2020-04-27 01:09] emanuelem commented on #17
Hi @hixus ,

gsutil uses google-reauth-python library as you can see [here](https://github.com/GoogleCloudPlatform/gsutil/blob/9af326229303d8636dcb6743b7d8c49f59f50d16/gslib/gcs_json_credentials.py#L54).

There isn't much documentation out there on how to use that library, but you can try studying how it was implemented in gsutil [here](https://github.com/GoogleCloudPlatform/gsutil/blob/9af3262293

[2020-04-27 07:21] HemangChothani commented on #112
@YChebotaev  Could you please share the version of  `six` library. I think you need to upgrade the version of  `six` library and also try with upgraded the version of  `urllib3`

[2020-04-27 13:08] IlyaFaer commented on #117
@frankyn, I'm already in progress, I just have had some internet problems in the first half of the day.
Planning to push today.

[2020-04-27 14:24] #117 closed

[2020-04-27 14:49] YChebotaev commented on #112
@HemangChothani

[code]

[2020-04-27 19:04] reyesvicente commented on #20
I'm experiencing this issue now. This is the first time I've used GCP for storage in my Django project.

[2020-04-27 20:12] frankyn commented on #20
@reyesvicente could you file a new issue and provide reproduction steps if possible?

[2020-04-27 20:23] reyesvicente commented on #20
On it.

[2020-04-27 21:20] reyesvicente opened #119 "DefaultCredentialsError at /admin/users/team/add/ File 8844656af62eeebcb855178a8f5ceac8fa5bdb93 was not found."
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2020-04-27 21:20] reyesvicente commented on #20
Opened an [issue](https://github.com/googleapis/python-storage/issues/1190)

[2020-04-28 05:06] frankyn commented on #119
Hi @reyesvicente,

Thanks for filing the issue. Have you tried passing in credentials using example provided in django documentation:

[code]

I'm also curious if the file exists, but assuming that it does for now. Do know which version of google-cloud-storage is being used? `pip freeze` can help here.

[2020-04-28 06:54] HemangChothani commented on #112
@YChebotaev  I am not able to reproduce it, it might be related to the conflict of `six` lib versions. Try to find [other copy](https://github.com/googleapis/google-api-python-client/issues/42#issuecomment-323121983)of `six` it will help if multiple versions is installed.

Would you mind trying to install the libraries in a new virtual environment of python 2.7 with specific versions which mention

[2020-04-28 13:35] kilianstallz commented on #3
Same issue here, @danjenson

So we too generate a signed url using our backend API like this:
[code]
we are using this CORS policy for testing purposes:
[code]

This did not work using the browsers Fetch API, we switched to simple XHR-Requests like this:

[code]

works perfectly for us!

[2020-04-29 11:26] IlyaFaer opened #121 "Move bucket_bound_hostname code into helper"
For now we have three places in which we're using `bucket_bound_hostname`. The code is almost the same in all three places, so it'll be good to union it in single helper:
https://github.com/googleapis/python-storage/blob/616f1079e2c8b5a4c900f663a9688da64e2bc1b0/google/cloud/storage/blob.py#L517-L522

https://github.com/googleapis/python-storage/blob/616f1079e2c8b5a4c900f663a9688da64e2bc1b0/google/

[2020-04-29 17:23] frankyn commented on #121
that sounds good, thanks for catching the improvement.

[2020-04-29 19:06] BrandonY commented on #3
I have been trying to reproduce this problem but have so far been been unsuccessful. All of the CORS preflight requests I've tried have returned correct CORS headers (or not, should the request not be acceptable according to the bucket's policy). There can be up to a 30 second delay while new CORS policies propagate, which is expected, but asides from that I haven't seen any oddities.

Can anyone

[2020-04-29 21:45] reyesvicente commented on #119
The json file is present and is at `config/credentials.json`

On the `config/settings/production.py`, these are the settings for my storage:

[code]

[2020-04-30 08:50] HemangChothani commented on #2
@limbuu  Any update on this issue?

[2020-04-30 09:47] AnuroopSuresh commented on #3
[code]
Please try with this CORS header

https://github.com/googleapis/nodejs-storage/issues/1145

it worked for me

[2020-04-30 14:09] HemangChothani commented on #3
@danjenson Could please confirm that  given solution from [AnuroopSuresh](https://github.com/googleapis/python-storage/issues/3#issuecomment-621729811)  is  working for you or not .
It worked for me as well.

[2020-04-30 19:27] govindrai commented on #3
@danjenson I dunno if this will help, but I ran into this and spent about 6 hours on it. Here's what was happening for me:

I tried to upload an image with a signed url. That request would return a CORS error in Chrome devtools stating that dreaded `no "ACCESS_CONTROL_ALLOW_METHODS" headers were present..`. Since Chrome has taken out OPTIONS requests visibility on chrome 79+, I used a tool called

[2020-05-01 15:53] FrancoisMasson1990 opened #124 "Read blob without downloaded it"
is it possible to read blobs without downloading them in google cloud ?

[2020-05-01 17:24] FrancoisMasson1990 commented on #124
Hello @busunkim96

Indeed I am using google-cloud-storage. In a bucket I have a folder where some files are saved in a .db format (SQLite 3 format). What I would like to do is to read the data inside these files without download it locally. "data = blob.read_data" in a pythonic way
Right now, I access the bucket, download the files then read them locally.
Is it possible ?

[2020-05-02 00:30] busunkim96 commented on #124
I think `download_as_string` will work for your use case:

[code]

[2020-05-03 22:06] FrancoisMasson1990 commented on #124
Hello @busunkim96,

it returns bytes object. Do you know you to convert it to the original db format ?

[2020-05-04 16:29] frankyn commented on #124
Hi @FrancoisMasson1990,

IIUC, you're attempting to load the data stored in Cloud Storage (a sqlite database) into memory.

Based on the stackoverflow question here: https://stackoverflow.com/questions/3850022/how-to-load-existing-db-file-to-memory-in-python-sqlite3, you'd need to convert your db format into sql statements that would then be stored in Cloud Storage as an object and then execute sq

[2020-05-04 17:18] frankyn opened #127 "Support If*generation preconditions"
@IlyaFaer has started on this work in the following PR's:
#122 (merged)
#123 (merged)
#130 (merged)
#141 (merged)

* [Bucket Delete](https://cloud.google.com/storage/docs/json_api/v1/buckets/delete): [google.cloud.storage.bucket.Bucket.delete](https://googleapis.dev/python/storage/latest/buckets.html#google.cloud.storage.bucket.Bucket.delete)

    * ifMetagenerationMatch

    * ifMetagenerationNot

[2020-05-04 17:44] frankyn commented on #119
I don't see:
[code]
Have you tried adding this to your configuration? I think this is starting to get into a django-storages issue in this case. Recommend filing an issue here: https://github.com/jschneier/django-storages/issues in case adding this doesn't help.

[2020-05-04 19:45] reyesvicente commented on #119
The `"path/to/credentials.json"` is on my `.envs/.production/.django` in cookiecutter-django.

`.envs/.production/.django`
[code]

[2020-05-04 20:32] frankyn commented on #119
Oh, instead of using relative path `../config/credentials.json`, could you use an absolute path: `/from/root/config/credentials.json` in your `.envs/.production/.django` file?

[2020-05-04 23:02] failure-checker[bot] opened #128 "Warning: a recent release failed"
The release PR #116 is still in a pending state after several hours

[2020-05-04 23:45] frankyn commented on #128
Unrelated failure, related to a java library release per discussion with @crwilcox. Closing issue.

[2020-05-04 23:45] #128 closed

[2020-05-05 00:02] failure-checker[bot] opened #129 "Warning: a recent release failed"
The release PR #116 is still in a pending state after several hours

[2020-05-05 19:54] #129 closed

[2020-05-05 20:02] failure-checker[bot] opened #132 "Warning: a recent release failed"
The release PR #116 is still in a pending state after several hours

[2020-05-06 04:31] wyardley opened #134 "project ID error when project explicitly passed."
#### Environment details

  - OS type and version: Mac OS X
  - Python version: 3.7.6
  - pip version: 20.0.2
  - `google-cloud-storage` version: 1.28.1

pipenv list from a test venv:

[code]
#### Steps to reproduce

Normally, I can instantiate a `storage.Client()` object and access a bucket, even without setting a project explicitly, and even when my current default project is different from the

[2020-05-06 04:46] frankyn commented on #134
Hi @wyardley,

Thanks for filing this issue.

I tried do the same and didn't get an error, here's my pip list:

[code]

Could you provide the stack trace returned along with the error you're seeing?

[2020-05-06 05:01] wyardley commented on #134
@frankyn thanks! didn't expect that quick a response. My original example isn't as easy to post a traceback of, but now that I'm able to repro this in a more self-contained way, pretty easy to include that:

[code]

[2020-05-06 05:47] frankyn commented on #134
Thanks for the follow-up information.

I see the following:

You need to use a service account in this case:
https://cloud.google.com/docs/authentication/production

You're using user credentials instead of server credentials.

[2020-05-06 06:01] wyardley commented on #134
In which case, though?
The exact same code works fine with my default credentials on the exact same machine under my regular Python 2 or Python 3 installations.

I get the warning about rate-limiting either way, but it's typically not harmful.

Regular installation:
[code]

In this case (with system pip / Python, not in virtualenv), the objects in the bucket are printed, and there's no fatal error

[2020-05-06 06:47] frankyn commented on #134
Oh I see, thanks for clarifying. I wonder if this is a bug in the google-auth library then, pulling in @busunkim96 who may have more information. This issue shouldn't impact only google-cloud-storage if it's related to the auth library.

Does the user credentials you're using have a project value in the file similar to a service account file?

[2020-05-06 08:33] wyardley commented on #134
Thanks, yeah, that lib is one area I started looking in earlier.

[code]

[2020-05-06 14:01] brfulu commented on #108
Hey everyone, is there any update about this?

[2020-05-06 15:59] wyardley commented on #134
I tried uninstalling / reinstalling all of the python3 Google libs, and removing my entire `~/.config/gcloud` directory and re-authenticating / setting up new default app credentials (also drops some stuff into `legacy_credentials/me@example.com/adc.json` inside the same directory).

If I have this set:
[code]
then my system Python functions as expected, however, in the venv / pipenv environment i

[2020-05-06 20:01] jorvis opened #136 "Google cloud python API returns None for blob.owner attribute"
I have created a Google bucket with "Fine-grained access control" and a few users have uploaded files to it.  Using the python API I can't seem to get any information on who uploaded each.  The blob.owner property just returns None:

    sclient = storage.Client(project=GCLOUD_PROJECT)
    bucket = storage.bucket.Bucket(client=sclient, name=GCLOUD_BUCKET)
    blob = bucket.get_blob('foo.bar')

[2020-05-06 20:04] jorvis commented on #136
As a note, I put this on StackOverflow first and another user verified the same problem.

https://stackoverflow.com/questions/61466801/google-cloud-python-api-returns-none-for-blob-owner-attribute?noredirect=1#comment109019518_61466801

[2020-05-07 06:43] HemangChothani commented on #136
@jorvis As i found in the [documentation](https://google-cloud-python.readthedocs.io/en/0.32.0/storage/blobs.html#google.cloud.storage.blob.Blob.owner) here, first you need to set the owner locally and then you can retrieve it.

Sample:

    OWNER = {"entity": "project-owner-12345", "entityId": "23456"}
    properties = {"owner": OWNER}
    blob._properties.update(properties)
    blob.patch()

[2020-05-07 15:00] jorvis commented on #136
So if you have 10 people on a gcloud project and each of them can upload to the bucket, there's no way to find out who uploaded to the bucket unless each of them did these steps to set their own owner IDs?

[2020-05-08 06:58] HemangChothani commented on #136
Pulling in @frankyn who know more and better about this. Could you please comment on this?

[2020-05-09 05:29] YChebotaev commented on #112
@HemangChothani
Thank You for trying but I workaround this problem with custom solution.

Sad to see that official library fail to work on 2.7 environment.

[2020-05-09 20:23] kikoanis commented on #3
After spending few hours on the cors issue, here is what worked for me.

Google Storage Server CORS settings:
[code]

[2020-05-11 06:30] HemangChothani commented on #112
@YChebotaev Would you please try with the fresh environment and few steps, it would be helpful to resolve or close the issue as it's work for me with python 2.7.

Please check the versions of the following libs at the runtime and also check the installed paths.

    import six
    six.__version__    #'1.14.0'

    from google.cloud import storage
    storage.__version__   #'1.22.0'

[2020-05-12 05:56] YChebotaev commented on #112
@HemangChothani
First two lines are same: `six.__version__ === "1.14.0"`

But 4th one is giving error: `from google.auth import environment_vars`
[code]

[2020-05-12 06:38] HemangChothani commented on #112
@YChebotaev Could you share the full trace and error type like it's import error or any other?

[2020-05-12 07:28] bastiaanb opened #138 "Blob.upload_from_file fails if 8MB < size-parameter < file-size"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2020-05-12 10:39] HemangChothani commented on #138
@bastiaanb  Thanks for filling the issue , able to reproduce it.

[2020-05-12 13:12] HemangChothani opened #139 "lint check fails on master"
A recent change of flake8 or its config causes the code style check to fail on the master branch - it complains about a `string.format(...)` function used  in _signing.py file:

`google/cloud/storage/_signing.py:156:13: F523 '...'.format(...) has unused arguments at position(s): 0`

/cc @frankyn

[2020-05-12 19:04] #139 closed

[2020-05-12 19:52] frankyn commented on #108
I'm working on this and don't have an update yet to share. I will update this issue when I do. Thank you the ping.

[2020-05-12 20:10] YChebotaev commented on #112
@HemangChothani
Yes, it after I type `from google.cloud import storage`.

Don't sure what You call import error, but, Yes, it occurs when I import `storage` from `google.cloud`.

[2020-05-13 11:18] HemangChothani commented on #112
@YChebotaev This error is weird, related to google-auth library. Please check the file `environment_vars.py` file is exist on your path `"/Users/.../Library/Python/2.7/lib/python/site-packages/google/auth/` or not.

Or you can reinstall google_auth lib or google-cloud-storage library and verify it, then try to run it.

[2020-05-13 17:45] frankyn commented on #136
Hi @jorvis,

Per documentation: https://cloud.google.com/storage/docs/access-control/lists#defaultobjects

[code]

Took me a little while to figure out what was going wrong, thank you for your patience.

The issue is `owner` is only populated when `projection=full` but by default `Blob.reload()` uses [`projection=noAcl`](https://github.com/googleapis/python-storage/blob/76bd652a3078d94e03e566b6a38

[2020-05-13 18:46] frankyn opened #143 "user_project is ignored in list_blobs"
Hi @HemangChothani could you take a look at this customer feedback?

~~ Copied below ~~
DESCRIPTION:
[Summarize the bug or feature request.]

There's some confusion in our public documentation for Cloud Storage concerning list_blobs call. Specifically,

https://googleapis.dev/python/storage/latest/client.html - there's functions at the Storage level that match those in Bucket (https://googleapis.d

[2020-05-13 18:57] wyardley commented on #36
Using  workaround similar to the above, we're getting a bunch of these errors:
`urllib3.connectionpool(WARNING): Connection pool is full, discarding connection: storage.googleapis.com`
even with fairly modest concurrency:
[code]
(with default, which is 5x # of cores, we were getting even more of those errors).

Have other folks seen that? Since the calls to urllib3 are being made in the library, i

[2020-05-14 06:15] HemangChothani commented on #143
@frankyn Yes, i will look into it.

[2020-05-14 18:43] wyardley commented on #36
I'm also seeing some issues where the files don't exist yet if I try to access them immediately (for downloads), even after the `futures.wait()`.

[2020-05-15 12:32] HemangChothani commented on #143
@frankyn Yes, client.list_blob() doesn't have any `user_project` parameter, need to pass `user_project` as we have a bucket_name parameter.

**Usecase**
 `user_project ` value is sets at the time of bucket object creation and bucket.list_blobs() method check the `user_project` variable and then it pass it in the request as query parameter
https://github.com/googleapis/python-storage/blob/094444280

[2020-05-15 13:28] frankyn commented on #143
Thanks! I think an example of using user_project will help here. Is that
what you're thinking of doing to resolve this issue?

On Fri, May 15, 2020, 5:33 AM HemangChothani <notifications@github.com>
wrote:

[2020-05-15 13:39] HemangChothani commented on #143
Yes, going to add an example and also going to add `user_project` parameter in client.list_blobs() method so  user can pass bucket_name and user_project therefore bucket.list_blobs() can't ignore
`user_project` parameter.

[2020-05-15 13:56] YChebotaev commented on #112
@HemangChothani
Yes, `environment_vars.py ` exists by given path.

Well, I definitely can "just reinstall" this but I'm not alone in this project and I can't force everyone "just reinstall" everything. The library must work out-of-the-box without extra steps.

[2020-05-15 14:06] HemangChothani commented on #112
@YChebotaev I have tried with many combinations but not able to reproduce it, and the your recent error is also related to google-auth package so to verify everything, you need to reinstall google-auth and google-cloud storage or you can check with fresh environment of python2.7.
I think something has broken in your library dependencies.

[2020-05-15 16:23] #136 closed

[2020-05-15 16:35] frankyn commented on #143
Let's hold on adding the parameter to list_blobs() because we will need to add it to all method. First unblock this issue with an example then file an issue to address this across the library as a feature request.

[2020-05-15 17:04] jorvis commented on #136
Thanks all!

[2020-05-16 09:02] YChebotaev commented on #112
@HemangChothani I'm installed `google-cloud-storage` version 1.22.0 via pip via `dependencies.txt`. This is standard process for dependencies in many teams. Every other library works fine this way.

[2020-05-17 13:55] mlescaudron commented on #3
@danjenson, thank you, I can confirm that it is not a cors issue but just an error from Chrome.

![image](https://user-images.githubusercontent.com/9129639/82148822-41866880-9898-11ea-85ed-39c8a6349dae.png)

I had a typo issue. Here is what the function is expecting >
![image](https://user-images.githubusercontent.com/9129639/82149072-7e069400-9899-11ea-840a-fbb60eff9ae0.png)

From browser >
![ima

[2020-05-18 06:48] bastiaanb commented on #138
@HemangChothani Thank you for picking this up.

[2020-05-18 06:55] HemangChothani commented on #112
@YChebotaev I saw your comment [here](https://github.com/googleapis/google-api-python-client/issues/42#issuecomment-615538889), You can see here https://pypi.org/project/google-cloud-storage/ that latest version of  `google-cloud-storage`  is also supports `python 2.7`, so you can upgrade `google-cloud-storage` and try it.

[2020-05-18 13:15] HemangChothani commented on #112
@YChebotaev If you are still facing the issue then something is missing in you given traceback which you have given [above](https://github.com/googleapis/python-storage/issues/112#issuecomment-627127000) , because `environment_vars.py` file doesn't import six module.

[2020-05-18 16:34] #143 closed

[2020-05-19 07:23] HemangChothani opened #148 "Expose 'user_project' parameter to the bucket class related methods"
From the comment of https://github.com/googleapis/python-storage/issues/143#issuecomment-629359382

Scenario:
Bucket class has a `user_project` parameter which used to set to be billed for API, but method who create bucket class object only pass the `bucket_name` parameter e.x : client.list_blobs().

./cc @frankyn

[2020-05-19 07:28] HemangChothani opened #149 "Parameter name in docstring doesn't match with actual parameter name In bucket.IAMConfiguration class"
Docstring of IAMConfiguration:
https://github.com/googleapis/python-storage/blob/792b21fd2263b518d56f79cab6a4a1bb06c6e4e7/google/cloud/storage/bucket.py#L322-L323

Actual parameter name :
https://github.com/googleapis/python-storage/blob/792b21fd2263b518d56f79cab6a4a1bb06c6e4e7/google/cloud/storage/bucket.py#L340

In Docstring mentioned `entries` and variable is `rule` in lifecycle_rules property

[2020-05-19 12:36] HemangChothani opened #151 "Unused variables in _PropertyMixin.update method"
Here is the method definition:
https://github.com/googleapis/python-storage/blob/792b21fd2263b518d56f79cab6a4a1bb06c6e4e7/google/cloud/storage/_helpers.py#L311-L318

In the implementation `if_generation_match` and `if_generation_not_match` are missing.
https://github.com/googleapis/python-storage/blob/792b21fd2263b518d56f79cab6a4a1bb06c6e4e7/google/cloud/storage/_helpers.py#L363-L366

./cc @franky

[2020-05-19 16:49] #149 closed

[2020-05-19 17:25] frankyn commented on #151
@IlyaFaer, looks like I missed this during review. Thanks @HemangChothani for the catch!

[2020-05-19 17:27] frankyn commented on #148
@HemangChothani don't work on this until it is prioritized. Thank you.

[2020-05-19 19:16] IlyaFaer commented on #151
@frankyn, well, we all missed it. In docs we have only two `metageneration*` args for `Bucket.update()` and all four args for `Blob.update()`. Both are delegating to `_PropertyMixin.update()`. First I've added `meta*` for `Bucket.update()`. And then two others for `Blob.update()`, but forgot to add them into `_add_generation_match_parameters()` call.

[2020-05-21 03:15] wyardley commented on #36
Hi --

code like the following was resulting in missing files sometimes:
[code]

Even after following some suggestions from a helpful person on GCP community slack, and using `futures.as_completed()`, it still takes me about 11 seconds to copy a directory structure with 41 relatively small Jinja templates from GCS.

The same thing with, e.g., `gsutil -m cp`:
[code]

[2020-05-21 05:46] frankyn opened #155 "Unable to upload new object when CMEK is enabled for a bucket."
Tracking issue for a customer.

The issue is the Python library does a metadata get on an Object which includes kmsKeyName version resource ID metadata.
If you use the same Blob instance to perform an upload the Python library will use the kmsKeyName version resource ID instead of the kmsKeyName resource ID.
Cloud Storage API expects the kmsKeyName kmsKeyName without version information.

Here's a

[2020-05-21 05:48] HemangChothani commented on #155
@frankyn May i look in to it?

[2020-05-21 05:49] frankyn commented on #155
I'm available through chat for the next few hours if you'd like to discuss this more. Thanks @HemangChothani

[2020-05-21 18:11] jkwlui opened #159 "Support daysSinceNoncurrentTime and noncurrentTimeBefore OLM options"
[code]

[2020-05-21 21:49] #151 closed

[2020-05-22 14:48] #155 closed

[2020-05-22 15:00] HemangChothani commented on #138
@frankyn  Should i move this issue to google-resumable-media repo?

[2020-05-22 15:02] frankyn commented on #138
Yes please, thanks @HemangChothani

[2020-05-25 13:28] HemangChothani opened #160 "Arrtribute Error when run snippet of delete and set storage lifecycle rule in snippets.py file"
Bucket class object called following method which raised an errors.

https://github.com/googleapis/python-storage/blob/5f27ffa3b1b55681453b594a0ef9e2811fc5f0c8/docs/snippets.py#L194

https://github.com/googleapis/python-storage/blob/5f27ffa3b1b55681453b594a0ef9e2811fc5f0c8/docs/snippets.py#L204

In bucket class the actual method names are:

https://github.com/googleapis/python-storage/blob/5f27ffa

[2020-05-26 14:46] #160 closed

[2020-05-28 04:32] #121 closed

[2020-05-28 04:51] frankyn commented on #119
Hi @reyesvicente did you have any luck since my last comment? If you're unblocked can we close out this issue?

[2020-05-28 04:51] frankyn commented on #124
Hi @FrancoisMasson1990, did this help unblock you? If so I'd like to close out this issue.

[2020-05-28 11:13] #124 closed

[2020-05-28 23:13] rafilong opened #165 "Documentation: Clarify upload_from_file and download_to_file usecases"
**Issue**
When using [`upload_from_file`](https://googleapis.dev/python/storage/latest/blobs.html#google.cloud.storage.blob.Blob.upload_from_file) and [`download_to_file`](https://googleapis.dev/python/storage/latest/blobs.html#google.cloud.storage.blob.Blob.download_to_file) to manipulate large files, it's hard to tell whether any progress is being made and whether the functions are suited for su

[2020-05-28 23:25] rafilong opened #166 "Documentation: Clarify chunk_size default in _do_resumable_upload"
**Issue**
`_do_resumable_upload` [documentation states](https://github.com/googleapis/python-storage/blob/master/google/cloud/storage/blob.py#L1488) that `chunk_size` is assumed to be not `None`. However, `_initiate_resumable_upload` [contains no such assumption](https://github.com/googleapis/python-storage/blob/master/google/cloud/storage/blob.py#L1371-L1376) and [falls back on a default](https:/

[2020-05-30 01:02] #119 closed

[2020-06-01 07:18] HemangChothani commented on #112
@YChebotaev any update from your side?

[2020-06-01 07:18] HemangChothani commented on #101
@peeyushagg any update from your side?

[2020-06-01 07:19] HemangChothani commented on #2
@limbuu Any update?

[2020-06-01 08:17] limbuu commented on #2
sorry @HemangChothani was not working in this issue for a while, tried the snippet, it hasn't worked so far.

[2020-06-02 05:52] YChebotaev commented on #112
Not really. I crafted a perfectly working custom solution for my case without this library and I don't want to do additional work.

I will try this library again when I need to rely on GCS and leave note here.

Thank You for Your attention.

[2020-06-03 08:22] HemangChothani opened #170 "Documentation: Fix indent in code blocks"
Issue
When [viewing code samples](https://googleapis.dev/python/storage/latest/buckets.html#google.cloud.storage.bucket.Bucket.delete_blob) in the docs, the code is indented, which limits viewing/readability and makes copy-paste more difficult.

[2020-06-08 08:52] IlyaFaer commented on #132
Merged, release branch deleted

[2020-06-08 08:52] #132 closed

[2020-06-08 17:03] failure-checker[bot] opened #173 "Warning: a recent release failed"
The release PR #116 is still in a pending state after several hours

[2020-06-08 17:20] #165 closed

[2020-06-08 17:34] #166 closed

[2020-06-10 12:17] vavuthu opened #174 "with latest release of rsa ( 4.1) , fail to install"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2020-06-11 00:07] WillianFuks opened #175 "Python Client Not Working on KFP"
Hello,

I just created an [Issue](https://github.com/kubeflow/kubeflow/issues/5063) on the kubeflow repository but I was wondering if the team responsible for the Python Client could help us out as well as this seems to be something related to how the client builds the credentials.

As it seems, inside the pipelines API something goes wrong with the authentication and the result is an anonymous cl

[2020-06-15 07:45] HemangChothani commented on #174
@vavuthu This issue have been resolved in `google-auth` library as you can see [https://github.com/googleapis/google-auth-library-python/blob/master/setup.py#L24-L26](here), now you are able to install with latest release of `rsa==4.6` also.

Closing this issue for now, feel free to reopen if this trigger again.

[2020-06-15 07:45] #174 closed

[2020-06-15 08:41] #112 closed

[2020-06-15 08:49] IlyaFaer commented on #40
@kylefoley76, please, take a look at [this comment](https://github.com/googleapis/python-storage/issues/74#issuecomment-603296568), it seems to be the info that can help in your case

[2020-06-15 17:04] sergeykish opened #181 "Storage: OSError: Not a directory, can't trace, debug, fix"
#### Environment details

    $ uname -a
    Linux notebook 5.7.2-arch1-1 googleapis/google-cloud-python#1 SMP PREEMPT Wed, 10 Jun 2020 20:36:24 +0000 x86_64 GNU/Linux
    $ python --version
    Python 3.8.3
    $ cd /opt/google-cloud-sdk/
    $ cat VERSION
    293.0.0

#### Steps to reproduce

  1. make `foo` object and `foo` *path* to the object
  2. `rsync` to local folder
  `OSError: Not a dir

[2020-06-15 17:46] sergeykish opened #180 "Storage: Local folder - store headers in xattr"
I can specify [header](https://cloud.google.com/storage/docs/gsutil/addlhelp/WorkingWithObjectMetadata) for each command:

    $ gsutil -h "Content-Type:text/html;charset=UTF-8" cp foo gs://sergeykish.com/foo

Unfortunately there is no way to store headers in local folder, this makes it hard to sync to and from bucket. But I can easily store this information in file system

    $ setfattr -n user.

[2020-06-15 21:12] rvandegrift opened #177 "bad client behavior when loading a service account key or token"
The storage client doesn't behave correctly when a service account key or token is supplied via the `credentials` parameter, but the `project_id` is not provided.  In this case, it falls backs to searching for credentials.

There's two issues with the implementation:

1. The `project_id` docstring says it will be inferred from the environment if omitted.  If `credentials` contains a service accoun

[2020-06-15 21:15] rvandegrift opened #178 "please provide `download_as_bytes` for blobs"
Now that python2.7 support is deprecated, `download_as_string` is never correct.

I doubt it can safely be changed to actually download a string.  But at least is the API provided a `download_as_bytes`, we could avoid the confusing pattern where code looks like it downloaded a string and then must convert it to a string.

[2020-06-15 23:12] #170 closed

[2020-06-15 23:15] #173 closed

[2020-06-16 00:03] failure-checker[bot] opened #179 "Warning: a recent release failed"
The release PR #131 is still in a pending state after several hours

[2020-06-16 06:27] HemangChothani commented on #177
@rvandegrift  The related feature request has already been opened which you can find [https://github.com/googleapis/python-cloud-core/issues/8](here).
 I'm closing this issue because it's not only a Storage library request as it would update a common library shared other product libraries as well.

[2020-06-16 06:27] #177 closed

[2020-06-16 16:35] IlyaFaer commented on #127
The feature was incorporated into all of the listed methods.

[2020-06-16 16:35] #127 closed

[2020-06-16 18:53] frankyn commented on #175
Followed up through the linked github Issue.

[2020-06-17 14:30] plamut opened #183 "Add configurable timeouts to public Blob methods"
As a user, I would like to pass in an optional `timeout` argument to `Blob` methods in order to have a better control over the actual timeouts (if any) used by the transport layer.

This is a continuation of the PR #44, and it requires the `resumable-media` dependency to add support to its upload/download methods ([issue link](https://github.com/googleapis/google-resumable-media-python/issues/45))

[2020-06-17 19:30] frankyn commented on #175
Issue resolved in linked issue. Closing this issue.

[2020-06-17 19:30] #175 closed

[2020-06-19 10:08] benbro commented on #36
@wyardley I'm only starting to get the urllib3 warning when the thread pool size is above 10 workers.
Even then, I think it's only a warning and the same request will be retried: https://stackoverflow.com/a/53765527

[2020-06-19 14:52] wyardley commented on #36
Yes, in the end, the urllib3 warnings were a red herring (tho pretty sure I was able to get them with fewer than 10 threads). A solutions eng on the GCP Slack gave me an example that fixes the missing files issue.

Either way, I do think this is functionality that should be builtin to the module.

[2020-06-19 14:57] benbro commented on #36
I agree that it should be part of the library.
What fixed the missing files issue?

[2020-06-19 15:05] wyardley commented on #36
It seemed to have to do with using `futures.wait()`. I adapted a variation that @domZippilli kindly threw together and that’s worked relatively well, though it’s not quite as simple as the examples above. Maybe he’d be willing to gist it here.

[2020-06-19 18:54] domZippilli commented on #36
Of course! [Here's the gist](https://gist.github.com/domZippilli/70a56e29ed329225380d518307cfbe73). Usual disclaimer that this is offered as-is, no guarantees that it will work or even not hurt you, use at your own risk.

[2020-06-19 19:01] wyardley commented on #36
I had also tried some simpler suggestions for fixing the above (including, if memory serves, returning something from `_download_files()`, and they didn't seem to work either.

[2020-06-19 19:06] benbro commented on #36
I think that the following also guarantees that all task complete.
[code]

[2020-06-19 19:10] domZippilli commented on #36
It should! Executor's `map` function rules. And I believe the iterator yields the _result_ of each future, so that is a succinct way of doing the same.

[2020-06-22 09:44] sivakon commented on #17
Hi,

gsutil asks for re-authentication, and asks for password. Our accounts are SSO enabled, so there is no password. How to proceed with this?

For now, we use a service account `gcloud auth activate-service-account --key-file=/creds.json` to bypass this issue. Also we cannot use this for user auth enabled applications

[2020-06-22 20:26] jacobg opened #187 "IAM SignBlob and SignJwt decommissioned."
#### Is your feature request related to a problem? Please describe.
I received a notification from GCP alerting that SignBlob and SignJwt will be decommissioned and this library still using it. Here's a document describing the migration:
https://cloud.google.com/iam/docs/migrating-to-credentials-api

Here's code in this library that uses the deprecated api:
https://github.com/googleapis/python-sto

[2020-06-22 22:48] frankyn commented on #187
Thanks @jacobg, super helpful.

@IlyaFaer could you take a look at updating the endpoint and request?

[2020-06-23 09:03] IlyaFaer opened #190 "test_system.TestKMSIntegration.test_bucket_w_default_kms_key_name failed"
Got a flaky error on kokoro checks. Failed only once, on Python 2.7 session. Trying to reproduce locally - no results so far.

[code]

[2020-06-23 18:24] #187 closed

[2020-06-24 13:15] joostvham opened #192 "blob prefixes only exist after iterating over blobs"
#### Environment details

  - Ubuntu 18.04
  - python 3.7.4
  - pip 19.0.3
  -  google-cloud-storage version 1.29.0

#### Steps to reproduce
I have a bucket, with at the 'root' of the bucket 3 directories. I want to display these three directories. However, they only exist when iterating over the blobs first, without a clear reason.

#### Code example

[code]

#### Output
[code]

[2020-06-25 09:05] joostvham commented on #192
Thanks for your response. My bad, I should have read the documentation better.

[2020-06-25 21:15] jkwlui opened #196 "Support customTime metadata and custom timestamp based OLM"
Request to support a new `customTime` metadata field and associated custom timestamp based OLM conditions:

[code]

[2020-06-29 16:45] frankyn commented on #190
[code]

[2020-06-30 01:45] pdex commented on #27
Here's a workaround using [tqdm.wrapattr](https://github.com/tqdm/tqdm#hooks-and-callbacks):

[code]

[2020-07-01 18:01] #190 closed

[2020-07-03 04:20] sumanthssr opened #200 "download_to_filename failing"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2020-07-03 12:41] HemangChothani commented on #101
.@peeyushagg Are you still facing the same issue? I have tried again but not able to reproduce this issue.

[2020-07-06 08:22] HemangChothani commented on #180
@sergeykish This issue is related to gsuilt, so I have open an issue in the [gsutil-repo](https://github.com/GoogleCloudPlatform/gsutil/issues/1057) for the better response.

[2020-07-06 11:51] HemangChothani commented on #181
@sergeykish To log into one single log file could be something like:

    gsutil -d rsync [src] [dst] &> [logfile]

where -d enables debug output.

[2020-07-06 12:00] HemangChothani commented on #181
@sergeykish This issue is related to gsuilt, so I have open an issue in the [gsutil-repo](https://github.com/GoogleCloudPlatform/gsutil/issues/1058) for the better response.

[2020-07-07 12:30] HemangChothani commented on #200
@sumanthssr Could please provide the reproducible code and environment details:

Following code and environment which works for me:

**Code example:**
[code]
**Environment Details:**

    google-api-core==1.21.0
    google-auth==1.18.0
    google-cloud-core==1.3.0
    google-cloud-storage==1.29.0
    google-resumable-media==0.5.1
    requests==2.24.0
    urllib3==1.25.9

[2020-07-07 12:36] HemangChothani commented on #181
@sergeykish May i close this issue?

[2020-07-07 12:37] HemangChothani commented on #180
@sergeykish May i close this issue?

[2020-07-12 12:36] sergeykish commented on #181
@HemangChothani thank you, it is unfortunate `gsutil -d rsync` and `gsutil rsync -d` behaves differently, second one removes local files

[code]

Now I can see trace

[code]

So it checks `os.path.exists` but does not check `os.path.isdir`. Interestingly same file contains

[code]

So it should catch this error. Should I create another issue? There is no such method in this repository.

[2020-07-12 13:06] #181 closed

[2020-07-12 18:43] sergeykish commented on #180
@HemangChothani thank you, sorry, somehow I missed gsutil repo

[2020-07-12 18:43] #180 closed

[2020-07-14 03:44] mikechen66 opened #201 "ERROR: google-api-core 1.21.0 has requirement google-auth<2.0dev,>=1.18.0, but you'll have google-auth 1.17.2 which is incompatible."
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2020-07-14 09:19] txomon opened #202 "Except with error messages returned from the API"
**Is your feature request related to a problem? Please describe.**

Currently the implementation will raise an exception if the answer is not 200. https://github.com/googleapis/google-resumable-media-python/blob/master/google/resumable_media/_helpers.py#L70-L98

The current implementation is terrible for development / problem triaging in production systems because it shadows the real problem makin

[2020-07-14 09:19] txomon opened #224 "Except with error messages returned from the API"
**Is your feature request related to a problem? Please describe.**

Currently the implementation will raise an exception if the answer is not 200. https://github.com/googleapis/google-resumable-media-python/blob/master/google/resumable_media/_helpers.py#L70-L98

The current implementation is terrible for development / problem triaging in production systems because it shadows the real problem makin

[2020-07-14 12:57] simonvanderveldt commented on #108
There's a prototype PR for this now https://github.com/googleapis/python-storage/pull/197

[2020-07-14 23:55] william-silversmith commented on #24
Hi Tres, I've made some changes to my own branch of this repo and they seem to work. I tried making a PR but the button was greyed out. Here's a link to the changes in case y'all are interested. In the mean time, I'll direct my repos to use the forked version.

https://github.com/googleapis/python-storage/compare/master...seung-lab:master

[2020-07-15 03:26] william-silversmith commented on #24
Unfortunately, it seems PyPI won't let me use a direct reference to github. It would be extremely convenient if some version of this could get merged.

[2020-07-15 03:45] william-silversmith commented on #24
Figured out the PR submission issue.

[2020-07-15 07:13] takotab opened #205 "blob.upload_from_filename returns error if pathlib.Path is given instead of str"
Please be aware that an error is given when you use pathlib.Path as filelocation instead of a str. It will say that it could not be converted into unicode.

Would be nice to either get a message saying that you should insert a str or transform the Path to str to prevent the error.

Thanks

[2020-07-15 07:49] HemangChothani commented on #205
@takotab I thnik you are using python2 because it's working fine with python3 or could please share your environment details.

Example:
[code]

[2020-07-15 08:19] takotab commented on #205
Ahh I see, I have some boiler plate code that tries to make a blob from a Path:

[code]
then it returns:
[code]

I stand corrected. Maybe still worth giving an bit of guides in the error message, but that's up to you.

[2020-07-15 09:58] HemangChothani commented on #205
@takotab We have used a method which declared in `google-cloud-core` library and that function is used by many other libraries too, so i think it's not feasible to change the message for specific thing and they tried to give straight and meaningful message as much as possible.

[2020-07-15 11:23] #205 closed

[2020-07-15 17:13] andrewsg commented on #17
@sivakon Can I confirm that you are also under the "Session Length for Google Cloud Services" organization policy as per this page: https://support.google.com/a/answer/9368756?hl=en ?

[2020-07-16 01:38] sivakon commented on #17
@andrewsg Upon talking with the support team, I found out that they implemented new security policy that restricts user auth session length https://support.google.com/a/answer/9368756?hl=en

[2020-07-16 18:05] tseaver opened #206 "Unit tests fail without systest environment variables"
Running in a "clean" environment:

[code]

and likewise for the other parameterized `test_conformance_post_policy` tests.

[2020-07-21 16:18] #206 closed

[2020-07-21 16:22] tseaver commented on #196
@jkwlui ISTM we should treat `custom_time` as a datetime, rather than an RFC 3339 string.

[2020-07-21 16:28] frankyn commented on #196
There's a change coming to the API to only accept date instead of datetime. Pending an update from the GCS team. I'm the PoC for this feature moving forward.

[2020-07-21 17:58] #183 closed

[2020-07-22 19:36] busunkim96 opened #210 "Implement new client options"
Add support for the three new client_options `quota_project_id`, `scopes`, and `credentials_file`.

https://googleapis.dev/python/google-api-core/latest/client_options.html

[2020-07-23 11:20] bbolvig opened #214 "UserWarning from authenticating with User Credentials when using Service Account"
Undue warning produced when authenticating using service account credentials.

The warning disappears when setting the environment variable `GOOGLE_APPLICATION_CREDENTIALS`.
It is confirmed that service account _are_ used when the env variable is unset.

Expected behaviour is that user credentials are not accessed and no warning is printed.

Steps to reproduce:

[code]
[code]

System details:

pyt

[2020-07-23 18:36] tseaver opened #211 "Packaging: prep for 1.0.0 release of `google-resumable-media-python`."
See: https://github.com/googleapis/google-resumable-media-python/issues/138

[2020-07-23 18:46] #24 closed

[2020-07-24 07:15] bbolvig commented on #214
Thanks for the attention @busunkim96 , I'm a bit confused `google-cloud-core==1.3.0` is the latest version according to https://pypi.org/project/google-cloud-core/

What version are you referring to?

[2020-07-24 17:18] #211 closed

[2020-07-27 08:54] HemangChothani commented on #214
@bbolvig If you are using cloud sdk  or `credentials` associated with cloud sdk then https://github.com/googleapis/google-auth-library-python/issues/271 issue will help you to understand the problem and to remove this Userwarning make sure `credentails` object has `quota_project_id`parameter.

[2020-07-27 12:30] HemangChothani opened #215 "coverage issue of blob file"
To reproduce run `nox -s cover` with the master branch
It's related to the PR https://github.com/googleapis/python-storage/pull/204/

    nox > pip install coverage pytest-cov
    nox > coverage report --show-missing --fail-under=99
    Name                                   Stmts   Miss Branch BrPart  Cover   Missing
    ----------------------------------------------------------------------------

[2020-07-27 13:01] enicholson125 opened #216 "Pip installing google-cloud-storage 1.30.0 on alpine errors"
#### Environment details

  - OS type and version:
  - Python version: 3.8.5 (also errored with 3.8.4)
  - pip version: 20.1.1
  - `google-cloud-storage` version: 1.30.0 (issue does not occur with 1.29.0)

#### Steps to reproduce

  1. Try to build a dockerfile containing
[code]
  2.  It will fail with errors including
[code]

#### Minimal dockerfile to reproduce

[code]

#### Full Stack trace
[co

[2020-07-28 06:21] HemangChothani commented on #216
@enicholson125  Make sure you have `gcc` and `python3-dev` installed, to install use command `sudo apt-get install gcc python3-dev`

OR

Please review the following issues:
https://github.com/watson-developer-cloud/python-sdk/issues/418
https://github.com/docker-library/python/issues/318

Which are related to your issue and help you to resolve it.

[2020-07-28 11:00] HemangChothani opened #218 "System test failing for python3"
Due to changes in `google-cloud-iam` library system tests related to access_token are failing for python3.
The testcases are:

- test_create_signed_read_url_v4_w_access_token
- test_create_signed_read_url_v2_w_access_token

The change is IAMCredentialsClient.service_account_path method removed from the latest version.

.cc @frankyn

[2020-07-29 02:53] #215 closed

[2020-07-29 07:28] #218 closed

[2020-07-29 17:26] chmoder opened #220 "consume() got an unexpected keyword argument 'timeout'"
When using blob.download_as_string, it includes a kwarg called `timeout`.  This is raising an exception that `consume() got an unexpected keyword argument 'timeout'`

It looks like a similar issue is known in [google-resumable-media-python](https://github.com/googleapis/google-resumable-media-python/issues/148).

#### Environment details

  - OS type and version: Google App Engine Standard Second

[2020-07-29 17:27] priyanshujain opened #221 "SignatureDoesNotMatch when accessing a signed url after creating file with encryption_key"
I am creating signed URL using

[code]

Upload file is working fine but when I try to get the file with signed URL I am getting this error

[code]

EDIT:

This works fine if I don't use `encryption_key `. But I am seeking for a solution that can work with `encryption_key `.
Thanks.

[2020-07-29 18:34] busunkim96 commented on #220
@chmoder Could you let us know which version of `google-resumable-media` you are using?

[2020-07-29 18:44] chmoder commented on #220
google-resumable-media       0.7.0

[2020-07-29 18:54] chmoder commented on #220
We discovered that overriding the version to `google-resumable-media 0.6.0` in requirements.txt is a workaround.

[2020-07-29 19:08] frankyn commented on #220
Hi @chmoder, thanks for the additional information.

I tried to reproduce the error you're seeing but haven't been successful.

Could you try the following:

1. `pip install virtualenv`
1. `virtualenv repro_env`
1. `source repro_env/bin/activate`
1. `pip install google-resumable-media==0.7.0`
1. `pip install google-cloud-storage=1.30.0`

In your follow-up post could you share the following:

1. Sh

[2020-07-30 13:33] mohsinkhansymc commented on #3
@danjenson i dont know if you have resolved this but the response headers need to match your `access-control-request-headers` so in your case you only need contenttype in there.  try using this and test, this should fix your preflight  call :crossed_fingers:
`[{
        "origin": [
                "*"
        ],
        "responseHeader": [
                "Content-Type"
        ],
        "method"

[2020-07-30 13:58] chmoder commented on #220
I just wanted to get back to you one this.  I can't seem to reliably reproduce the issue.  Sometimes we get the error, other times not.  But at the moment, it is looking more like a build system, or caching, situation with app engine than package bug.

If you can wait till next Tuesday to close this, we will have more real world experience to verify our theory.

[2020-07-30 17:06] frankyn commented on #220
Thanks @chmoder,

1. Which App Engine are you using? (Standard or Flexible)
2. Do you only see this issue when deploying to App Engine?

I'll wait on closing this off until next Tuesday as well.

[2020-07-31 09:23] priyanshujain commented on #221
@HemangChothani @frankyn Can you help me solve this `encryption_key` problem?

Thanks in advance.

[2020-07-31 10:13] HemangChothani commented on #221
@priyanshujain The sample code will help you to resolve the issue:

[code]

[2020-07-31 12:31] chmoder commented on #220
1) App Engine standard second generation python 3.7
2) Yes it has happened 3 out of 6 times.

Yesterday we deployed with a cache refresh and this error did not happen.  We are doing a full code release on Monday, so we hope things go smoothly and are confident enough to close this after that.

[2020-08-03 12:40] DylanBowden opened #223 "Error when updating blob"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2020-08-03 17:20] chmoder commented on #220
We have been running on google-cloud-storage version: 1.30.0 for a while now without any errors, so thanks for the help and sorry for the non-issue.

[2020-08-03 17:20] #220 closed

[2020-08-04 09:46] HemangChothani commented on #223
@DylanBowden I tried to reproduce the error you're seeing but haven't been successful.

Could you try the following with the fresh virtual environment :
1.    pip install virtualenv
2.    virtualenv my_env
3.    source my_env/bin/activate
4.    pip install google-resumable-media==0.7.0
5.    pip install google-cloud-storage=1.30.0
6.    Run your example code

OR

-   Share the example you're using

[2020-08-04 18:33] tseaver commented on #210
I believe this work is blocked on merge / release of https://github.com/googleapis/python-cloud-core/pull/15

[2020-08-04 20:10] tseaver commented on #210
PR needs to pin `google-cloud-core >= 1.4.0, < 2.0dev`.

[2020-08-04 22:03] tseaver opened #226 "Systests fail under Python 3.8"
From [this Kokoro build]():

[code]
The first set of errors (`module 'google.api_core' has no attribute 'path_template'`) are due to a combination of #219 and a removed import of `google.api_core.path_template` somewhere else.

The second set are due to the breaking release of `google-cloud-kms 2.0.0`, which horks our test setup.

[2020-08-05 01:43] tseaver opened #228 "'test_get_signed_policy_v4' flakes with 500"
From [this Kokoro build](https://source.cloud.google.com/results/invocations/0499a0e3-d3c1-444e-a1a4-e74e80e39dcf/targets/cloud-devrel%2Fclient-libraries%2Fpython%2Fgoogleapis%2Fpython-storage%2Fpresubmit%2Fpresubmit/log):

[code]

[2020-08-05 03:10] #210 closed

[2020-08-06 06:07] HemangChothani commented on #3
@danjenson Can we close this issue?

[2020-08-06 06:12] HemangChothani commented on #221
@priyanshujain Did the above example help you to resolve the issue?

[2020-08-06 06:18] HemangChothani commented on #201
@mikechen66 Could you uninstall `google-auth==1.17.2` and try to install `google-cloud-storage`, it's because `api-core==1.21.0` support >=1.18.

[2020-08-06 12:24] priyanshujain commented on #221
@HemangChothani  Thanks for providing help in this. My main idea behind using `encryption_key` is to not allow someone to access files directly for GCS bucket. But according to your example, I need to pass `encryption_key` to end-user.

Is there any way I can generate a public signed URL with `encryption_key` and GCS blob combined?

[2020-08-06 21:54] frankyn commented on #221
Hi @priyanshujain,

When using customer supplied encryption keys with Signed URLs, you'll need to pass the encryption key in request headers. There's no way around it in this case because Cloud Storage uses the header information to decrypt the object during the request before returning it to the user. CSEK key material isn't stored server side and requires that requester's send it in the request.

[2020-08-10 10:33] shihabuddinbuet commented on #216
`python:3-alpine` does not contain some packages that are needed to install `google-cloud-storage`.  Install the following package first:
[code]
Now `RUN pip3 install google-cloud-storage` will work.

[2020-08-10 10:37] HemangChothani commented on #216
@shihabuddinbuet  Yes, need to install gcc and `python-dev`, thanks for the confirmation.

[2020-08-10 20:55] tseaver commented on #226
Via #227, #232.

[2020-08-10 20:55] #226 closed

[2020-08-10 21:01] #179 closed

[2020-08-10 21:01] failure-checker[bot] opened #236 "Warning: a recent release failed"
The release PR #191 is still in a pending state after several hours

[2020-08-10 21:08] tseaver commented on #200
@sumanthssr Your version if the `requests` library is waaaay out of date:  `response` objects added context manager support in [`requests-2.18.0`](https://requests.readthedocs.io/en/master/community/updates/#id13), released 2017-06-14.  That is the minimum version of `requests` which is compatible with current versions of `google-resumable-media` (since version `0.3.0`) and `google-cloud-storage`

[2020-08-10 21:08] #200 closed

[2020-08-10 21:26] #178 closed

[2020-08-10 23:14] AndrewAXue opened #237 "Multiple upload and downloads fail"
#### Environment details

  - OS type and version: Linux rodete
  - Python version: Python 3.8.5
  - pip version: pip 20.0.2
  - `google-cloud-storage` version: 1.30.0

#### Steps to reproduce

Run:

[code]

#### Stack trace
[code]

[2020-08-11 04:03] danjenson commented on #3
Sorry, we've moved on from this for now.

[2020-08-11 06:16] HemangChothani commented on #3
Closing this issue for now as many users suggested the solution and agreed with it , feel free to reopen if it happen again.

[2020-08-11 06:16] #3 closed

[2020-08-11 22:19] tseaver opened #239 "'TestKMSIntegration.test_upload_new_blob_w_bucket_cmek_enabled' flakes w/ EC error"
From [this Kokoro build failure](https://source.cloud.google.com/results/invocations/27fb932e-3234-4aac-a3a2-3715a0b6e76e/targets/cloud-devrel%2Fclient-libraries%2Fpython%2Fgoogleapis%2Fpython-storage%2Fpresubmit%2Fpresubmit/log):

[code]

Similar to #190.  In this case, reloading the blob after a failure would likely catch up to the expected state.

[2020-08-12 04:19] #236 closed

[2020-08-13 09:34] HemangChothani opened #241 "Update the 'google-cloud-core' dependency version"
Found from the Other library's PR comment https://github.com/googleapis/python-spanner/pull/132#discussion_r469011820 that `google-clou-core==1.4.0` breaks the dependency.

[2020-08-13 14:16] s2t2 opened #243 "Check if blob exists without reading the file"
**Is your feature request related to a problem? Please describe.**

Sometimes when I'm using `blob.exists()` to check if a file exists, it will time out. It seems to happen more often with larger files.

 **Describe the solution you'd like**

I'd like to be able to quickly and reliably check whether the file exists, without regard to the file size.

I assume this part of the underlying code actual

[2020-08-13 17:17] andrewsg opened #244 "generate_signed_post_policy_v4() improperly handles expiration timestamps with tzinfo=None"
The `generate_signed_post_policy_v4()` workflow, using `get_expiration_seconds_v4()` (`get_expiration_seconds_v2()` may also be affected) improperly calculates the expiration seconds if a datetime without tzinfo is used.

For instance, Python's `datetime.datetime.now()` produces a datetime with `tzinfo=None`, but in local time. The `get_expiration_seconds_v4()` method replaces that "None" timezone

[2020-08-13 18:26] #241 closed

[2020-08-14 06:24] HemangChothani commented on #221
@priyanshujain Did frank's answer help you?

[2020-08-14 14:20] enicholson125 commented on #216
Thanks, that solves the issue. It seems a shame not to be able to run straight from the image but I can see that's not a google-cloud-storage issue.

[2020-08-14 14:20] #216 closed

[2020-08-14 19:04] #237 closed

[2020-08-17 19:47] #239 closed

[2020-08-17 20:12] tseaver opened #247 "Replace unsafe 'timestamp.mktemp' with 'timestamp.{Named,}TemporaryFile' in systests"
Pydoc says:

[code]

[2020-08-17 20:26] tseaver commented on #243
`Blob.exists` makes the API request using the query string `?fields=name`, which means the size of the object won't affect the response time.  The `_target_object` bit allows the blob's metadata to be updated with the response (e.g., ETag, etc.) -- it doesn't handle the actual content (which won't be returned, anyway).

Passing a longer timeout should reduce the incidence of timeouts.

[2020-08-17 20:34] #243 closed

[2020-08-17 20:43] tseaver commented on #40
PR #185 added explicit `timeout` arguments to the `Blob` methods making API calls.  You should be able to pass a longer timeout to resolve this issue.

[2020-08-17 20:43] #40 closed

[2020-08-17 20:49] tseaver commented on #2
@limbuu [`Blob.upload_from_file`](https://googleapis.dev/python/storage/latest/blobs.html#google.cloud.storage.blob.Blob.upload_from_file) expects to be passed a file-like object, not a filename.  Please use `Blob.upload_from_filename` instead.

[2020-08-17 20:49] #2 closed

[2020-08-17 21:00] tseaver commented on #7
To investigate, try calling `client._http.close()` at the bottom of the loop.

[2020-08-17 21:26] tseaver commented on #21
[`google.resumable_media`](https://github.com/googleapis/google-resumable-media-python) requires:

- that the stream be seekable (see https://github.com/googleapis/google-resumable-media-python/issues/123)
- that the stream be at the start.

It is possible that some combination of stream-not-at-start, a passed `total_bytes` *might* still work, but this issue needs to be traced in that repository.

[2020-08-17 21:30] tseaver commented on #25
@frankyn Do we still need to preserve the `gcloud-python` header?

[2020-08-17 21:55] tseaver commented on #31
Possible implementation at https://github.com/googleapis/google-cloud-python/pull/8618

[2020-08-17 21:59] tseaver commented on #32
Noted during review:  `Blob.rewrite` returns a 3-tuple, `(rewrite_token, bytes_rewritten, object_size)`, in order to permit tracking progress on the rewrite (it may only complete partially).

[2020-08-17 22:02] tseaver commented on #33
I just checked, and there is still no generator config present in the [googleapis `storagetransfer/v1` directory](https://github.com/googleapis/googleapis/tree/master/google/storagetransfer/v1).

[2020-08-17 22:03] tseaver commented on #34
@ravindranathakila  Please feel free to follow up / reopen if you can provide more clarity.

[2020-08-17 22:03] #34 closed

[2020-08-18 13:05] ravindranathakila commented on #34
No worries. The GCS API is nothing much to love; to date.

On Tue, 18 Aug 2020, 6:03 am Tres Seaver, <notifications@github.com> wrote:

[2020-08-18 16:13] priyanshujain commented on #221
@frankyn @HemangChothani  Sorry for the late response. Thanks for explaining the decryption process using request headers, but as you predicted correctly my use case is to protect files from GCP project admins from viewing the object so that no one person has right to view the object and it can only be viewed as a combination of some key in DB and file in GCS without.

If there is any workaround t

[2020-08-18 17:32] priyanshujain opened #249 "BadRequest from gcs APIs while downloading file cotent to file_obj"
I am trying to download file content to a file using `blob.download_to_file` function but it's getting 400 from from GCS APIs while fetching the file content.

#### Environment details

  - MacOS Catalina 10.15
  - Python version: `3.8`
  - pip version: `20.1.1`
  - `google-cloud-storage` version: `1.3`

#### Code example

[code]

#### Stack trace
[code]

Thanks!

[2020-08-18 19:57] frankyn commented on #221
Closing out, an end-user does require both encryption keys and signed URL to download an object. Encryption key can't be placed into the signed URL and would require an additional layer of implementation to resolve.

Thanks for raising the question! Cheers.

[2020-08-18 19:57] #221 closed

[2020-08-19 08:28] priyanshujain commented on #249
@HemangChothani  I saw the discussion on #235, My main concern is the error from the GCS API, as I tried this error is only happening while I download content to file/file_obj/string, Should I also report this to storage API?

[2020-08-19 08:56] priyanshujain commented on #249
@HemangChothani I think this was happening because I was not providing `encryption_key` and this file was encrypted using the key. But it should show that `encryption_key` is not provided.

[2020-08-19 09:01] HemangChothani commented on #249
@priyanshujain If your concern is related to the error message,  then wait for the PR to be merged and for the latest release of `google-cloud-storage`.

If problem is related to the download content to file/file_obj/string then ping me again.

[2020-08-19 09:26] HemangChothani commented on #249
@priyanshujain If your blob was encrypted by key when you have uploaded then when you are going to download it or retrieve it you need to pass `encryption_key`.
I have verified with that PR, it will give the actual reason of error, so no need to filed another issue.

If you are not passing the `encryption_key` then it will give error like ` The target object is encrypted by a customer-supplied enc

[2020-08-20 06:30] HemangChothani commented on #74
PR #185 added explicit timeout argument to the blob methods. Now users can pass a longer timeout to resolve this issue. Feel free to reopen if this issue appear again.

[2020-08-20 06:30] #74 closed

[2020-08-20 07:45] HemangChothani commented on #101
Please follow-up / reopen if you can provide more information.

[2020-08-20 07:45] #101 closed

[2020-08-24 15:49] danieldhz opened #252 "Error processing line 3 of google_cloud_storage-1.30.0-py3.8-nspkg.pth"
Hi There,

Upon my installation of google libs. I get the following error in my virtualenv:
[code]
I'd like to know what I shall do?

[2020-08-24 21:12] #247 closed

[2020-08-24 23:40] frankyn commented on #25
As far as I'm aware yes. @jsimonweb do you know if we are tracking the correct headers now?

[2020-08-25 10:47] HemangChothani commented on #252
@danieldhz  Delete this file `C:\StartUp\IdeaStage\Tier 1\Alexa smart timer\AlexaLibs\lib\site-packages\google_cloud_storage-1.30.0-py3.8-nspkg.pth` and try again to install it.
OR
edit the .pth file (immediately after the text Error processing line 3) and added a newline character after the first semicolon and also try with third one.

- If it doesn't help then please share reproducible steps or

[2020-08-25 17:01] #159 closed

[2020-08-25 17:38] danieldhz commented on #252
@HemangChothani Thanks for your answer. The error did get removed upon deleting it. However, I now face the same error as previous when deploying the venv to AWS`"Unable to import module 'lambda_function': No module named 'google.cloud'"`

[2020-08-25 17:54] #228 closed

[2020-08-26 05:59] SaschaHeyer opened #253 "urllib3.connectionpool:Connection pool is full, discarding connection: storage.googleapis.com"
#### Environment details

  - OS type and version: Google Cloud Platform AI Platform Job
  - Python version: tensorflow/tensorflow:2.0.0-py3
  - pip version: tensorflow/tensorflow:2.0.0-py3
  - google-cloud-storage version: google-cloud-storage==1.28.1

#### Steps to reproduce

  1. Run multiple downloads in parallel

#### Code example
/

#### Stack trace
[code]
Making sure to follow these steps w

[2020-08-26 07:32] Pradyumn10 opened #254 "Unable to install it on Nvidia Jetson Nano"
Whenever I am installing this , it gives me error: "command aarch-64-linux-gnu-gcc" failed with exit status one. I want to use google-cloud-storage python library. How can i install it over jetson nano

[2020-08-26 11:46] HemangChothani commented on #252
@danieldhz  I am not very much familiar with aws lambda, but i would like to suggest few things:

- Install the library like `pip install google-cloud-storage -t  and other dependencies.
- need to export  the .../site-packages to aws lambda to your deployment path

For more details you can follow these steps listed [here](https://stackoverflow.com/questions/52913257/google-cloud-platform-api-for-p

[2020-08-26 17:41] #224 closed

[2020-08-26 18:00] #196 closed

[2020-08-26 18:39] danieldhz commented on #252
@HemangChothani Hi Hemang!

[2020-08-26 19:08] danieldhz commented on #252
it now says `No module named 'google.cloud'` despite the dependencies not changing

[2020-08-27 05:05] HemangChothani commented on #249
@priyanshujain Closing this issue as resolved by PR https://github.com/googleapis/python-storage/pull/235

[2020-08-27 05:05] #249 closed

[2020-08-27 07:01] HemangChothani commented on #252
Use this command :  ` pip install --user  --upgrade google-cloud-storage`.
If it still doesn't work then do `pip freeze` in you environment  and share it.

[2020-08-27 15:40] frankyn opened #256 "Add Lifecycle Rule Property Setters"
From: https://github.com/googleapis/python-storage/pull/199#discussion_r478512169

Object Lifecycle Management Rules don't have property setters and requires using the class constructor in this case.

This is a FR in case we want to introduce setters. This isn't prioritized at the moment and waiting for more user feedback.

[2020-08-27 19:03] #244 closed

[2020-08-29 13:55] yoshi-automation opened #260 "Synthesis failed for python-storage"
Hello! Autosynth couldn't regenerate python-storage. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/eb3751c4-28ee-40c9-be70-bab603e36a5d/targets/github%2Fsynthtool;config=default/tests;query=python-storage;failed=false).

[2020-08-30 13:56] yoshi-automation commented on #260
Autosynth is still having trouble generating python-storage. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/0cdb8bf2-937b-4824-874b-7cb707d943f4/targets/github%2Fsynthtool;config=default/tests;query=python-storage;failed=false).

[2020-08-30 15:13] amitripshtos opened #261 "Function download_to_filename is not working when using service account file"
#### Environment details

  - OS type and version:
  - Python version: `Python 3.8.3`
  - pip version: `pip 20.1.1 from /usr/local/lib/python3.8/site-packages/pip (python 3.8)`
  - `google-cloud-storage` version:
[code]

#### Steps to reproduce

  1. Set environment variable GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/sa/file.json
  2. Set environment variable CLOUDSDK_AUTH_CREDENTIAL_FILE_OVERRI

[2020-08-31 07:18] kylefoley76 opened #263 "requests.exceptions.ConnectionError"
I'm getting this error every time for files which are really not all that big.  I can upload files which are 2 megs, but I cannot upload files larger than 7 megs.   I have gotten this bug a lot in the past and I used to think it depended on my slow internet connection upload speed.  So in the past 3 megs per second was too slow.  But now it will not even work with an upload connection speed of 10

[2020-08-31 07:38] HemangChothani commented on #214
@bbolvig any update from your side?

[2020-08-31 07:39] HemangChothani commented on #254
@Pradyumn10 Any update from your side?

[2020-08-31 07:40] HemangChothani commented on #252
@danieldhz Any update?

[2020-08-31 08:22] HemangChothani commented on #261
@amitripshtos I have tried to reproduce with you given steps except step2, as it's not needed for google-cloud-storage, but not able to reproduce.
I think this error is related to `google-resumable-media`'s older version, please  make sure you have installed 'google-resumable-media==1.0.0'  version. If it doesn't help then please provide more info about the versions of libraries and the code.

[2020-08-31 09:22] #254 closed

[2020-08-31 09:23] Pradyumn10 commented on #254
Yeah done!
Thank You

[2020-08-31 11:01] coert opened #264 "CRC32C and Installing crcmod instruction (gsutil help crcmod) Debian/Ubuntu reads: pytho3n-dev"
That should obviously read:
`sudo apt-get install gcc python3-dev python3-setuptools`

[code]

[2020-08-31 12:25] yoshi-automation commented on #260
Autosynth is still having trouble generating python-storage. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/62315112-900b-4eef-8d49-c6c399a38931/targets/github%2Fsynthtool;config=default/tests;query=python-storage;failed=false).

[2020-08-31 15:23] danieldhz commented on #252
@HemangChothani Sorry for not getting back. I realized that not all of the libs were being uploaded to layers as it maxed out incapacity.

[2020-09-01 11:07] HemangChothani commented on #252
@danieldhz Closing this issue, feel free to reopen if the error occurs again.

[2020-09-01 11:07] #252 closed

[2020-09-01 12:24] yoshi-automation commented on #260
Autosynth passed, closing! :green_heart:

[2020-09-01 12:24] #260 closed

[2020-09-01 20:23] tseaver commented on #261
@amitripshtos Please show the output of `pip list` in the environment where you have installed `google-cloud-storage`.  As @HemangChothani indicates, the error you report indicates that the version of `google-resumable-media` is too old.

[2020-09-01 20:28] tseaver commented on #263
Your request is taking longer than the default timeout (60 seconds):  you can pass a longer value, e.g.:

[code]

[2020-09-01 20:28] #263 closed

[2020-09-01 20:32] tseaver commented on #264
@coert This repository manages the `google-cloud-storage` Python API library.  Transfering to https://github.com/GoogleCloudPlatform/gsutil/issues.

[2020-09-01 20:33] #264 closed

[2020-09-02 12:23] coert commented on #264
Ok, thanks

[2020-09-02 19:02] MartinKilonzo opened #266 "Hashes are no longer returned for partial downloads"
#204 Changed behavior for hashes for partial downloads.
When a partial request is made, we do not return the 'X-Goog-Hash' headers. As a result,
[blob.py:812](https://github.com/googleapis/python-storage/pull/204/files#diff-5d3277a5f0f072a447a1eb89f9fa1ae0R812) overwrites the `blob.crc32c` value with its default, `None`.
[blob.py:813](https://github.com/googleapis/python-storage/pull/204/files#dif

[2020-09-02 21:11] MartinKilonzo commented on #266
One option is to return the existing complete object hashes already stored when the blob is created: #267

[2020-09-03 06:05] HemangChothani commented on #223
@DylanBowden  Any update from your side?

[2020-09-03 06:28] HemangChothani commented on #253
@SaschaHeyer I think this is because of the urllib3's default `pool_maxsize` which is 10, so you can edit that size and increase it and by default `pool_block` is `False` so make it `True`,  that will be helpful.

[2020-09-04 10:39] HemangChothani commented on #253
**Here is the sample:**

from google.cloud import storage
import requests

GCS_CLIENT = storage.Client()
adapter = requests.adapters.HTTPAdapter(pool_connections=128, pool_maxsize=128, max_retries=3, pool_block=True)
GCS_CLIENT._http.mount("https://", adapter)
GCS_CLIENT._http._auth_request.session.mount("https://", adapter)

[2020-09-05 18:11] amitripshtos commented on #261
Hey,
Looks like indeed my google-resumeable-media version is too old:
[code]

However, it got installed automatically when using google-cloud-storage 1.30.0 - so maybe it's a good idea to set a limit on the package's requirements.

[2020-09-07 04:45] HemangChothani commented on #261
@amitripshtos It is already added in package requirements as you can see here https://github.com/googleapis/python-storage/blob/cf0774aa8ffd45d340aff9a7d2236d8d65c8ae93/setup.py#L31-L34

But in your pip i can see google-cloud-storage==1.27.0 so with that google-resumable-media==0.5.1 is compaible.

Closing this issue for now, feel free to reopen if it occur again or answer is not satisfied.

[2020-09-07 04:45] #261 closed

[2020-09-09 13:53] HemangChothani commented on #55
@tseaver  I think it's one time backend issue, i have tried more than 1000 times but unable to reproduce it.
![Screenshot from 2020-09-09 19-19-16](https://user-images.githubusercontent.com/50404902/92607375-ad6e6000-f2d1-11ea-865d-455396f6a348.png)

[2020-09-14 12:13] simonvanderveldt opened #268 "requests is missing as dependency"
`requests` is used directly by several modules in this project, see https://github.com/googleapis/python-storage/search?l=Python&q=requests yet it's not listed in `setup.py` in `install_requires`.

(note that this won't be an issue for most people because `requests` is pulled in as a dependency by one of the dependencies that are currently listed).

[2020-09-14 12:42] HemangChothani commented on #268
@simonvanderveldt Yes, as you have said `request` is installed by `google-resumable-media`,so don't want to make it redundant , `google-api-core` is also installed by the other dependency.

[2020-09-14 12:59] simonvanderveldt commented on #268
AFAIK That's not how `install_requires` works/is meant to be used. If a project uses a dependency directly it should be listed in its `install_requires`.

[2020-09-14 13:17] HemangChothani commented on #268
I don't think there is any need to  mention `requests` in dependencies because if we follows, then there will be a bunch of redundant dependencies need to mention in the file .
@frankyn @tseaver could you please share your view?

[2020-09-14 15:15] vnvo2409 opened #269 "pip package for google cloud storage grpc"
**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Hi,
I am working on a `GCS emulator` for `google-cloud-cpp` which supports both `Rest` ( `JSON`, `XML` ) and `gRPC` protocol for testing purposes: https://github.com/googleapis/google-cloud-

[2020-09-14 15:22] frankyn commented on #268
@andrewsg can you take a look at this question when you have a moment?

[2020-09-14 16:41] tseaver commented on #268
Outside of tests, all use of the `requests` module is in docstrings (i.e., for clarity).  We do not need to mention it in `install_requires` for testing-only usage.

Note that [`google-resumable-media` only has an `extras_require` for `requests`](https://github.com/googleapis/google-resumable-media-python/blob/1da21840b4888ce4dcaba454a66ef1b4e86578c1/setup.py#L31-L35).  That is by design, with the

[2020-09-14 17:26] andrewsg commented on #268
It looks like there's exactly one non-test file that uses requests after all, google/cloud/storage/batch.py. Given that, we should add it to direct dependencies after all. I assume it didn't show up in our system testing because, as previously mentioned, dependencies were pulling requests in in both customer and test environments, so this is more of a formality.

[2020-09-14 17:45] andrewsg commented on #266
Thanks for this detailed report!

[2020-09-15 04:18] vnvo2409 commented on #269
Hi @busunkim96

The cpp library are working on `GCS+gRPC plugin`. Since `gRPC` protocol for `GCS` is not GA, testing against production is inconvenient and expensive. So I am implementing an `GCS+gRPC` emulator in Python ( Python is simpler compared to other languages ) and I need the generated Python protos.

[2020-09-16 06:03] HemangChothani opened #272 "System test failed for python3.8"
- system test failed related to pubsub and due to new version of pusub

[2020-09-16 08:17] #272 closed

[2020-09-16 09:15] #268 closed

[2020-09-16 17:12] #266 closed

[2020-09-21 19:22] mikesss opened #274 "Incorrect client.get_blob call in example code"
I came across an example in the code [here](https://github.com/googleapis/python-storage/blob/0dd22a43b3436f2259c5f389543e6bb01143c0a1/google/cloud/storage/blob.py#L410) that appears to be incorrect.  I believe it should be:

[code]

I'm happy to submit a pull request if so, just unsure of the guidelines in this repo.

[2020-09-22 21:43] jdb409 opened #276 "404 or 503 when patching a copied blob"
[code]

Over the past few weeks, we've noticed quite a few 404 and 503 status codes when patching a blob after copying it.

[code]

We've been running this code in production since March and only began seeing this starting in mid August.  We have retries and it looks like it eventually works, but these are cluttering up our logs and raising false positives in our alerts.  The resulting error is ei

[2020-09-23 15:17] #274 closed

[2020-09-28 18:45] frankyn opened #281 "Policy V4 returns non utf8 decoded strings"
We received a PR to update our Python Sample for Policy V4. The resulting string should provide a UTF-8 decoded value for all fields.

Right now a user must decode it manually which isn't helpful.

Example:
[code]

Request is to update Python implementation to return decoded string to the end-user.

[2020-09-29 12:05] HemangChothani commented on #281
We return policy_field in which we had a key `policy` which is encoded.
 https://github.com/googleapis/python-storage/blob/2f4164d209494752bd3b9ec4d6ac389282f5c604/google/cloud/storage/client.py#L1093

If we return decoded policy in that dict, then user needs to encode that policy value manually like `policy["fields"]["policy"] = base64.b64encode(policy["fields"]["policy"].encode("utf-8"))` before

[2020-09-29 15:54] frankyn commented on #281
Hi @HemangChothani,

Thanks for chiming in. The request is not to return the b64 decoded value of policy but rather the `policy["fields"]["policy"].decode('utf-8')` because `b64encode` returns a bytes value which then needs to be decoded as a `str` type after.

This needs to occur for `policy["fields"]["policy"]` at the very least because it's returned as a bytes value.

[2020-09-30 07:44] HemangChothani opened #283 "Increase code coverage"
```>>nox -s cover```
[code]

[2020-10-01 18:48] andrewsg commented on #276
Hi @jdb409, we're now investigating this as a potential backend issue. I may be back to request more info if needed by our backend eng team. Thanks for your report!

[2020-10-01 19:55] jdimatteo opened #286 "Blob upload_from_string AttributeError when using client argument"
#### Environment details

  - OS type and version: variant of Debian Linux
  - Python version: 3.8.5
  - pip version: 20.1.1
  - `google-cloud-storage` version: 1.31.2

#### Steps to reproduce

  1. create `Blob` object using `from_string` without a specified `client`
  2. use `Blob` `upload_from_string` with `client` argument

#### Code example

[code]

#### Stack trace
[code]

[2020-10-01 20:00] jdimatteo commented on #286
Here is an example fix: https://github.com/jdimatteo/python-storage/commit/df00005ff9ba21522318a4ea03102774718e9518

I haven't contributed to this project before and it would take me a little while to get up to speed on the test framework etc.

I'll create a proper pull request if nobody else gets to this before I do.

[2020-10-02 21:04] andrewsg commented on #276
Hi @jdb409, the backend eng team has requested additional information. Would you mind emailing the following to me at gorcester@google.com?

1) Your Cloud project name
2) The bucket affected
3) The timestamp or rough time estimate of some recent 404s you've received.

Thanks again!

[2020-10-06 21:16] #281 closed

[2020-10-07 01:29] zLupa commented on #27
One year since this has opened, any updates?

[2020-10-07 15:48] hector-sab commented on #36
Another workaround would be to use [sh](https://pypi.org/project/sh/) and do something like
[code]

[2020-10-07 17:25] frankyn commented on #33
Closing this out, we are discussing this client, but right now the only support available is through:
https://github.com/googleapis/google-api-python-client

[2020-10-07 17:25] #33 closed

[2020-10-07 17:34] frankyn commented on #253
Hi @SaschaHeyer,

Did @HemangChothani answer your question?

[2020-10-07 20:57] jdb409 commented on #276
I spent some more time looking this over and I think it might've been a threading issue on our end.  While our code didn't change, there was an upstream change that was causing us to copy the blob twice.

What I'm thinking happened:

thread 1 - copied the blob with id 123

--context switches to thread 2--

thread 2 - copied the same blob with id 123

--context switches to thread 1--

thread 1 - tr

[2020-10-07 21:01] andrewsg commented on #276
I'm still a little surprised at the 404 error in particular but that does make sense.

You might benefit from using if_generation_match (or if applicable if_metageneration_match) on your requests, which will guarantee the correct behavior in concurrent situations.

[2020-10-07 21:07] jdb409 commented on #276
Ok cool, we'll look into that.

Thanks for your help, i'm going to close the issue.

[2020-10-07 21:07] #276 closed

[2020-10-08 06:55] danbader88 opened #291 "ConnectionResetError while uploading a file in Firebase Storage"
I am facing following intermittent issue while uploading a file in the Firebase storage from my Django web app-

![connection_error](https://user-images.githubusercontent.com/69597128/95424629-8a7eac80-0960-11eb-840b-4289b8f6e4af.JPG)

The server console with error is as below-
![intermittent_issue](https://user-images.githubusercontent.com/69597128/95424701-a97d3e80-0960-11eb-8066-59c491169eda.JP

[2020-10-08 16:28] andrewsg commented on #291
Can you clarify what you mean about not wanting to use retry since "it may upload a broken file"? Are you concerned something about the source file may be the cause of the network error?

[2020-10-09 11:06] Shreeyak commented on #27
This is an feature for large file uploads/downloads. I resorted to using gsutil via subprocess call just for the download progress bar.

[2020-10-10 07:29] danbader88 commented on #291
@andrewsg I found for a similar issue, someone told to add a retry option incase of connection closing-
[https://github.com/googleapis/google-cloud-python/issues/5879](url)

[2020-10-12 17:44] andrewsg commented on #291
I would indeed recommend the use of a retry option. Normally uploads are covered by the standard retry strategy defined in google-resumable-media-python (ex: https://github.com/googleapis/google-resumable-media-python/blob/03c11bae0c43830d539f1e0adcc837a6c88f4e2e/google/resumable_media/_helpers.py#L143). However, it looks like ConnectionError is not considered (only invalid HTTP status returns suc

[2020-10-13 17:36] crwilcox opened #292 "Add test pass, classifiers for Python 3.9"
Python 3.9 classifiers and tests should be added.

https://github.com/googleapis/python-storage/blob/master/setup.py#L84
https://github.com/googleapis/python-storage/blob/master/setup.py#L93
https://github.com/googleapis/python-storage/blob/master/noxfile.py#L30

[2020-10-13 17:38] crwilcox commented on #292
Similarly, 3.5 should be dropped. it may make sense to drop 2.7 as well.

[2020-10-13 23:14] lrowe opened #293 "Blob.metadata not preserved when uploading new file content"
`blob.metadata` is not preserved when uploading new file content on an existing Blob instance with `blob.upload_from_string(...)` unless you first reset it with `blob.metadata = blob.metadata`.

I suspect this bug / surprising behaviour is the result of the somewhat awkward mapping of the REST API onto mutable objects. It feels like setting metadata should really be a parameter of the blob upload

[2020-10-13 23:52] lrowe opened #294 "There should be a built-in way to list prefixes (directories) in a bucket"
The REST API provides a way to list prefixes (directories) in a bucket but this does not seem to be supported by the client library.

According to #192 the iterator returned by `list_blobs` has a `prefixes` field which is filled in as you iterate over the blob. This should be better documented, since it is only mentioned in passing:

https://googleapis.dev/python/storage/latest/client.html#google.

[2020-10-14 10:08] HemangChothani commented on #293
@lrowe  Yes it's reproducible, thanks for opening the issue.
First time when set `blob.metadata = {'test': 'me'}`  it's there in self._changes when called `_get_writable_metadata` method and response set into the properties.
https://github.com/googleapis/python-storage/blob/fcd1c4f7c947eb95d6937783fd69670a570f145e/google/cloud/storage/blob.py#L1482

But when called method second time with the same

[2020-10-15 13:24] HemangChothani commented on #223
Please follow-up / reopen if you can provide more information.

[2020-10-15 13:24] #223 closed

[2020-10-15 13:25] HemangChothani commented on #253
Please follow-up / reopen if you can provide more information.

[2020-10-15 13:25] #253 closed

[2020-10-16 19:21] #108 closed

[2020-10-20 14:03] bipindr123 opened #299 "Error message when downloading blob"
I know python 2.7 is no longer supported, but my hands are tied and I cannot use python 3 at the moment. I saw there are similar issues mentioned in the past, the fix is seemingly something to do with google-cloud-core and requests version. Could anyone let me know the last known working version for them. I am using google-cloud-storage==1.31.2 and requests==2.24.0

#### Environment details

Googl

[2020-10-20 20:06] #201 closed

[2020-10-21 16:33] frankyn commented on #294
Hi @lrowe,
Thanks for filing the issue.

Would it help to document an example instead pydocs? Here's an example:

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/storage/cloud-client/storage_list_files_with_prefix.py#L49-L65

[2020-10-21 17:16] lrowe commented on #294
@frankyn An example would be helpful too, but I think the `prefixes` property should be included the API docs since they are expected to be exhaustive.

Perhaps the `:returns:` section of `list_blobs` could be expanded to mention the special prefixes property of the iterator, see [list_blobs docstring](https://github.com/googleapis/python-storage/blob/master/google/cloud/storage/bucket.py#L1208-L1

[2020-10-21 17:33] lrowe commented on #294
I do worry though that the current list_blobs Iterator.prefixes set might be problematic when there are a very large number of prefixes since it would grow unbounded.

[2020-10-21 17:43] frankyn commented on #294
Thanks for clarifying @lrowe, how many prefixes are you expecting right now? We'd need to run tests to see how the library behaves.

@HemangChothani could you update your PR to provide better documentation instead for now?

[2020-10-21 18:19] lrowe commented on #294
I ran into this while building a Cloud Function storage trigger to generate directory listings in a bucket exposed as a static website containing output from programmatically generated analysis runs. Some of these 'directories' have ~50,000 subdirectories and I can imagine we may have cases in the future with an order of magnitude more and I will need to split the listing over multiple pages in or

[2020-10-23 10:39] HemangChothani commented on #299
@bipindr123  I am able to reproduce this error only when library version `requests < 2.18.0`.
Please check the the version of requests at the runtime.

    import requests
    print requests.__version__

If it doesn't help then please provide more details.

[2020-10-27 17:49] jfbrennan commented on #3
Had this issue and like @mlescaudron has shown, it's because Chrome is swallowing up the actual response and logging a somewhat misleading error about CORS.

I say somewhat misleading because it appears the error response does not have the proper CORS headers even though they've been properly set via gsutil. In my case I did not know about the need to send a `x-goog-content-sha256` header in the r

[2020-11-01 17:17] sjtarik commented on #74
I am having the exact same issue constantly while uploading a 15 mb file on 2.4mb upload speed.
when I set the timeout I still get 503 response.

[code]

[2020-11-02 14:40] yun-cn opened #303 "Blob upload_from_string example"
Environment details
OS type and version: variant of Debian Linux
Python version: 3.8.5
pip version: 20.1.1
google-cloud-storage version: 1.31.1

[code]
to
` >>> blob = Blob.from_string("gs://bucket/object", client=client)`

[2020-11-02 15:04] #303 closed

[2020-11-02 18:41] andrewsg commented on #26
Looking at resumable media retries this week. I'm confused by this bug. Under what circumstances will the API issue a 410? That seems like a bizarre error code to issue in response to an upload request.

[2020-11-02 20:22] crwilcox commented on #26
@andrewsg in practice, our front ends/services can sporadically send a variety of errors, notably unavailable (503) or gone (410). Users (our libraries) should understand how to reattempt.

For the 410 case, an example could be a situation where you are trying to upload a file, but somehow it is deleted, or corrupt. Gone will presumably be returned.

[2020-11-09 08:41] hendrikfrentrup commented on #3
This issue is closed pre-maturely and it looks to me the issue lies with Google's backend - not Chrome or anything else.

Here is why:
CORS is a *browser* security feature hence the issue arises with AJAX requests. The objective for most will be to upload a fairly large file to a Google Storage bucket directly without going through an app server. The app server is used to provide the signed URL to

[2020-11-10 22:22] #55 closed

[2020-11-10 22:30] tseaver commented on #17
I believe this is actually an issue for the `google-auth-python` repository, likely already identified in https://github.com/googleapis/google-auth-library-python/issues/261.

[2020-11-11 20:02] #293 closed

[2020-11-11 20:20] #286 closed

[2020-11-11 21:22] #283 closed

[2020-11-11 21:56] tseaver opened #309 "New test for 'Blob._do_multipart_upload' w/ metadata flakes"
The [flaky test](https://source.cloud.google.com/results/invocations/26bf2df0-2ddb-4699-bc41-2430500326e9/targets/cloud-devrel%2Fclient-libraries%2Fpython%2Fgoogleapis%2Fpython-storage%2Fpresubmit%2Fpresubmit/log) was [introduced in #298](https://github.com/googleapis/python-storage/pull/298/files#diff-e4a098aa380a5eea289442e5395c3af9905e5208d2e89ed56e1bea1f8ee3ebeaR1916)

The issue is that the co

[2020-11-12 16:36] shaffeeullah opened #312 "add support for PublicAccessPrevention"
We need to add support for a new field publicAccessPrevention in the bucket IAM configuration for storage. Full details are available in [this doc](https://docs.google.com/document/d/1o_ElQg4c8enEx8OYa3irrUYFKADmHFbRn7dC9g287sI). This should include ability to create buckets with this field set, get the field, and set the field. We'd also like an integration test that verifies that the feature wor

[2020-11-12 21:59] #309 closed

[2020-11-13 20:40] abhipn commented on #29
Any update on this?

[2020-11-13 22:49] #292 closed

[2020-11-16 17:10] krisowski opened #315 "Add a default retry parameter to all public methods"
All public storage method should have a default retry parametr defined so that clients don't have to explicitly use the `@retry.Retry` decorator to handle transient issues, like 503 error code.

The solution could look similar to the implementation in the [google-cloud-bigquery](https://github.com/googleapis/python-bigquery/blob/master/google/cloud/bigquery/client.py#L830) where retry is implement

[2020-11-17 18:31] jaketf opened #318 "Add typing mypy"
**Is your feature request related to a problem? Please describe.**
I'd like to catch common issues w/ mypy CI.
For example `lookup_bucket("foo").blob("bar")` mypy static analysis could tell us "lookup_bucket is Optional[storage.Blob] and NoneType has no method blob"
This can avoid code review comments like this: https://github.com/GoogleCloudPlatform/bigquery-utils/pull/190#discussion_r525239475

[2020-11-18 19:13] kornholi opened #319 "Blob.download_as_text does not decode properly"
`Blob.download_as_text` tries to use the `content-encoding` header to decode the bytes. In most cases that value is `gzip`, even though the bytes were already decompressed at that point. In other cases, e.g `text/plain; charset=utf-8`, the value does not make sense to Python's `bytes.decode`.

[code]

I don't think we can be smarter here than passing through the `encoding` kwarg which defaults to

[2020-11-22 09:35] tamir-jether opened #322 "'Blob.custom_time' setter doesnt update '_changes'"
i think the `custom_time setter` code should be:

[code]

instead of

[code]

[2020-11-23 01:26] stefanadelbert opened #324 "Avoid Authentication When Connecting to Storage Emulator"
**Problem**
When connecting to a 3rd party storage emulator, like `gcloud-storage-emulator`, authentication is required. This requires injecting credentials into containers and adding conditional logic in code to authenticate when running against emulators.

[code]

**Solution**
When `STORAGE_EMULATOR_HOST` is set, use an insecure connection, as is done for `firestore`.

[2020-11-23 04:35] HemangChothani commented on #299
@bipindr123 Any update from your side?

[2020-11-23 05:03] bipindr123 commented on #299
@HemangChothani Really sorry for the late reply, I tried the script with a fresh VM and had no problems, I guess the something in the environment was conflicting in the VM I was prerviously trying this on.
Thanks for your time.

[2020-11-23 05:03] #299 closed

[2020-11-24 19:41] tseaver commented on #319
@kornholi Thanks for the report!  I agree with your assessment that the `content_encoding` value is not appropriate.  It might be possible to use the `charset` portion of the `content_type` value as a default, if no explicit `encoding` argument is passed.

[2020-11-24 22:04] #322 closed

[2020-11-28 12:28] HemangChothani commented on #324
@stefanadelbert For now i think you can use a class method `create_anonymous_client` which doesn't throw an error of credential.

[code]

https://github.com/googleapis/python-storage/blob/6a0b8a73116472bc0d4075b0c2b364d2f81683d1/google/cloud/storage/client.py#L142-L155

[2020-11-29 11:53] fzhengwx opened #330 "When to support Streaming Upload/Download for GCS?"
According to GCS document

https://cloud.google.com/storage/docs/streaming#storage-stream-upload-object-python

Can we know when it will be supported from Python SDK? Thanks.

[2020-11-29 17:45] jamesmazur opened #329 "Is there any way to select the storage class when you upload a file?"
I looked through the documentation and didn't see any way to specify the storage class using e.g. `Blob.upload_from_filename` or `Blob.upload_from_file`. The only solutions seem to be either to change the default storage class of the bucket, do the upload, and then change it back, or, alternatively, upload the file using the default storage class, and then use `update_storage_class` (which seems i

[2020-11-30 05:53] HemangChothani commented on #329
@jamesmazur There are two ways to set `storage_class`, documentation of [storage class](https://googleapis.dev/python/storage/latest/blobs.html#google.cloud.storage.blob.Blob.storage_class)

[code]

[2020-11-30 13:24] HemangChothani commented on #315
Almost all the public methods has retry parameter with default value, adding in the remaining methods and will expose the parameter for users.
https://github.com/googleapis/python-storage/blob/6a0b8a73116472bc0d4075b0c2b364d2f81683d1/google/cloud/storage/client.py#L528-L535

[2020-11-30 14:16] jamesmazur commented on #329
Thanks!

[2020-11-30 14:16] #329 closed

[2020-11-30 17:35] frankyn commented on #330
Being tracked in: https://github.com/googleapis/python-storage/issues/29

[2020-11-30 17:35] #330 closed

[2020-11-30 18:07] #319 closed

[2020-12-01 14:41] kamilglod opened #332 "logging.info() triggers basicConfig()"
When I use `download_as_string()` method or similar, `logging.root` logger is being activated by calling `logging.info()` on line
https://github.com/googleapis/python-storage/blob/63ff23387f5873c609490be8e58d69ba34a10a5e/google/cloud/storage/blob.py#L926. It causes other loggers to be logged by the root logger which is unexpected as some apps require a single logger in strict format.

#### Environ

[2020-12-01 17:59] tseaver commented on #332
Bug injected in PR #246.

[2020-12-01 18:06] tseaver commented on #332
@kamilglod Thanks very much for the report!

[2020-12-01 18:20] tseaver commented on #269
@vnvo2409, I'm not sure why you need to have those protos published as a separate package:  couldn't you just generate them inside your emulator project?

If you *do* need to publish them to PyPI, please avoid using the "official" names for any such package you create (e.g., use a `vnvo2409-` prefix, or some such).

[2020-12-01 18:38] tseaver opened #334 "'test_hmac_key_crud` test flakes"
See [this build failure](https://source.cloud.google.com/results/invocations/c7fde57b-8643-49c3-bca8-37f5016e3f2d/targets/cloud-devrel%2Fclient-libraries%2Fpython%2Fgoogleapis%2Fpython-storage%2Fpresubmit%2Fpresubmit/log).

[code]

This seems likely triggered by simultaneous CI runs:  I can't remember how to check if we have leaked HMAC keys in the console.  @frankyn, can you check if there is a q

[2020-12-01 19:46] frankyn commented on #334
It's a fixed quota, but will review dashboard for leaked keys.

[2020-12-01 19:50] frankyn commented on #334
@tseaver I cleaned up leaked keys.. still feels too brittle.

[2020-12-01 23:52] #332 closed

[2020-12-02 10:20] vnvo2409 commented on #269
Thanks to @crwilcox and #270 , I don't need to publish them to PyPI. Close this issue.

[2020-12-02 10:20] #269 closed

[2020-12-09 17:56] #315 closed

[2020-12-11 18:43] andrewsg commented on #338
This is now resolved for storage. Retries are supported by default, documentation work for configuring them is pending (for now, see docstrings).

[2020-12-11 18:43] #338 closed

[2020-12-11 20:43] andrewsg commented on #291
The issue where ConnectionError is not covered by media operation retry policy is now fixed.

[2020-12-11 20:43] #291 closed

[2020-12-13 20:06] rabeehk opened #341 "google.auth.exceptions.RefreshError: ('invalid_grant: Bad Request', '{\n "error": "invalid_grant",\n "error_description": "Bad Request"\n}')"
Hi
I am trying with

import os
from google.cloud import storage
os.environ["GCLOUD_PROJECT"]=project-name
file_path = 'outputs/mixture1/meta-adapter/task-emb/mix1-meta-task-emb-new-lr-3e-03/eval_results.json'
storage_client = storage.Client()
bucket = storage_client.get_bucket(bucket-name)

and I get
Traceback (most recent call last):
File "test.py", line 19, in
bucket = storage_client.get_bucket(

[2020-12-14 08:13] HemangChothani commented on #341
@rabeehk I think this problem is related to credential file.

Please go through the auth [documentation](https://googleapis.dev/python/google-api-core/latest/auth.html) to generate the credentials file for login.

-  [Docuementation](https://cloud.google.com/docs/authentication/getting-started) to create service account key file.
-  [User guide](https://google-auth.readthedocs.io/en/latest/user-gu

[2020-12-16 07:31] HemangChothani commented on #214
Please feel free to re-open / follow up if this answer doesn't work for you.

[2020-12-16 07:31] #214 closed

[2020-12-17 10:58] jmdobry opened #345 "blob.upload_from_file() fails with "o.UnsupportedOperation: seek" when given a tarfile fileobj"
#### Environment details

Python app deployed to Cloud Run following Cloud Run's Quickstart documentation.

#### Steps to reproduce

1. Acquire a `fileobj` by extracting a file from tarfile (see example code)
1. Attempt to upload that `fileobj` to GCS using `blob.upload_from_file`

#### Code example

[code]

#### Stack trace

[code]

[2020-12-17 12:57] HemangChothani opened #346 "Change deprecated method calls"
Deprecated methods:

    - blob.download_to_file()
    - bucket.list_blobs()

Remove deprecated method calls and change method calls to `client.download_blob_to_file()` and `client.list_blobs()`

ex: blob.download_to_filename()  was internally call blob.download_to_file() now direct call to `client.download_blob_to_file()`

[2020-12-17 13:42] HemangChothani opened #348 "unused 'checksum' parameter in upload_from_string method"
Parameter `checksum` exposed in  upload_from_string method but didn't pass to the internal method `upload_from_file`

https://github.com/googleapis/python-storage/blob/9d5bb5622f17a0143fa6670406596e53d0068286/google/cloud/storage/blob.py#L2474-L2486
https://github.com/googleapis/python-storage/blob/9d5bb5622f17a0143fa6670406596e53d0068286/google/cloud/storage/blob.py#L2567-L2577

[2020-12-17 19:26] jmdobry commented on #345
After further investigation I can provide example that works and an example that fails, the only difference is the tarfile being opened:

[code]

[2020-12-17 20:18] jmdobry commented on #345
The solution was to wrap `response.raw` with `io.BytesIO(response.raw.read())` before passing it to `tarfile.open`, which necessitates reading the whole tarfile into memory. The problem here was that tarfile was attempting a "remote seek" on the HTTP response object, which wasn't support by either `requests` or GitHub's tarball endpoint.

[2020-12-17 20:18] #345 closed

[2020-12-22 16:34] swastibhat opened #351 "Unable to enable usage logging for buckets using python client library"
As per the API document [1], the enable_logging(bucket_name, object_prefix='') method in python client library can be used to enable usage logging for the storage bucket. But the api actually persists the change only for that object and does not update the logging config for the bucket.

#### Steps to reproduce
Example Code:
[code]
Using gsutil to get logging config and using curl to list bucket m

[2020-12-23 01:00] tschaub opened #352 "Document recommendations for retrying blob.upload_from_filename"
I'm seeing frequent 503 and 504 responses using the [`blob.upload_from_filename()` method](https://googleapis.dev/python/storage/latest/blobs.html?highlight=conditionalretrypolicy#google.cloud.storage.blob.Blob.upload_from_filename).  An example trace looks like this:
[code]

It looks like this method calls `blob.upload_from_file()` with `num_retries=None`, so there is no retry strategy applied.

[2020-12-23 05:37] HemangChothani commented on #352
@tschaub See the documentation of `num_retries` [here](https://googleapis.dev/python/storage/latest/blobs.html#google.cloud.storage.blob.Blob.upload_from_file)

By default, only uploads with `if_metageneration_match` set will be retried for the transient errors.For now `num_retires` parameter working fine and it will remove in the future so you can use that.
The `num_retries` is not exposed for `b

[2020-12-23 11:31] HemangChothani commented on #351
@swastibhat You need to use `bucket.patch()` method after `enable_logging` for bucket.

Example:

[code]

Output:

     {"logBucket": "bucket-name", "logObjectPrefix": "log_object_prefix"}

[2020-12-23 14:48] kpe opened #354 "support for an tf.io.gfile.GFile like API"
It would be nice to support a [tf.io.gfile.GFile](https://www.tensorflow.org/api_docs/python/tf/io/gfile/GFile) like API because it can be used as a drop-in replacement for the normal pythonic [`open()`](https://docs.python.org/3/library/functions.html#open) API to transparently handle both local and Google Cloud Storage files (i.e. by using the `gs://` schema).

 **Is your feature request related

[2020-12-31 03:52] chanhlt12 commented on #261
The error is still there.

Here is my `pip list` output:

[code]

[2020-12-31 05:58] HemangChothani commented on #261
@chanhlt12 Could you please share the stack trace of error.

[2020-12-31 06:07] chanhlt12 commented on #261
@HemangChothani
This is the stack trace.

[code]

However, the error only occurs with Anaconda3(python 3.8.5), there is no error when I switch to use Python 3.9.0(without Anaconda3).

[2020-12-31 06:33] HemangChothani commented on #261
@chanhlt12 Please try to find the `google-resumable-media` version at the runtime. If you have installed package with conda then do `conda list`.
[code]

[2021-01-04 21:52] guillaumeblaquiere opened #355 "Impossible to use signed url v4 and the Service Account Credential APIs"
Months ago, I solved an issue to a Stack overflow user by explaining [how to generate a signed URL without a service account JSON fey file](https://stackoverflow.com/questions/64234214/how-to-generate-a-blob-signed-url-in-google-cloud-run/64245028#64245028). I also [release an article on this](https://medium.com/google-cloud/service-account-credentials-api-a-solution-to-different-issues-dc74340371

[2021-01-05 18:18] frankyn commented on #354
Thanks @kpe, this is a duplicate of: https://github.com/googleapis/python-storage/issues/29

@andrewsg is working on a solution.

[2021-01-05 18:18] #354 closed

[2021-01-05 21:47] #346 closed

[2021-01-07 05:15] nitishxp opened #357 "API Gateway timeout"
I recently updated my google-cloud-storage to **1.35.0** in my production system after that I am randomly getting this error
I am running my code on Cloud Functions

`gcs.get_bucket(bucket_name) File "/env/local/lib/python3.7/site-packages/google/cloud/storage/client.py", line 400, in get_bucket retry=retry, File "/env/local/lib/python3.7/site-packages/google/cloud/storage/bucket.py", line 1002, i

[2021-01-07 19:48] andrewsg commented on #357
It looks like the refactor in 1.35.0 accidentally changed the default retry behavior for get_bucket. Thank you for your timely report. I'll fix this but in the meantime you can enable retries on get_bucket by calling it as:
[code]

[2021-01-08 03:42] nitishxp commented on #357
Thank you @andrewsg when I can expect the fix to be released?

[2021-01-08 05:43] nitishxp commented on #357
@andrewsg

Now in deleting blob this issue is there can you tell me on which version should I downgrade because its my production system

bucket.delete_blob(i.name)
  File "C:\Users\user\envs\env04\lib\site-packages\google\cloud\storage\bucket.py", line 1676, in delete_blob
    client._connection.api_request(
  File "C:\Users\user\envs\env04\lib\site-packages\google\cloud\storage\_http.py", line 6

[2021-01-08 05:44] nitishxp opened #359 "API Gatewaytimeout while deleting"
storage version == 1.35.0

Facing this issue while deleting blob

bucket.delete_blob(i.name)
File "C:\Users\user\envs\env04\lib\site-packages\google\cloud\storage\bucket.py", line 1676, in delete_blob
client._connection.api_request(
File "C:\Users\user\envs\env04\lib\site-packages\google\cloud\storage_http.py", line 63, in api_request
return call()
File "C:\Users\user\envs\env04\lib\site-packages\

[2021-01-11 22:08] andrewsg commented on #357
@nitishxp `delete_blob` is only retried if `if_generation_match` is set when the function is called. For instance if your blob is called blob, then `delete_blob(if_generation_match=blob.generation)`. Rolling back won't help but if you add `if_generation_match` that should enable retries. You can also do `delete_blob(retry=DEFAULT_RETRY)` as above to override this behavior -- unlike with get_bucket

[2021-01-12 21:49] andrewsg commented on #359
Answered in comments here: https://github.com/googleapis/python-storage/issues/357#issuecomment-758255595

[2021-01-12 21:49] #359 closed

[2021-01-14 13:55] Iamcerba opened #360 "Some download APIs are not working with service account credentials (google.api_core.exceptions.Forbidden: 403)"
#### Environment details

  - OS type and version: **Windows 10/Ubuntu**
  - Python version: **Python 3.7.8**
  - pip version: **pip 20.2.2**
  - `google-cloud-storage` version: **1.35.0**

#### Code example

[code]

#### Stack trace
[code]

[2021-01-15 08:40] Iamcerba commented on #360
Not actual, my mistake.

[2021-01-15 08:40] #360 closed

[2021-01-19 16:09] nagro-c commented on #355
I'm facing the same issue, and getting the error below:

[2021-01-19 21:14] andrewsg commented on #17
We're making progress on this in the auth side and should have a timeline soon.

[2021-01-21 13:07] forking-renovate[bot] opened #361 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:20] #361 closed

[2021-01-21 23:41] #357 closed

[2021-01-22 14:52] rconnaughton opened #363 "Accessing blob.custom_time errors on 0 microsecond timestamp"
#### Environment details

  - OS type and version:  centos 6
  - Python version: 3.7
  - `google-cloud-storage` version: 1.34.0

#### Steps to reproduce

  1.   Load a blob
  2.  Set the `custom_time` field to a datetime object with 0 microseconds
  3.  patch the object with the changes, and then reload the object
  3.  Access the `custom_time` field and observe the value error

#### Code example

[2021-01-22 23:52] satwell opened #364 "rename_blob() with if_generation_match fails on DELETE"
#### Environment details

  - OS type and version: Debian Bullseye
  - Python version: 3.9.1
  - pip version: 20.1.1
  - `google-cloud-storage` version: 1.35.0

#### Steps to reproduce

1. Call `bucket.rename_blob()` with `if_generation_match` specified, matching the generation of destination blob.

The `copyTo` half the of the rename succeeds, but the `DELETE` part fails with 412 Precondition Fai

[2021-01-23 14:44] Andrei-Paul opened #365 "Python blob.upload_from_file allocates a lot of memory when passed a StringIO object as file"
#### Environment details
  - OS: Ubuntu 20.04.1 LTS on WSL2
  - Python version: Python 3.8.5
  - pip version: pip 20.0.2 from /usr/lib/python3/dist-packages/pip (python 3.8)
  - `google-cloud-storage` version: 1.31.0

#### Steps to reproduce

Create StringIO object, fill it with 512MB of text -> Program memory consumption is about 600MB
Get a blob, call blob.upload_from_file(stringIOFile) ->

Expe

[2021-01-25 22:48] frankyn commented on #365
@andrewsg this is the issue I mentioned during today's meeting.

[2021-01-25 23:09] frankyn commented on #363
Hi @rconnaughton,

Thank you for filing this issue. I was able to reproduce it and looks like Cloud Storage returns no fractional microsecond when it's 0 even though the format described in [documentation](https://cloud.google.com/storage/docs/metadata#custom-time) is `YYYY-MM-DD'T'HH:MM:SS.SS'Z'`.

The issue with the client is that it always expects the returned value to include microseconds. I'm

[2021-01-25 23:40] andrewsg commented on #365
Thanks. This looks like a bit of a strange one. I can't imagine why bytes would be handled differently here in any of the top or intermediary layers. I'll have to do some profiling.

[2021-01-26 19:23] frankyn commented on #364
Hi @satwell,

I was able to reproduce the issue you described, and thank you for the snippet!

There's a check if the source and destination object names are the same here:
https://github.com/googleapis/python-storage/blob/master/google/cloud/storage/bucket.py#L2138-L2147

However, in this case, the delete operation with `if_generation_match` set isn't possible.

I think the solution here is to up

[2021-01-26 20:10] satwell commented on #364
I agree that using `if_source_*` for delete makes the most sense.

It might make sense to expand the warning in the docstring to make it clearer that `rename_blob` makes two API calls, which means it's possible for the copy to be successful and the delete to fail.

For example, this will raise `PreconditionFailed` if `if_source_generation_match` is set and the blob gets rewritten between the copy

[2021-01-26 20:47] frankyn commented on #364
Good point, so summary for changes:

1. Use if_source_* for delete operation in rename_blob().
2. Update docstring to call out the two operations within this helper with a caveat that one delete could fail and alternatively direct them to use copy_blob and delete.

Cheers!

[2021-01-26 23:43] frankyn commented on #365
Hi @Andrei-Paul,

Thanks for filing the issue. I discussed offline with @andrewsg and will pick up this issue.

Could you share how you're measuring memory consumption so I can debug the issue you've encountered?

Thank you for your patience!

[2021-01-27 00:40] Andrei-Paul commented on #365
Noticed first when I deployed the code as a cloud function and it died with out of memory error at 1gb limit, then at 2gb limit while processing 600 ish MB of data in 512 ish MB batches and  reusing the StringIO 'buffer' (seek 0 + truncate 0)

Debugged in vscode monitoring the process memory consumption with top program. Switched out the StringIO with BytesIO and wrapper, the problem went away.

I

[2021-01-27 00:42] frankyn commented on #365
Thanks Andrei! I'll take another look tomorrow when I'm back online.

Frank Natividad | Developer Relations Engineer | Google Cloud Storage

On Tue, Jan 26, 2021 at 4:40 PM Andrei-Paul <notifications@github.com>
wrote:

[2021-01-27 15:40] Andrei-Paul commented on #365
[balloon.zip](https://github.com/googleapis/python-storage/files/5881266/balloon.zip)
balloon.py shows the described behavior.
It needs [ bucketName = ] and [ blobName = ]

Used tracemalloc this time. Results:
**StringIO**
Memory usage before StringIO buffering is 0.000323MB; Peak was 0.000428MB
Memory usage after StringIO buffering is 541.097759MB; Peak was 548.214302MB

Memory usage **before** S

[2021-01-28 22:41] frankyn commented on #365
Thanks @Andrei-Paul I'm investigating now. I got held up with a different issue. Thank you for your patience!

[2021-01-28 22:43] #364 closed

[2021-01-29 01:31] frankyn commented on #365
Short update:

Thanks for making this easy to reproduce. I tried using memory-profiler as recommended by @andrewsg and confused because the memory bloat occurs on when calling `.read()` (seen below).

I attempted to modify the chunk size, but that did not help. I don't think this has to do with the Storage library or relevant layers (resumable media).

I just wanted to share my current status. I'l

[2021-02-01 23:08] frankyn commented on #363
This is a bug in the library. The Storage backend team stated that when milliseconds is 0 the 0 is not returned.

I'll work on a fix this week. It will require two PRs based on my current understanding, there might be a better solution though and will research / update:

1. Add a new format to [python-cloud-core](https://github.com/googleapis/python-cloud-core/blob/master/google/cloud/_helpers.py#

[2021-02-03 12:48] lechen26 opened #369 "invalid_grant"
Hi

we are using google service account to access cloud stoage on one of our python projects.

nothing has changes on the service account we are using but recently we've started to see this intermittent error:
[code]

it does not happen all the time but from time to time. like it failed to refresh the token but i dont understand why.
what can be the reason for this?

thanks
CL

[2021-02-03 19:17] frankyn commented on #365
HI @Andrei-Paul,

I did additional research and found that it's not directly correlated to the python-storage package and in the Python std library.

I reproduced the memory consumption by swapping out the Cloud Storage upload by only reading a 100MiB segment:

[code]

I'm not sure what the difference is between the use-cases (ByteIO/StringIO).

I'm closing because it's not directly related to the

[2021-02-03 19:17] #365 closed

[2021-02-03 19:34] Andrei-Paul commented on #365
Ok, thank you for your time.

[2021-02-03 19:43] frankyn commented on #369
Hi @lechen26,

Thanks for filing the issue.
This is a duplicate of #17, which is being looked at here: https://github.com/googleapis/google-auth-library-python/issues/261

[2021-02-03 19:44] frankyn commented on #341
Hi @rabeehk,

Thanks for filing the issue.
This is a duplicate of #17, which is being looked at here: googleapis/google-auth-library-python#261

[2021-02-03 21:23] fcollman commented on #369
I don't think this is the same error, the exception looks different.  We are also experiencing the same error, again on code that did not change, only upgrades to underlying google packages.

The exception listed in this isssue..
[code]
The exception listed in #17
[code]

[2021-02-03 21:45] fcollman commented on #369
I think this issue is actually covered here
https://github.com/googleapis/google-auth-library-python/issues/667

and might be related to this underlying RSA issue
https://github.com/sybrenstuvel/python-rsa/issues/173

[2021-02-03 21:49] #348 closed

[2021-02-03 22:40] frankyn commented on #369
Ah, good call out, my mistake. let's reopen to keep track

[2021-02-03 22:43] frankyn commented on #341
Hi @rabeehk,

Are you still experiencing this issue?

[2021-02-05 10:38] oittaa opened #372 "Blob's custom_time is lost on upload."
#### Environment details

  - OS type and version: Debian Buster
  - Python version: Python 3.7.3
  - pip version: pip 18.1 from /usr/lib/python3/dist-packages/pip (python 3.7)
  - `google-cloud-storage` version: 1.35.1

#### Steps to reproduce

  1. Create a blob.
  2. Set `custom_time`.
  3. Upload the blob .
  4. Try to retrieve blob's `custom_time`.
  5. Expected result is a `datatime`, but th

[2021-02-06 17:02] oittaa commented on #372
For example `content_encoding` works as expected.

#### Code
[code]

#### Output
[code]

[2021-02-07 07:34] lechen26 commented on #369
thanks @fcollman , exactly , we havent changed anything except we've upgraded our cluster.
i saw the RSA issue, but to be honest i wasnt sure its related as we are not using this package.

is this something the google-cloud-storage using?

thanks

[2021-02-07 08:03] lechen26 commented on #369
i've checked with pipdeptree its indeed the case.
thanks!

[2021-02-08 10:18] xelhark opened #373 "It's impossible to generate a signed url (v2) with impersonated Credentials"
#### Code example

There's quite a bug when attempting to generate signed urls to blobs in a storage bucket with impersonated credentials.

[code]

#### Stack trace
[code]

It seems that `credentials.sign_bytes` is given a string instead of bytes.

If anyone googles this, I am currently monkey patching this bug with this simple fix:

[code]

[2021-02-08 16:11] busunkim96 commented on #369
Just to make things explicit, if you're running into this please explicitly pin to `rsa==4.6` in your requirements.txt.

For context, `google-cloud-storage` depends on `google-auth` which depends on `rsa`.

[2021-02-08 19:26] tritone commented on #372
I was able to reproduce this and discovered custom_time was missing from attributes to set during blob creation. Will send a PR with a fix.

[2021-02-08 20:07] #372 closed

[2021-02-09 03:46] tritone commented on #369
Thanks for clarifying @busunkim96 -- I'll go ahead and close this issue.

[2021-02-09 03:46] #369 closed

[2021-02-09 15:50] oittaa opened #376 "Batch doesn't respect STORAGE_EMULATOR_HOST env variable"
#### Environment details

  - OS type and version:
  - Python version: Python 3.7.3
  - pip version: pip 21.0.1
  - `google-cloud-storage` version: 1.35.1

#### Steps to reproduce

  1. `export STORAGE_EMULATOR_HOST=http://localhost:9023`
  2. Start a storage emulator, for example from https://gitlab.com/potato-oss/google-cloud/gcloud-storage-emulator
  3. Run a batch (and other) request against i

[2021-02-10 21:26] #363 closed

[2021-02-10 21:48] #352 closed

[2021-02-14 19:38] tritone commented on #376
Thanks for filing the issue and for the detailed repro. I believe this is a bug. Will investigate how to fix.

[2021-02-14 21:15] oittaa opened #380 "delimiter and prefix don't work like the documentation says"
#### Environment details

  - OS type and version: Debian Buster
  - Python version: Python 3.7.3
  - pip version: pip 18.1
  - `google-cloud-storage` version: 1.36.0

#### Steps to reproduce

https://cloud.google.com/storage/docs/listing-objects#code-samples or see from the copied example below.

#### Code example

[code]

#### Output
[code]

However the example states that Blobs should include `

[2021-02-14 22:56] tritone commented on #373
Thanks for your report. I was able to reproduce this. Working on a fix.

[2021-02-15 02:32] polmv123 commented on #341
I am getting the same error with the Google Calendar API @frankyn

[2021-02-16 19:49] hankd-v opened #381 "Can't delete custom metadata key on object"
I ran into some issues trying to delete a custom metadata key from a storage object. I expected the following to work, but did not result in the key being deleted:

[code]

The Rest API indicated to send a value of JSON null associated with the key to perform a deletion,  but that doesn't seem to happen when issuing a blob.patch with a metadata with a key removed.

As a work around, I created a co

[2021-02-17 05:14] tritone commented on #381
I was able to reproduce the issue from your example.

I think it's expected that deleting a key would not succeed in overwriting the key when using a patch request. However, I would think that at least by setting a key's value to None, it would be possible to indicate that the key should be deleted by sending null to the API. However, this also fails because of this line here: https://github.com/g

[2021-02-17 16:48] frankyn commented on #381
I'm surprised we hadn't seen this before to be honest, but yes, the suggestion LGTM!

[2021-02-17 18:17] #381 closed

[2021-02-17 19:01] #373 closed

[2021-02-19 21:58] #355 closed

[2021-02-22 19:22] tritone commented on #341
Closing due to lack of response and open duplicate issues #17 and googleapis/google-auth-library-python#261

@polmv123 this library does not cover the calendar API.

[2021-02-22 19:22] #341 closed

[2021-02-22 19:24] tritone commented on #380
I believe this is a bug in the documentation. Reassigning to @andrewsg .

[2021-02-24 23:36] andrewsg commented on #376
I've found the issue, now working on how to properly test the solution in our testing framework.

[2021-02-24 23:57] andrewsg commented on #380
It looks like this has been fixed in the documentation recently. The corrected documentation says to use "a/" as the prefix instead of just "a".

[2021-02-24 23:57] #380 closed

[2021-03-01 15:48] Jaxing opened #386 "No labels returned from `bucket.labels`"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2021-03-01 18:58] andrewsg commented on #386
Hello. As per the docstring for the function Client.bucket() only creates an in-memory object, it does not make an API call to fetch metadata. For your use case, use Client.get_bucket(), which both creates the object in-memory and also issues an API call. Alternatively you can use Client.bucket() but then call b.reload() to make the API call after the fact.

I think this will probably resolve the

[2021-03-01 18:58] #386 closed

[2021-03-02 06:50] Jaxing commented on #386
Thanks for the response @andrewsg, this works!

[2021-03-02 09:27] HarshitKhurana opened #387 "Signed Resumable upload in GCS"
https://github.com/googleapis/gcs-resumable-upload/issues/201#issuecomment-512127269

On this thread in Step-2 , where the guy is passing `{action: resumable}` in options. Do we have that in the python library ? I couldn't figure out. I am trying to do the same thing but in python.

For reference -
-  [python doc](https://googleapis.dev/python/storage/1.36.1/blobs.html#google.cloud.storage.blob.Bl

[2021-03-02 18:55] andrewsg commented on #387
If you are trying to allow untrusted clients to upload to an access-controlled bucket then I think the feature you want is `Blob.create_resumable_upload_session()`. It uses signed URLs to create a resumable upload which you can then hand off to another client.

Does that look like it will solve your use case?

[2021-03-03 19:42] #387 closed

[2021-03-04 21:49] yaseenlotfi opened #388 "Implement sliced object download in the Python Client library."
**Is your feature request related to a problem? Please describe.**
My use case is to download a single, large blob (~16GBs) into memory in a Python application. This happens as part of a startup process that currently takes 5min. The command line utility, `gsutil`, has a way to enable sliced downloads and only takes 30s (same machine+network). I would like to take advantage of this optimization in

[2021-03-04 22:30] andrewsg commented on #388
Thanks for your detailed request. I'll look into this.

[2021-03-06 11:36] gaborfeher opened #389 "Is it possible to use the predefined_acl keyword argument to upload a publicly readable blob in one step?"
#### Environment details

  - OS type and version: Ubuntu 18.04
  - Python version: `Python 3.6.9`
  - pip version: `pip 9.0.1 (python 3.6)`
  - `google-cloud-storage` version: `1.36.1`

#### Steps to reproduce

  1. Run the below code sample
  2. Check the created files on google cloud console

#### Code example

[code]

#### Screenshot from Google Cloud Console

![console_screenshot](https://use

[2021-03-07 16:54] yaseenlotfi commented on #388
I'm not sure - ran it on a GCE instance (e2-highmem-16). How can I specifically test the network saturation?

[2021-03-08 19:54] andrewsg commented on #388
Thanks, that should be enough info; if it was on a GCE instance then we can use that for analysis when we're tackling this feature.

[2021-03-09 01:50] yaseenlotfi commented on #388
Sounds good - and to be clear, the key characteristic here is that when running a sliced download with `gsutil` configured as described, you can see all 16 cores of the machine are used to capacity (see with `htop`). This is juxtaposed by just a single process running on a single core when calling the same command from a Python subprocess or using the client library's `blob.download_as_x` method.

[2021-03-09 02:29] harrydrippin opened #390 "Add encryption_key param to Blob.from_string"
**Is your feature request related to a problem? Please describe.**
When I need to generate `Blob` object by using factory function `Blob.from_string`, I cannot use customer-supplied encryption option smoothly. I always need to assign internal variables like below:

[code]

 **Describe the solution you'd like**
* Add `encryption_key` parameter to `Blob.from_string`.

 **Describe alternatives you've

[2021-03-09 17:59] andrewsg commented on #388
I see, so it's CPU-bound on your use case. That will be the first thing to look into, then. Thanks.

[2021-03-09 22:30] maroux opened #393 "Adding type hints so static analyzers like mypy can work with google.cloud.storage"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

 **Is your feature request related to a problem? Please describe.**
Tools like mypy can use type hints to run static analysi

[2021-03-09 22:39] #376 closed

[2021-03-16 06:18] 1fish2 commented on #36
@hector-sab Shelling out to `gsutil` has significant limitations:

* Uploads don't create the empty "placeholder" directory-like entries that are needed to make `gcsfuse` run at a reasonable speed. It's a 10x speed factor.
* Parallel downloads will put all the files into the same directory except when using `-r` to recursive download a directory. So I can't give it a list of files from multiple di

[2021-03-16 06:52] daniellehanks commented on #30
Any update on this? I stumbled upon this needing to specify an `If-None-Match` header. Basically my use case is my API is a thin layer over GCS (for storing profile images), and I only want to actually read the image data and serve it to the client if the actual content is different from their cache. They will specify an `If-None-Match` header to my API (as they won't know anything about GCS or ge

[2021-03-16 21:22] frankyn commented on #389
Hi @gaborfeher,

I was able to create a public object using `predefined_acl` in the same upload request.
Could you run the following example and see if you get: `<ACL Entity: allUsers (READER)>`?

[code]

Enabling logging can help suss out what may be occurring as well (Python 3 example):

[code]

[2021-03-18 13:24] phoet opened #395 "Support for GOOGLE_CLOUD_KEYFILE_JSON as in ruby client library"
The ruby clients support passing the client configuration as an environment variable (`GOOGLE_CLOUD_KEYFILE_JSON`) cointaining a json blob instead of a path to a json config file.

https://github.com/googleapis/google-cloud-ruby/blob/1a7cfef70298276a9203658748e9d70edfcfb2d5/google-cloud-datastore/samples/README.md#authenticating

It would be super helpful (and less confusing) if there was a simila

[2021-03-23 20:57] daniellehanks commented on #30
@tseaver Are you still a good resource for this ticket? Is this ticket still a good place to request etag conditional headers support or should I open a new ticket?

[2021-03-23 23:15] #148 closed

[2021-03-24 19:06] #29 closed

[2021-03-28 06:56] amardeep opened #399 "Reading using open api fails with 416 error code in google-resumable-media"
- OS type and version: Ubuntu
  - Python version: 3.7.5
  - pip version: 9.0.1
  - `google-cloud-storage` version: 1.37.0
  - `google-resumable-media` version: 1.2.0

While trying to copy a gcs file using blob.open method to read and write, it fails at the last read step with the following error:
[code]

#### Code example

In the snippet below i am using shutil.copyfileobj, but same error happens

[2021-03-29 21:26] #399 closed

[2021-03-29 23:59] frankyn commented on #389
Hi @gaborfeher,

Closing issue out, as I'm guessing the question was addressed. If not, please feel free to reopen!

[2021-03-29 23:59] #389 closed

[2021-03-30 18:33] cojenco commented on #390
Thank you for filing the issue and submitting a PR. Your proposal looks great. After looking into the alternatives, I think it makes sense to directly add encryption_key param to Blob.from_string. Would you mind adding unit tests to the PR? For example, if you could add ‘test_from_string_w_encryption_key’ in [this test file](https://github.com/googleapis/python-storage/blob/d52853b420f50012e02c395

[2021-03-31 06:43] bgirschig opened #403 "RequestRangeNotSatisfiable when using a blob's file-handler with csv reader"
#### Environment details

  - OS: 5.7.17-1rodete5-amd64
  - Python: 3.8.7
  - pip: 20.1.1
  - GCS: 1.37.0

#### Steps to reproduce

1. Open a blob for reading
2. Use it with python's built in csv reader
3. A `RequestRangeNotSatisfiable` exception is thrown

#### Code example

[code]

#### Stack trace
[code]

Thanks!

[2021-03-31 23:48] billyvg commented on #32
This is also an issue when trying to use `batch()` to copy blobs while preserving the ACL of the original blob.

[2021-04-02 19:15] andrewsg commented on #403
We've found that this happens when read attempts to request bytes from beyond the end of the file. It should be fixed in #400 (already merged) which will be released on Monday. Thanks a lot for the detailed report.

[2021-04-02 19:15] #403 closed

[2021-04-02 21:45] fcollman opened #404 "Started getting random ValueError: Bad response: not multi-part exceptions"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2021-04-02 21:52] fcollman commented on #404
we hacked a more informative debug statement into the cloud-storage library in production and got this error.

[code]

[2021-04-02 21:52] fcollman commented on #404
This was not happening a month ago, and the error returned could be much more informative.  Seems like the server is enforcing limits it wasn't in the recent past nor is the library helping the user understand the source of the problem.

[2021-04-04 08:51] bgirschig commented on #403
That's great news, thanks!