[2021-04-05 09:54] harrydrippin commented on #390
@cojenco Thank you for your support. I added [the test on my branch](https://github.com/googleapis/python-storage/blob/327183d186223589bebd4b28de45db4d35b0a617/tests/unit/test_blob.py#L4676) as you mentioned and marked my PR as ready for review.

[2021-04-05 21:19] andrewsg commented on #403
This has been released.

[2021-04-07 19:15] kamal94 commented on #27
To add to @pdex 's submission:
I am generating upload URLs via [blob.generate_signed_urls](https://googleapis.dev/python/storage/latest/blobs.html#google.cloud.storage.blob.Blob.generate_signed_url) and passing it to my application's client to upload a user-generated file. Here is what worked for me:

[code]

[2021-04-09 14:54] danielduhh commented on #404
Thanks for the details @fcollman. We've seen this intermittent 413 error pop up recently in another case. I'm checking in with the internal API team to see if theres a service change that could be causing this and will get back to you as soon as I have something.

[2021-04-14 00:49] DiegoQueiroz opened #406 "Incorrect comments in _signing.py"
In _signing.py, we can read this comment:

    .. note::

        Assumes ``credentials`` implements the
        :class:`google.auth.credentials.Signing` interface. Also assumes
        ``credentials`` has a ``service_account_email`` property which
        identifies the credentials.

But the assumed property is `signer_email` and not `service_account_email`.
In nowhere a property called `service_

[2021-04-14 21:16] cojenco commented on #390
Thanks again @harrydrippin for your contribution. Considering future changes and consistency, our team has decided to go a different direction with getters and setters. [This PR](https://github.com/googleapis/python-storage/pull/409) is currently under review. Hope this resolves your issue, thanks!

[2021-04-16 18:37] sebelik commented on #3
I am seeing similar behavior as @hendrikfrentrup.

In my case, the server provides the signed URL directly to the client to start a resumable upload. The client performs an empty `POST` request to the signed URL to receive a session URL. For this initial request, CORS works fine -  the client receives `Access-Control-...` headers for **both the preflight `OPTIONS` request and the `POST` request**.

[2021-04-19 22:26] #406 closed

[2021-04-20 11:07] nitishxp opened #414 "Retry did not occur in case of google.auth.exceptions.TransportError"
I am finding below error in one of my production environment using Cloud Functions. The sdk should retry by default but its not retrying.
I am trying to access a bucket in Cloud function python38 environment

Code Snippet
[code]

My  package version
[code]

Error:
[code]

[2021-04-20 16:46] frankyn commented on #414
Adding context from @busunkim96:

[2021-04-20 18:33] #390 closed

[2021-04-20 19:03] tseaver opened #416 "Unit tests must not depend on environment variables"
E.g.,:

[code]

[2021-04-26 19:06] #414 closed

[2021-04-26 22:12] chrisfrank opened #422 "Verifying data integrity when copying blobs"
**Is your feature request related to a problem? Please describe.**

In our data processing pipelines, we see infrequent `google.resumable_media.common.DataCorruption` errors when calling `Blob.download_as_bytes` -- which is helpful, since it lets us retry until our data arrives intact.

These pipelines also use `Blob.rewrite` to copy large files from one GCS bucket to another, and I'm a little con

[2021-04-26 22:30] frankyn commented on #422
Hi @chrisfrank

Thanks for your question.

1. Copy and Rewrite operations occur in the GCS backend and the service will validate checksums as it copies data for correctness.
2. `google.resumable_media.common.DataCorruption` occurs only when a mismatch occurs on download due to transfer corruption, e.g. solar rays, random events, network issues before data is received by the client.

Hope this answ

[2021-04-28 15:36] chrisfrank commented on #422
Hi @frankyn,

Thanks very much for the fast response! This is exactly what I was hoping to hear, but I actually opened this feature request in response to GCP Support informing my team that GCS does _not_ validate checksums in this case. I've noted the inconsistency in our support ticket, and if it's okay, I'd like to leave this feature request open until we have a consistent account of the system

[2021-04-28 15:40] frankyn commented on #422
Thanks for calling that out. My understanding may be incorrect but will check-in.

Could you forward me the GCS Support id over email to coderfrank@google.com?

Apologies for any confusion here! If you're okay with closing out this issue, I'll work internally to follow-up on your support ticket instead.

[2021-04-28 15:50] chrisfrank commented on #422
Sure thing, sent!

[2021-04-28 18:48] frankyn commented on #422
Hi @chrisfrank, (we will provide this info over the support channel as well and sharing it for general audience while we update our public documentation to make it clear)

We reached out to the backend team and they confirmed that for server side operations such as rewrite and copy, objects are validated whenever they're moved to prevent corruption.

You do need to validate checksums on uploads an

[2021-04-28 18:48] #422 closed

[2021-04-29 12:01] olfek opened #425 "`max_results` argument of `Client.list_blobs` does not behave correctly"
According to [this](https://cloud.google.com/storage/docs/json_api/v1/objects/list)

`maxResults` should be:

When I do this:
[code]
Output:
[code]

Only one iteration of the loop is completed even though there are 100 blobs in the bucket. It seems the `max_results` argument is limiting the **total** results rather than **per page** results.

Related to #19

[2021-04-29 17:18] frankyn commented on #425
Thanks for filing this issue @olfek.

I'll leave this open to address this usability issue:

The existing workaround is:

[code]

[2021-04-30 19:25] olfek commented on #425
Note: The original documentation changed in #43 was correct

[2021-05-04 10:27] nitishxp commented on #414
Could you also add [ConnectionError](https://github.com/googleapis/python-bigquery/blob/6a48e80bc7d347f381b181f4cf81fef105d0ad0d/google/cloud/bigquery/retry.py#L26) ?

[2021-05-04 16:14] frankyn commented on #414
Hi @nitishxp could you file another issue for this request. It might need more investigation because we currently retry ConnectionError https://github.com/googleapis/python-storage/blob/23a8db839909a0781343cb18edffaea06a0b7092/google/cloud/storage/retry.py#L30

[2021-05-04 16:37] tseaver commented on #395
Related: https://github.com/googleapis/python-cloud-core/pull/54/ adds a `from_service_account_info` factory to the client base class, which would allow for the following:

[code]

[2021-05-04 18:17] tseaver commented on #38
ISTM that this effort is not complete:  e.g., the client does not have a `get_blob` method, nor any of the notification-related methods for buckets.

This partial refactoring complicates the tests a *lot* -- if it were complete, then bucket / blob unit tests would just use mocked clients and assert that the corresponding method is called correctly, rather than creating mock connections (and real c

[2021-05-04 18:45] tseaver commented on #17
https://github.com/googleapis/google-auth-library-python/pull/727 added reauth support to the synchronous version of user credentials.  It was released in [`google-auth 1.29.0`]](https://github.com/googleapis/google-auth-library-python/releases/tag/v1.29.0).

https://github.com/googleapis/google-auth-library-python/pull/738 are now supported in added reauth support to the asynchronous version of u

[2021-05-04 18:45] #17 closed

[2021-05-04 18:57] tseaver commented on #7
@crwilcox The Python memory allocator only returns stuff sporadically to the OS, and holds on to blocks of 256Kb for small objects expected to have short lifetimes.  That first graph looks pretty much like what I would expect, and doesn't seem to indicate a leak to me.

[2021-05-04 18:59] #351 closed

[2021-05-05 01:41] nitishxp opened #426 "Add Python ConnectionError in list of retry"
Hi, Could you add
https://docs.python.org/3/library/exceptions.html#ConnectionError just like https://github.com/googleapis/python-bigquery/blob/be3c49a72f0e04de4055f5ca7a99f821c2c8f240/google/cloud/bigquery/retry.py#L26 in list of retry

This ConnectionError is seperate from requests.ConnectionError

[2021-05-05 15:34] tseaver opened #427 "'TestClient.test_ctor_wo_project' fails with `google-cloud-core 1.6.0'"
https://github.com/googleapis/python-cloud-core/pull/51 changed the semantics of default project detection.

[code]

[2021-05-05 15:59] tseaver opened #428 "Coverage failing below 100%"
Even with a fix in place for #427, coverage is failing:

[code]

[2021-05-05 16:01] tseaver opened #429 "Tests fail under python2.7"
Even with a fix in place for #427:

[code]

[2021-05-05 16:08] tseaver commented on #428
Turns out that the uncovered statements are all in `six.PY2`-only branches, which means this issue will be fixed with #429.

[2021-05-05 16:08] #428 closed

[2021-05-05 21:34] #427 closed

[2021-05-05 21:34] #429 closed

[2021-05-07 16:03] egorklimov commented on #86
Hello! @Raab70

I faced the same error, why did you close the issue?

[2021-05-07 19:14] tseaver opened #435 "'test_bucket_w_default_event_based_hold' systest is flaky"
From [this Kokoro failure](https://source.cloud.google.com/results/invocations/84ba5579-be63-4afe-994d-74c06394f44e/targets/cloud-devrel%2Fclient-libraries%2Fpython%2Fgoogleapis%2Fpython-storage%2Fpresubmit%2Fpresubmit/log):

[code]

[2021-05-10 16:44] cojenco commented on #426
Hi @nitishxp, we are looking into this. Thanks for filing this as a separate issue per the [previous discussion](https://github.com/googleapis/python-storage/issues/414#issuecomment-832065858).

[2021-05-11 22:13] cojenco commented on #426
Hi @nitishxp, to help us better understand the failure cases, could you let us know more about under what circumstances have you encountered this ConnectionError? Thanks!

[2021-05-12 01:07] nitishxp commented on #426
@cojenco Mostly in Cloud function when there are subsequent reinvocation of Cloud Function this error is generated is faced in Big Query as well as storage.

[2021-05-16 09:06] dahburj commented on #86
Same here

[2021-05-16 09:07] dahburj commented on #86
@Raab70  Same here 🙋🏻‍♂️

[2021-05-17 18:03] jackkwok commented on #338
@andrewsg : What release version of `google-cloud-storage` is retries supported by default?

[2021-05-20 15:20] tseaver commented on #334
@frankyn Because keys have a `time_created` attribute, we could perhaps do a "pre-clean" during module setup of each systest run, e.g.:

[code]

[2021-05-20 15:23] tseaver commented on #416
I'm working toward closing this issue in the PRs for the refactoring in #38:  #431, #436, #441, #442, #443.

Once those are merged, there will be many fewer tests to clean up:  almost all of them deal with blob downloads.

[2021-05-20 15:26] #426 closed

[2021-05-24 20:29] tseaver commented on #25
@frankyn, @crwilcox, @jsimonweb Bumping to check on this one again:  should we be removing the `gcloud-python` header (i.e., revert dc817e9d)?

[2021-05-24 20:59] tseaver commented on #134
I can reproduce this in a shell which doesn't have the `GOOGLE_APPLICATION_CREDENTIALS` envvar pointing to a service account key file:

[code]

[2021-05-24 21:07] tseaver commented on #30
@daniellehanks Adding conditional support for `If-Match` / `If-None-Match` should be a separate feature request from this issue.

[2021-05-25 15:37] daniellehanks opened #451 "Support ETag headers"
Split from [this issue](https://github.com/googleapis/python-storage/issues/30#issuecomment-800003630).

Requesting support for `If-Match`/`If-None-Match` headers for GCS via the Python client library.

My use case:
My API is a thin layer over GCS (for storing profile images), and I only want to actually read the image data and serve it to the client if the actual content is different from their c

[2021-05-25 15:38] daniellehanks commented on #30
Thanks @tseaver. Opened https://github.com/googleapis/python-storage/issues/451.

[2021-06-01 22:13] frankyn commented on #25
Not yet. Let's close out the PR for now so it doesn't become stale.

[2021-06-02 21:28] daniellehanks commented on #451
My team is about at the point where we are needing this. We would love to consider volunteering a contribution if we could get a design/owner partner on the Google side. Would that be something you all would consider? TIA @tseaver

[2021-06-03 22:27] frankyn commented on #294
Python documentation for list_blobs() needs to be updated to clarify that there's a property for `prefixes` on the iterator returned. Right now documentation only states that an Iterator type is returned.

https://github.com/googleapis/python-storage/blob/fe87755e744436ef9f4dd5236a74a4955dcb1534/google/cloud/storage/client.py#L832-L834

[2021-06-04 20:14] frankyn commented on #26
@andrewsg do you think this is still necessary for us to do? I'm hesitant because 410 tells us the resumable upload session was either Deleted by the user or the service (happens after a week). 410 outside of that shouldn't happen and would be a service bug. Additionally, it's difficult to retry a resumable upload from the beginning if we don't have all the data available.

[2021-06-05 00:45] cojenco opened #453 "Change `blob.compose` to fit API behavior"
Currently `blob.compose()` is misusing `if_generation_match` as a list of [`sourceObjects[].objectPreconditions.ifGenerationMatch`](https://cloud.google.com/storage/docs/json_api/v1/objects/compose#request-body) sent with the API request body. Based on the [doc](https://cloud.google.com/storage/docs/json_api/v1/objects/compose#parameters), `if_generation_match` is an optional query parameter that

[2021-06-06 23:39] HarshitKhurana commented on #387
Hey, apologies for the delay. Got occupied with other stuff.
I think I tried this and faced some issues, not sure though. Anyways I got it working via a different approach.

Thanks for the help.

[2021-06-07 04:11] tritone commented on #453
Just to clarify-- you mean that you think `if_generation_match` should be applied to the destination object and not the source objects, correct? This is a behavior change so it definitely requires some scrutiny (unless there's no way it could've worked as it is currently).

[2021-06-07 14:54] tseaver opened #455 "Move boilerplate docs for 'timeout' and 'retry' out of method docstrings"
The repeted long-form docs for the `timeout` and `retry` arguments to all API-invoking methods are both too verbose and too terse:  they don't include / reference examples, and they are wordy.  By preference, they would point instead to a narrative page (built from e.g. `docs/timeout_retry.rst`) which would include comprehensive examples for them.

[2021-06-07 16:32] tseaver commented on #451
@frankyn, @cojenco PTAL.

[2021-06-07 16:45] tritone commented on #451
Thanks for the proposal @daniellehanks (and sorry for the slow response). We don't support these via most of the other GCS client libraries and I am following up with the service team to determine if there's a good reason for that. Will update you soon when I have more information.

[2021-06-07 16:53] cojenco commented on #453
@tritone Right! According to the API doc, `if_generation_match` should be applied to the **destination object**, and serves as the preconditions for retries.

[2021-06-07 20:37] sww314 opened #456 "generate_signed_url allows create of urls with expiration greater than 7 days"
#### Environment details

  - OS type and version:
  - Python version: Python 3.8.6
  - pip version: `pip 20.3.3`
  - `google-cloud-storage` version: `Version: 1.37.1`

#### Steps to reproduce

  1. Generate a signed url with an expiration of more than 7 days in the future
  2. Save it
  3. Wait for 7+ days
  4. Try to access the URL

#### Code example

[code]

#### Stack trace

After 7 days acces

[2021-06-07 22:13] tseaver commented on #455
Note to self:  there is tons of boilerplate for the "conditional" arguments (`if_generation_match`, etc.) scattered in the code.  We should likely create a separate narrative docs page for them, as well, and replace the boilerplate in docstrings with links to its sections.

[2021-06-08 15:46] shaffeeullah commented on #456
Hi @sww314 ,

Per security guidance, v4 signed URLs expire after a maximum of 7 days. v2 signed URLs using a [Google-managed service account key](https://cloud.google.com/iam/docs/service-accounts#google-managed_keys) will expire after 14 days when the service account is rotated. It is not recommended to use signed URLs to share files with another user permanently. In this case, we recommend givin

[2021-06-08 16:17] mcepl opened #457 "Mark tests requiring network access"
All builds (and running test suites as part of them) of OpenSUSE packages (the same for every other Linux or Mac distribution) happen in the chrooted environment without the network access, which makes running of the test suite for this package extremely awkward. Most of tests fail because they require network access, which is a bad idea even for other reasons (mocking is the way to go).

[no-netw

[2021-06-08 20:44] tseaver opened #460 "Move boilerplate docs for 'if_generation_match' et al. out of method docstrings"
See also #455.

There are a ton of API-invoking methods which take `if_generation_match`, `if_generation_not_match`, etc. and have docstring entries for each of them which are both too verbose and too terse: they don't include / reference examples, and they are wordy. y preference, they would point instead to a narrative page (built from e.g. `docs/conditional_arguments.rst`) which would include c

[2021-06-09 04:09] tseaver commented on #457
PR #416 tracks updating all unit tests such that they no longer require actual credentials to run:  none of them actually make use of the network, but the patches for the PRs tracked there ensure it (by mocking out the client).  Most are already merged, except for PR #459, which should merge soon.   If you'd like to test in your environment, try checking out the  `416-avoid_real_client_in_bucket_b

[2021-06-09 05:11] mcepl commented on #457
I understand that. However, I really have no network access in the build system, and I would appreciate even just a partial test suite to find out that the package is not completely broken.

[2021-06-09 15:06] tseaver commented on #457
@mcepl You should be able to run the unit test suite without any network access:  I just did it with my laptop in "airplane mode" on the `416-avoid_real_client_in_bucket_blob_unit_tests` branch:

![Screenshot from 2021-06-09 11-01-42](https://user-images.githubusercontent.com/242750/121379967-843b3880-c912-11eb-89ee-db1b52fd37e3.png)

[2021-06-09 16:05] mcepl commented on #457
Yes, that branch works offline as well, thank you. However, there is no way for me to include this into the official openSUSE unreleased, so I will wait on that. Thank you very much anyway.

[2021-06-09 16:17] tseaver commented on #457
I expect that branch's PR to be merged shortly, with a new release to follow this week.

[2021-06-09 18:43] #416 closed

[2021-06-09 21:45] tseaver commented on #457
@mcepl PR #459 has now merged.  We will be making a release no later than next Monday, 2021-06-14.

[2021-06-10 03:05] megabytemb opened #462 "BlobReader not buffering properly."
#### Environment details

  - OS type and version: Mac 10.15.7
  - Python version: `Python 3.9.5`
  - pip version: `pip 21.1.1`
  - `google-cloud-storage`: `Version: 1.38.0`

#### Steps to reproduce

When trying to stream a file from Google Cloud Storage to Google Drive, the BlobReader doesn't appear to be buffering properly.

Reading through the blobReader code, it should buffer the file as per c

[2021-06-10 14:24] asnimansari opened #463 "Unable to download files from google cloud storage bucket"
I am trying to download a file from my google cloud storage using ..
[code]

But it gives me error:
[code]
The file is a sqlite database.

[2021-06-10 15:38] shaffeeullah commented on #456
Please reopen this issue if you have further questions.

[2021-06-10 15:38] #456 closed

[2021-06-10 16:04] sww314 commented on #456
@Shabirmean I do not think this should be closed.

- the library documentation does not match with how the system now works.
- generate_signed_url accepts values that are no longer allowed

This is a significant breaking change if you use signed urls and it is confusing to debug. Users of libraries like https://github.com/jschneier/django-storages will have things break.

[2021-06-10 16:07] Shabirmean commented on #456
mentioning @shaffeeullah, because I believe @sww314 intended to tag you :)

[2021-06-10 16:34] #455 closed

[2021-06-10 21:04] cojenco commented on #463
Hi @asnimansari, thanks for the question. Based on the error message, it seems like the `download_obj_name` you're passing in is not a valid string. Please refer to the [client library doc](https://googleapis.dev/python/storage/latest/buckets.html#google.cloud.storage.bucket.Bucket.blob) and check if the argument `download_obj_name` type is correct.

Also note that there is a typo. I believe you'r

[2021-06-11 11:48] donnaldg commented on #463
Question is cross-posted on StackOverflow. I posted @cojenco's answer as community wiki.

https://stackoverflow.com/questions/67922750/

[2021-06-11 14:01] #463 closed

[2021-06-11 20:57] tseaver commented on #462
@megabytemb  Thanks for the report!

As a first pass, I tried reproducing the issue without using `googleapiclient` (see [this gist](https://gist.github.com/tseaver/f5a2f91d7685a175ef89ab1d63cd681f)).  That test succeeds as I expected:  it uses the `BlobReader` stream to read odd chunk sizes, but gets the same result as reading the whole file.

FWIW, my test never needs to call `seek()` on the `Bl

[2021-06-11 22:27] andrewsg opened #466 "Consolidate extended retry docstring information in docs file, with links"
Method arguments accepting Retry and ConditionalRetryPolicy have long, detailed docstrings that may be better consolidated in the actual documentation directory and served via a link in the docstring.

[2021-06-14 15:33] shaffeeullah commented on #456
Hi @sww314 ,

A signed URL with no version specified will default to v4. https://github.com/googleapis/python-storage/blob/0dbbb8ac17a4b632707485ee6c7cc15e4670efaa/google/cloud/storage/blob.py#L586

If a value is passed to v4 signed url longer than 7 days, an exception is thrown
https://github.com/googleapis/python-storage/blob/0dbbb8ac17a4b632707485ee6c7cc15e4670efaa/google/cloud/storage/_signing

[2021-06-14 22:31] #453 closed

[2021-06-15 00:36] dandhlee opened #469 "Noxfile is not updated with Sphinx version pin"
`noxfile.py` is not updated with Sphinx version pin, please help take a look!

[2021-06-17 09:15] nnaka2992 opened #471 "Support context manager, so each developer can use this module more efficiently"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

 **Is your feature request related to a problem? Please describe.**
Currently, the Client class does not support context man

[2021-06-20 09:12] arafatsh opened #473 "error downloading a file from GCP when function in a loop..."
I have two identical scripts to download a file from google cloud storage to my instance, the only difference is that in the first script on the left I wrote the file path manually, as for the one on the right the path is taken from list L , the first element of the list is the exact path as the one written manually, I even printed the path to make sure.

<img width="680" alt="error" src="https://

[2021-06-20 10:16] arafatsh commented on #473
never mind, .txt format was adding \n to each path name.

[2021-06-20 10:16] #473 closed

[2021-06-21 16:57] tseaver opened #475 "Refactor systests to use pytest fixtures"
The GCS systests predate widespread adoption of `pytest` idioms within the organization.

Steps:
- [x] Add `conftest.py`.
- [x] Replace `Config.CLIENT` with a session-scoped `client` fixture.
- [x] Replace `Config.TEST_BUCKET` with a session-scoped `bucket` fixture.
- [x] Replace `Config.TESTING_MTLS` with a session-scoped `testing_mtls` fixture.
- [x] Replace `TestClient.setupClass` with a fixtur

[2021-06-21 16:59] #334 closed

[2021-06-21 17:04] tseaver commented on #466
Duplicate of #455?  That one was closed in #461.

[2021-06-21 17:08] tseaver commented on #471
As of https://github.com/googleapis/python-cloud-core/pull/100/ (merged released with `google-cloud-core 1.7.0`), the following works:

[code]

AFAICT, that addresses this feature request.

[2021-06-21 22:31] #460 closed

[2021-06-22 00:41] danielduhh commented on #471
Should we bump our core dependency to 1.7.0? @tseaver

[2021-06-23 18:09] coderanger opened #477 "Uploads and if_metageneration_match and retries"
Sorry for the ticket here, I've also put in a support case but I'm guessing you all have more domain expertise than them and can quickly yes/no this one.

When doing an upload of a new blob that shouldn't exist already, I would like retries to actually work. But the code makes it pretty clear that I should set an if_metageneration_match precondition if I want retries on uploads. So I have this cod

[2021-06-23 18:29] tseaver commented on #471
@danielduhh

I don't think so -- `google-cloud-storage` works fine without that version, it is just missing this feature.

[2021-06-24 02:42] cojenco commented on #477
Thanks @coderanger for filing this issue! We're looking into it.

It does seem like the default retry policy for the upload operations here should instead be `storage.retry.DEFAULT_RETRY_IF_GENERATION_SPECIFIED`. So in the case of fresh uploads, passing in `if_generation_match=0` will provide both the preconditions check and retry strategy. Will send a PR with a fix upon confirmation. Thanks!

Mea

[2021-06-24 07:30] megabytemb commented on #462
Sorry for the silence on this issue, but i've been doing some more troubleshooting on exactly when the buffer is invalidated.

I think the issue is to do with a combination of seeking to the beginning and end of the file, and what whence is used.
You're always seeking relatively on the buffer, but the blobReader is supporting all whence types.

as a play through example,
(`difference` and `buffer_

[2021-06-24 08:57] Cedric-Chen opened #478 "Is there a async storage client, So `async`, `wait` can be used?"
For google speech to text api, there are two types of client
+  speech.SpeechClient
+ speech.SpeechAsyncClient

But I couldn't find one `AsyncClient` for google storage service. Is there one official implementation?

[2021-06-24 17:58] danielduhh commented on #478
Hi @Cedric-Chen, we don't officially support `asyncio` in our python client. I'll mark this as a feature request and we'll consider it amongst exiting requests. Thanks!

[2021-06-25 01:28] hurrialice opened #479 "Can not detect if bucket is requester-pays without using a user project"
Thanks for stopping by to let us know something could be better!

#### Environment details

  - OS type and version: `Ubuntu 20.04`
  - Python version: `3.8.5`
  - pip version: `20.0.2`
  - `google-cloud-storage` version: `1.39.0`

#### Code example

I was trying to see if a bucket is requester-pay or not. Following the instructions [here](https://cloud.google.com/storage/docs/using-requester-pays

[2021-06-25 08:33] megabytemb commented on #462
Ok, getting closer still

it looks like the built-in `tell()` on `io.BufferedIOBase` appears to do some weird things with `seek()`, but i couldn't really find any information on how BufferedIOBase's Tell is being calculated.

I've implemented Tell by simply doing the following

[code]
The above has stopped the GCS BlobReader cache from constantly being trashed and rebuilt every chunk request from

[2021-06-25 16:29] ddelgrosso1 commented on #479
Hi @hurrialice,

In looking at the information you provided it would appear that the behavior of ```get_bucket``` and ```gsutil``` are throwing the correct exception per the [documentation](https://cloud.google.com/storage/docs/requester-pays#requirements) for when the requester does not have a billing project provided. Can you verify that the requester does have a billing project?

Additionally,

[2021-06-25 17:27] hurrialice commented on #479
The documentation says:

[code]

which indicates that I could get the requester-pay status of a bucket from the metadata regardless of whether I input a user project, which is definitely not what I see:

[code]

 In other words, the above code in the document won't run at all if `requester_pays_status = False`. Is there something wrong with the documentation?

This is good to know.

So, my questio

[2021-06-25 19:39] #475 closed

[2021-06-25 20:12] ddelgrosso1 commented on #479
The project argument can be passed to the storage client constructor as documented [here](https://googleapis.dev/python/storage/latest/client.html#module-google.cloud.storage.client) or you can set an [environment](https://cloud.google.com/docs/authentication/getting-started#setting_the_environment_variable) variable with the path to a key file.

I did some testing locally to verify that the sampl

[2021-06-25 21:44] tseaver commented on #451
@daniellehanks Can you clarify the usecase, here?  Do you want to pass an etag (a list, for `If-None-Match`, technically) to `Blob.reload`?  Or `Blob.exists`?  Or do you want to pass it to e.g. `Blob.download_to_file`?

What would you expect to happen in the case that there was no different ETag?  `Blob.exists` could return False, while we'd be more likely to raise an error for the `304 Not Modifi

[2021-06-25 23:31] cojenco opened #481 "Handle data dict type in retry.is_etag_in_json(data)"
`retry.is_etag_in_json(data)` is a helper method for conditional retries. It returns a boolean whether or not an `etag` is contained in the JSON body.

There seem to be use cases in which a dictionary type of data is passed into [`retry.is_etag_in_json(data)`](https://github.com/googleapis/python-storage/blob/cb2a89b0b696defd56c4c1eee5a1cad67ae4cb43/google/cloud/storage/retry.py#L128). Currently t

[2021-06-28 17:57] daniellehanks commented on #451
Can it just behave exactly like the meta/generation parameters? Those raise `google.api_core.exceptions.NotModified` and `google.api_core.exceptions.PreconditionFailed`, which are exactly what I would expect.

As for my specific use case, it would likely look something like:
[code]

Without the etag functionality:
[code]

As I went through the exercise of writing this prototype, it looks like call

[2021-06-28 18:55] danielduhh commented on #471
@nnaka2992 could you verify that pinning [google-cloud-storage](https://github.com/googleapis/python-storage/blob/master/setup.py#L32) to >=1.7.0 resolves this issue?

[2021-06-29 17:56] tritone commented on #451
Thanks for the example, and apologies for the slow response.

As you note from your example, this is only going to save you network calls if you are able to store the ETag client-side and will have it on hand when you attempt to download the file. Will this be possible for your use case? Otherwise, I don't see how this will be useful at all -- obviously the ETag (and generation number) you get fro

[2021-06-29 19:08] ddelgrosso1 commented on #479
Hi @hurrialice,

I just wanted to check if the above documentation helped you set a project and if so, did it resolve your issue?

[2021-06-29 21:35] daniellehanks commented on #451
I'm not storing the etags in my backend. The client would be caching them and using them to make conditional requests to my API. My backend is basically just a middle man abstracting the storage layer (and the GCS-specific concept of generations in favor of etags).

Is my understanding correct that there is no way to get the etag from GCS via a single call to one of the `download_*` functions? Bot

[2021-06-29 21:39] daniellehanks commented on #451
One more question to clarify: Is a conditional call to download that results in a 304 or 412 still billed as a class B operation? If they are not billed, then adding the etag functionality could save us a lot of billed operations.

[2021-06-29 23:11] tritone commented on #451
Ah, so, if I understand correctly:
* For the first time downloading the file you will download without any precondition. You'll take the ETag or generation from the response and cache it.
* For subsequent downloads you'll use the ETag or generation that you had from the initial download to set a precondition, and update the cached data for downloads that succeed.

Is that accurate?

I think I was

[2021-06-30 00:59] daniellehanks commented on #451
Yes, your summary of what I am doing is correct.

I found on the billing page that 307, 4XX, and 5XX are generally not billed, but that doesn't include 304 so I would assume same as you that the operation is billed but no network egress.

I wasn't able to quickly curl GCS in between meetings today because auth is hard :). Glad you were able to verify the metadata is in the headers on alt=media req

[2021-06-30 01:04] daniellehanks commented on #451
I think there is merit to just updating the metadata on download all by itself. Getting metadata via a separate network request is prone to concurrent modification errors/race conditions. I.e. if I have to download the file and get the etag as two separate requests, I'm not guaranteed that the etag actually belongs to the file contents I got as the file could have been overwritten between calls.

[2021-06-30 01:55] tritone commented on #451
Sounds good! Yeah I think it would make sense to start with a PR to add the metadata available from headers on download to the blob. Then we can do a second PR with `ifNotMatch` if you think it's needed (but I think using generation should work as well assuming we can expose it?).

When I do a GET in the JSON API with `alt=media` set, here are the fields that I see available from the headers:

* g

[2021-06-30 04:11] hurrialice commented on #479
Hi @ddelgrosso1

Thanks for your explanation! I'd like to confirm with you if this is intended behaviour --

I initiated the `Client` with `project` argument:
[code]
and I got this error again:

[code]

Is this intended or did I miss something? I thought I have provided the user project when I called `Client`?

[2021-06-30 14:39] tseaver commented on #451
FWIW, `etag` is not one of the currently extracted properties during downloads:  see [`Blob._extract_headers_from_download`](https://github.com/googleapis/python-storage/blob/b20ca203bd8f591232d0a5cdc82569afb910b5c0/google/cloud/storage/blob.py#L847-L874), but it would be easy to add there.

[2021-06-30 14:50] tritone commented on #451
Ahh, thanks for the pointer @tseaver. So actually this is pretty straightforward-- we should extract all of generation, metageneration, and etag there as well.

[2021-06-30 15:12] #312 closed

[2021-06-30 15:13] tseaver commented on #451
@tritone Yup.

[2021-06-30 15:16] tseaver commented on #451
@tritone, @daniellehanks Note that an `if_none_match` parameter should probably take a sequence of ETags, and convert them into a comma-separated string.  Depending on expected usage, it might allow passing a string as well.

[2021-06-30 15:55] daniellehanks commented on #451
@tritone I don't want to use generation as that is GCS specific. Like I said, my backend is just a middle man and my mobile client is the one caching the result and I want that to be implementation detail (GCS) agnostic, i.e. use standard etag for caching.

Starting with the PR to pipe through the headers on download calls sounds good. I'll try to find some time to work on that this week or next.

[2021-06-30 15:58] daniellehanks commented on #451
@tseaver the generation match parameters only take a single value, not a sequence. Seems like the two should behave consistently?

[2021-06-30 16:02] tseaver commented on #451
@daniellehanks  RFC 7232 [specifies the semantics of the `If-None-Match` HTTP header](https://datatracker.ietf.org/doc/html/rfc7232#section-3.2):

[code]

[2021-06-30 16:23] #477 closed

[2021-06-30 17:58] daniellehanks commented on #451
It looks like the if-match/if-not-match for generations in the JSON API are implemented as query parameters and only seem to allow a single value ([documentation](https://cloud.google.com/storage/docs/generations-preconditions?hl=en#_JSONAPI)). I will align with the etag spec and use a sequence for those. Pointers as to where to dive in in the code for adding the etag conditions? Or should I just

[2021-06-30 18:52] ddelgrosso1 commented on #479
Hi @hurrialice

After speaking with some teammates I have some further clarification. Can you try either of the 2 examples below and see if they successfully return the requester pays status for you?

`bucket_obj = client.bucket(bucket_name, user_project=user_project)
 bucket_obj.reload()`

 or

 `bucket_obj = client.bucket(bucket_name, user_project=user_project)
  bucket = client.get_bucket(bucke

[2021-06-30 19:30] hurrialice commented on #479
Hi @ddelgrosso1
Both worked for me. Thanks so much for your clarification. I will close this issue now!

[2021-06-30 19:30] #479 closed

[2021-06-30 20:19] tseaver commented on #451
- `Blob._do_download` already takes `headers`, so you don't need to touch it.
- `Client.download_blob_to_file` currently computes the headers based on the blob's encryption key.  Adding the `If-None-Match` header to that set (after the call to `_get_encryption_headers`) is the right spot, when `if_none_match` is not None.  Tests will need to check the mock for `blob._do_download`.
- All the `Blob.

[2021-07-03 03:58] william-silversmith opened #486 "Possible Connection Pool Issue with Multi-Processing"
Hi!

I have been investigating odd behavior in my own library (https://github.com/seung-lab/cloud-volume/pull/487). I am using threading and process pools to perform a high speed download of many files. However, when using the process pool, I get errors:

[code]

At first I thought it might be too many files open. I raised the ulimit tremendously but no dice. I tried executing it against cached fi

[2021-07-03 06:10] crwilcox opened #487 "blob.download_as_text followed by blob.upload_from_string raises a CRC32C validation error"
[code]

[code]

Possibly helpful, recreating the blob resolves the issue:

[code]

Versions:
[code]

[2021-07-06 00:31] daniellehanks commented on #451
@tseaver and @tritone https://github.com/googleapis/python-storage/pull/488 for part 1. I will start work on part 2 in a separate branch of my fork.

[2021-07-06 01:20] daniellehanks commented on #451
Please correct me if I'm wrong, but it appears the upload APIs don't support if-match/if-none-match headers. Since the scope of this request was for download functionality, this doesn't inhibit my use case. Just something to be aware of that etags will not fully parallel generations.

[2021-07-06 06:13] daniellehanks commented on #451
Draft PR https://github.com/googleapis/python-storage/pull/489 for conditional reads on etag. I just need to add the system test(s) and then I will remove draft status.

[2021-07-06 16:37] tseaver opened #490 "Downloads do not populate properties from all headers"
See https://github.com/googleapis/python-storage/issues/451#issuecomment-871463430

The following headers should be used to populate the corresponding properties:

| HTTP Header  | Property |
| ------------- | ------------- |
| `ETag`  | `etag`  |
| `x-goog-generation`  | `generation`  |
| `x-goog-metageneration`  | `metageneration`  |

[2021-07-06 16:38] tseaver commented on #451
@daniellehanks, @tritone I split out the missing header->property population as #490.

[2021-07-06 16:40] #490 closed

[2021-07-07 16:42] crwilcox commented on #487
I suspect what is happening:

on download, the metadata for crc32c is placed in the blob, on 'upload_from_string' with new info, that metadata hasn't been updated, so on put there is a content/checksum mismatch.

[2021-07-07 17:25] tseaver opened #492 "Avoid using `Blob.upload_from_string` in systests"
That method is a deprecated alias for `Blob.upload_from_bytes`.

[2021-07-07 17:31] tseaver commented on #492
D'oh -- `Blob.upload_from_string` is not deprecated -- it takes either `str` or `bytes`.

[2021-07-07 17:31] #492 closed

[2021-07-07 18:39] tseaver opened #493 "Drop copy of `test_utils`"
https://github.com/googleapis/python-storage/tree/master/test_utils is a fossil, and should be removed.

[2021-07-07 18:41] tseaver opened #494 "Use 'testing/constraints-{python_version}.txt' to test lower bound dependencies"
The files exist, but `noxfile.py` does not use them.

[2021-07-07 22:03] andrewsg commented on #486
Hi, thanks for your report!

Under the hood we use requests, and through that urllib3, for all of our connection handling. I'm not familiar with this sort of error stemming from connection pool issues. Can you describe the control flow of your program that might result in a connection pool-related issue here? Are you forking while you have calls ongoing or something like that? Normally I imagine f

[2021-07-08 16:12] #451 closed

[2021-07-08 16:40] #493 closed

[2021-07-08 21:30] #494 closed

[2021-07-09 03:22] william-silversmith commented on #486
So we request a metadata file that describes our dataset, then we download images in bulk form the dataset. I suspect that the small number of connections made stick around inside the pool after the fork. I'll look more closely at the urllib3 documentation.

[2021-07-09 19:08] tseaver opened #498 "Unit tests emit deprecation warnings"
[code]

[2021-07-09 20:05] tseaver commented on #469
Note that we cannot template the noxfile until after dropping Python 2.7 support.

[2021-07-09 20:41] danielduhh commented on #404
Sorry for the late response. No changes from the API side that should cause this. @fcollman can you confirm that 1) you're still intermittently running into this error, and 2) your batch request content size is not greater than the max 10mb

[2021-07-09 22:21] #481 closed

[2021-07-10 14:38] #469 closed

[2021-07-13 16:44] #498 closed

[2021-07-13 20:06] #471 closed

[2021-07-13 20:08] tseaver commented on #395
Closing, given that the `api-core` PR has landed, and the spelling above accomplishes the requested usage.

[2021-07-13 20:08] #395 closed

[2021-07-13 20:14] tseaver commented on #404
I started to move down the path that this isn't a bug.  However, the `Batch.finish` method makes a low-level API call and [does not check the top-level response code](https://github.com/googleapis/python-storage/blob/c787d12ed9258ef883e381e9fa23b6797cee86a7/google/cloud/storage/batch.py#L276-L279), which *is* a bug:  it shouldn't try to unpack the sub-responses if the overall batch failed.

[2021-07-13 20:17] tseaver commented on #486
@william-silversmith Are you re-using the `storage.Client` after the fork?  One quick workaround to try would be to have the child processes all instantiate their own `Client` instances post-fork.

[2021-07-13 20:51] fcollman commented on #404
ah.. sorry.. we did track down a root cause, which was an expired service account credential, though it wasn't clear from the error that this was the case, and it wasn't clear why it was so unreliable in its nature.  Perhaps something to do caching of such things across GCS.

[2021-07-14 09:51] AntonLazarchik opened #501 "TypeError: expected string or bytes-like object"
google-cloud-storage-1.41.0
https://github.com/googleapis/python-storage/blob/6486010c5835d25a9284c6b17730a3c31177e55a/google/cloud/storage/blob.py#L1520

Traceback (most recent call last):
  File "", line 40, in <module>
    GoogleStorage().download_blob_as_string(uri='')
  File "", line 23, in download_blob_as_string
    return blob.download_as_string(retry=custom_retry)
  File "\venv\lib\site-p

[2021-07-14 12:53] nicwest commented on #501
https://github.com/googleapis/python-storage/blob/6486010c5835d25a9284c6b17730a3c31177e55a/google/cloud/storage/blob.py#L138-L141
dangling comma at the end of the line

[2021-07-14 12:54] nicwest commented on #501
same thing with `_COMPOSE_IF_METAGENERATION_LIST_DEPRECATED`

https://github.com/googleapis/python-storage/blob/6486010c5835d25a9284c6b17730a3c31177e55a/google/cloud/storage/blob.py#L129-L134

[2021-07-15 03:40] richardevs opened #504 "Remove deprecated function download_as_string() in Example Usage"
download_as_string() is deprecated but still being shown on the Example Usage in README.rst.

Suggest to remove deprecated function download_as_string(), replace with download_as_bytes(). [1]

README.rst
[code]

[1] https://github.com/googleapis/python-storage/blob/master/google/cloud/storage/blob.py#L138

[2021-07-15 13:24] parthea commented on #504
Hi @richardevs,

PRs are welcome!

[2021-07-15 16:22] #501 closed

[2021-07-16 00:44] #504 closed

[2021-07-16 13:42] TheBirdsNest opened #510 "blob.download_as_string() raises TypeError: expected string or bytes-like object in version 1.41.0"
Version `google-cloud-storage==1.41.0`

When calling `blob.download_as_string()` we get a TypeError.

Working in version `1.40.0`

Error Output:
[code]

[2021-07-16 17:47] Breathtender commented on #510
Hi @TheBirdsNest, thanks for this report!

This was actually just reported and addressed in #501 and #504

Long story short; `download_as_string()` is deprecated, but our deprecation message had a lingering comma that caused it to be the wrong type, so it doesn't tell you that it's deprecated, it just fails. You should be able to fix this by replacing `download_as_string()` with `download_as_bytes

[2021-07-18 12:41] Sabreware commented on #510
changing to download_as_bytes works.

[2021-07-19 08:27] TheBirdsNest commented on #510
Thanks @Breathtender; that worked perfectly.
Apologies for not doing a thorough enough search for already open issues!

I appreciate the quick response :D

[2021-07-19 08:27] #510 closed

[2021-07-20 18:26] tseaver opened #513 "'test_blob_upload_w_bucket_cmek_enabled' systest flakes"
From [this Kokoro failure](https://source.cloud.google.com/results/invocations/bccf9f4d-ad47-480a-9e6a-fcc64e5a62f5/targets/cloud-devrel%2Fclient-libraries%2Fpython%2Fgoogleapis%2Fpython-storage%2Fpresubmit%2Fpresubmit/log):

[code]

[2021-07-20 19:15] tseaver opened #515 "Split system tests out into separate Kokoro jobs"
Parallelizing them with the main Kokoro build would make for a better turnaround time.

See the BigQuery PR: https://github.com/googleapis/python-bigquery/pull/207 for a roadmap.

[2021-07-20 19:53] #513 closed

[2021-07-20 20:44] #515 closed

[2021-07-20 20:47] tseaver commented on #515
FTR, here are the timings on my local machine for the various `nox` sessions:

[code]

[2021-07-20 22:03] tseaver opened #517 "Teardown of `blobs_to_delete` fixture flakes with TimeoutError."
From [this Kokoro failure](https://source.cloud.google.com/results/invocations/c4cab6ef-94f0-4609-a2ea-760344f14623/targets/cloud-devrel%2Fclient-libraries%2Fpython%2Fgoogleapis%2Fpython-storage%2Fpresubmit%2Fsystem-3.8/log):

[code]

[2021-07-22 12:38] ryanyuan commented on #425
Hi, I reckon we could introduce page_size as one of the parameters here so that the users can use the combination of max_results (to define the total number of return elements) and page_size (to define the number of elements in each page). It will be pretty much the same as https://github.com/googleapis/python-bigquery/blob/master/google/cloud/bigquery/client.py#L362.

I've tested the function in

[2021-07-22 14:16] #517 closed

[2021-07-22 16:47] #425 closed

[2021-07-22 20:55] andrewsg commented on #487
Diagnosed this to a flaw in the update-from-header strategy added in #204 where properties are being set through the front door, which updates Blob._changes[], rather than directly setting the property in Blob._properties[]. I think modifying that part of the code to directly set the property will fix this issue and also resolve many confusing customer complaints we've received over the past year

[2021-07-23 13:38] #487 closed

[2021-07-23 19:21] tseaver opened #525 "Make 'requests.exceptions.ChunkedEncodingError' retryable by default."
See https://github.com/googleapis/python-bigquery/issues/801 for context.

[2021-07-27 17:43] #525 closed

[2021-07-28 16:12] nitishxp opened #527 "Retry did not happened"
Hi,

Lib version : google-cloud-storage==1.38.0

While patching a bucket I got this error
`
in create_buckets bucket_obj.patch() File "/layers/google.python.pip/pip/lib/python3.9/site-packages/google/cloud/storage/bucket.py", line 1067, in patch super(Bucket, self).patch( File "/layers/google.python.pip/pip/lib/python3.9/site-packages/google/cloud/storage/_helpers.py", line 335, in patch api_respo

[2021-07-28 19:45] BrennaEpp commented on #527
Hi @nitishxp, thanks for the question. Are you using preconditions when patching the bucket?

Bucket patch operations are [conditionally idempotent](https://cloud.google.com/storage/docs/retry-strategy#conditional_idempotency), that is, they are only safe to retry with a precondition. Update/patch requests for buckets should have IfMetagenerationMatch as HTTP precondition. [See here](https://githu

[2021-07-29 03:35] nitishxp commented on #527
So i need to use

[code]

[2021-07-29 04:41] BrennaEpp commented on #527
You probably would not want to use the default retry behaviour for a patch (as in your first example), as it might retry the patch even if it was completed but the server returned an error ([see an example of why that may happen here](https://cloud.google.com/storage/docs/generations-preconditions#retry-scenario)). Repeating a patch can leave the bucket in a different state than performing that sa

[2021-07-29 05:12] nitishxp commented on #527
Thanks @BrennaEpp

[2021-07-29 15:11] BrennaEpp commented on #527
You're welcome @nitishxp
Closing the issue. Feel free to reopen if you have any more questions about this.

[2021-07-29 15:11] #527 closed

[2021-08-01 01:00] seperman opened #528 "Redesign of API so it does not need storage.buckets.get access for every single operation."
**Is your feature request related to a problem? Please describe.**
Based on the doc examples and a quick browsing through the code of this library, it requires `storage.buckets.get` on almost every single operation on blobs.

Current read operation:

[code]

Current delete operation:

[code]

 **Describe the solution you'd like**
Looking at the Rest API, there is no need to have the `storage.bucke

[2021-08-01 01:29] seperman commented on #528
never mind.

[2021-08-01 01:29] #528 closed

[2021-08-02 19:56] tseaver opened #529 "New 'page_size' argument breaks unit tests under Python 3.6"
PR #520 added passing `page_size` to the `google.api_core.page_iterator.HTTPIterator` constructor, which is a feature added only in `google-api-core 1.29.0`.  `testing/constraints-3.6.txt` pins `google-cloud-core==1.6.0`, the minimum version specified in `setup.py`, but does not pin `google-api-core`, which results in:

[code]

The fix would be to add ranges for `google-api-core` and `google-auth`

[2021-08-05 02:51] SumithRZT opened #532 "503 when using bucket.rename_blob()"
[code]

Getting the above error while running the following python code

[code]

It ran fine for 81 images and got this error afterwards

[2021-08-05 15:20] #529 closed

[2021-08-05 19:56] tseaver opened #533 "Drop use of 'pytz' in examles / tests"
Except under Python 2.7, current versions of `google-api-core` and `google-cloud-core` no longer use or depend on the `pytz` library, preferring instead to use the stdlib's `datetime.timezone` and `datetime.timezone.utc`.

- [ ] Add testing with the `2.0.0b1` versions of `google-api-core`, `google-cloud-core`, and `google-auth` under Python 3.9.
- [ ] Drop any use of `pytz` in tests or examples.

[2021-08-06 15:33] mariemzyr opened #535 "Conflict with libraries google-cloud-storage and google-auth"
Hello. I will need your help ! :)

I code in python a flask api to generate a Google Signed Url.
However for that I need 2 libraries, so I wrote a requirements file that I will run in a docker file.

I put in the post the three files (requirements.txt, Dockerfile and app.py).

I don't understand why when I specify the two versions (which when I try on a cloud function, it works. I use python 3.7 w

[2021-08-06 16:22] BenWhitehead commented on #532
Hi @SumithRZT, since v1.34.0 the library should automatically retry the request for you if you specify the [`if_generation_match` parameter](https://googleapis.dev/python/storage/1.34.0/buckets.html#google.cloud.storage.bucket.Bucket.rename_blob) correlated with the destination object. If you're creating a new object, then a generation value of `0` can should be specified.

[2021-08-06 16:39] BenWhitehead commented on #535
Hi @mariemzyr the dependency `google-crc32c` is actually dependent upon a native library which isn't built for alpine-linux, so pip is ultimately unable to resolve the dependency and you receive the error you provided. The easiest way to get unblock is to switch the base image you're using:

[code]

Switching to the non-alpine version will allow the resolution of the wheel which is built for libc.

[2021-08-16 17:29] tritone commented on #532
Also note that you can retry without if_generation_match if you specify `retry=DEFAULT_RETRY` in your call to rename_blob (though this comes with risks from an idempotency perspective).

[2021-08-16 17:29] #532 closed

[2021-08-17 10:39] evil-shrike opened #538 "Explicitly passed credentials are ignored if no project id passed"
I have a code that detects current credentials and creates credentials object. And then the acquired credentials objects are being passed everywhere through application for all GCP API clients.
And it works fine with many client (BigQuery, Sheets, Drive, etc). But not with Storage.

[code]

With Storage client I'm getting error:
[code]

So the client ignores the credentials object I passed and tri

[2021-08-18 02:15] Ark-kun opened #540 "AttributeError: 'NoneType' object has no attribute '_http' when using Blob.upload_from_string"
#### Environment details

  - OS type and version: Linux
  - Python version: 3.9.2
  - pip version: 21.2.4
  - `google-cloud-storage` version: 1.42.0

#### Code example

[code]

#### Stack trace
[code]

[2021-08-18 09:11] Ark-kun commented on #540
I'm encountering this error almost everywhere. Even in cases where I initially start with `storage.Client()`:
[code]

[code]

I think this bug needs to be fixed ASAP.

[2021-08-18 16:00] tseaver opened #541 "'test_bucket_update_labels' systest flakes with 400"
From [this Kokoro failure](https://source.cloud.google.com/results/invocations/1a2dad90-74f8-4160-b0c0-e912f6a4fbe3/targets/cloud-devrel%2Fclient-libraries%2Fpython%2Fgoogleapis%2Fpython-storage%2Fpresubmit%2Fsystem-3.8/log):

[code]

I can't reproduce locally.  @frankyn, @andrewsg Can either of you figure out why this test would get a 400 response?

[2021-08-18 16:09] #533 closed

[2021-08-18 16:16] #535 closed

[2021-08-18 18:23] shaffeeullah commented on #540
@Ark-kun To resolve the initial issue, please specify the client in `upload_from_string`. Try:
[code]
Does that work for you?

I am unable to reproduce the second issue that you listed. Is there any more information that you can provide?

[2021-08-18 19:51] Ark-kun commented on #540
Thank you for the workaround. I'll use it until there is a fix on the library side.

Do we have consensus that this is a bug in the library?

I've updated the repro. It looks like the bug only occurs when the you pass a Bucket to `list_blobs`, not a bucket name.

[code]

[2021-08-19 18:35] tseaver commented on #540
Allowing `client` to be optional on these two methods was discussed [here](https://github.com/googleapis/google-cloud-python/pull/8424#issuecomment-503714881).  Basically, `client=None` exists only to allow passing a URI string to a client method which would otherwise require a `Blob` or `Bucket` instance.  If you are constructing one yourself using these methods, you should always pass the `clien

[2021-08-19 20:28] Ark-kun commented on #540
I'm working on reducing Google Cloud onboarding friction and this looks pretty confusing from the user perspective. Especially the second case where I actually use client.
I've also noticed that the errors are not human-intended and not actionable.

I think we can pretty easily improve the user experience here by fixing the `_require_client` function.

Let me make a PR.

[2021-08-19 20:59] tseaver commented on #540
@Ark-kun FWIW, the more idiomatic way to write your first examples above would be:

[code]

or even more idiomatic:

[code]

For the second example:

[code]
or, even more idiomatic:

[code]

Basically, never, ever call `Blob.from_string` or `Bucket.from_string` without passing an explicit client.

[2021-08-19 21:12] tseaver commented on #435
I'm seeing leaked buckets from this systest, because the blob in them still has its EBH set.

[2021-08-20 06:45] tseaver commented on #541
I have a hunch that the 400 error response is somehow related to EC:  #550 tries wrapping the `bucket.update` call (after clearing the labels) with a retry.

[2021-08-20 08:29] mariemzyr commented on #535
Thank you very much for your help, the problem was indeed the alpine version of python.
Good continuation :)

[2021-08-23 18:38] #541 closed

[2021-08-23 19:39] tseaver opened #551 "`test_bucket_w_retention_period` flakes due to EC"
From [this Kokoro failure](https://source.cloud.google.com/results/invocations/a574f4aa-8595-4148-b8b5-9aa894104288/targets/cloud-devrel%2Fclient-libraries%2Fpython%2Fgoogleapis%2Fpython-storage%2Fpresubmit%2Fsystem-2.7/log):

[code]

[2021-08-23 22:09] martin-kokos opened #553 "Call to api (get_blob) sometimes receives incomplete response"
Sometimes the response from google API is incomplete causing failure in SSL connection, broken (likely truncated) failure to parse json - truncated json, and similar
This is not handled in via retriable exceptions:
https://github.com/googleapis/python-storage/blob/master/google/cloud/storage/retry.py#L30

#### Environment details

  - OS type and version: Gentoo, Debian
  - Python version: Python

[2021-08-24 05:25] #551 closed

[2021-08-24 16:50] #435 closed

[2021-08-24 22:02] failure-checker[bot] opened #554 "Warning: a recent release failed"
The following release PRs may have failed:

* #257
* #231

[2021-08-26 10:44] enaskopelja opened #556 "Ensure blob.download_to_filename() is atomic"
#### Environment details

  - OS type and version: `macOS Big Sur 11.4`
  - Python version: `3.9.6`
  - pip version: `21.1.2`
  - `google-cloud-storage` version: `1.42.0`

### Problem you have encountered:
If `blob.download_to_filename()` is interrupted by KeyboardInterrupt the result is an empty file.

### What you expected to happen:
The function should detect download hasn't finished and delete

[2021-08-30 09:39] forking-renovate[bot] opened #557 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Ignored or Blocked

These are blocked by an existing closed PR and will not be recreated unless you click a checkbox below.

 - [ ] [chore(deps): update dependency googleapis-common-protos to <1.53.1](../pull/432)
 - [ ] [chore(deps): update dependency goo

[2021-08-30 16:16] #557 closed

[2021-08-30 19:37] dandhlee opened #562 "Migrate to main branch"
Contributing to https://github.com/googleapis/google-cloud-python/issues/10579, switching the default branch to `main` branch. Also replacing all occurrences of `master` to `main`.

[2021-08-30 20:49] #562 closed

[2021-08-31 14:17] srikark16 opened #564 "Issue while installing google-cloud-storage on ubuntu 18.04"
We are trying to install google-cloud-storage package in pip3 using ansible, but we are getting the below error. It was working fine before. Please advise!

Package: google-cloud-storage, version 1.14.0
python3:  3.6.9
pip3:  21.2.4
ansible:   2.5.0

[0;32m    amazon-ebs: failed: [default] (item={u'version': u'1.14.0', u'name': u'google-cloud-storage'}) => {"changed": false, "cmd": "/usr/bin/pip3

[2021-08-31 18:08] ddelgrosso1 commented on #564
Hi @srikark16,

Can you provide me with a bit more information please. You said it was working fine previously, what version of the library were you previously on that had no issues? Have you tried any versions more recent than `1.14.0`?  Thanks!

[2021-08-31 18:25] michio-nikaido opened #565 "Use of Batch adds duplicate, redundant gcloud-python/x.xx.x to User-Agent header in an unbounded fashion"
### Overview
We first became aware of this issue when we began seeing "Error 413 (Request Entity Too Large)" responses to a variety of GCS requests after we implemented blob.reload() calls in a Batch context.   We discovered after capturing the HTTP requests that the User-Agent headers for both the "outer" batch request and the contained requests were all filled with hundreds of 'gcloud-python/1.4

[2021-09-01 04:09] thruc opened #567 "Failed to build google-crc32c with pip installing google-cloud-storage 1.42.0 on alpine"
#### Environment details

  - OS type and version: 3.9-alpine
  - Python version: `3.9.0`
  - pip version: `21.1.3`
  - `google-cloud-storage` version:  `1.42.0'

#### Steps to reproduce

  1. Try to build a dockerfile containing
[code]
2.It will fail with errors including

[code]

#### Stack trace
[code]

If 1.1.1, the build will succeed, but if 1.2.0 or later, it will fail.

[code]

[2021-09-01 04:54] thruc commented on #567
I'm sorry.
It was a bug in `google-crc32c==1.1.3` . I will close it.
https://github.com/googleapis/python-crc32c/issues/83

Thank you very much.

[2021-09-01 04:54] #567 closed

[2021-09-01 12:47] dgwalkover1221 commented on #355
@guillaumeblaquiere
after applying the fix provided by you, I am getting this exception
`
<class 'google.auth.exceptions.RefreshError'>, RefreshError('invalid_scope: Invalid OAuth scope or ID token audience provided.', '{"error":"invalid_scope","error_description":"Invalid OAuth scope or ID token audience provided."}'), <traceback object at 0x7f4d783cc680>
`

at the line `credentials.refresh(r)`

[2021-09-01 12:53] deepamgupta commented on #355
@guillaumeblaquiere
after applying the fix provided by you, I am getting this exception
`
<class 'google.auth.exceptions.RefreshError'>, RefreshError('invalid_scope: Invalid OAuth scope or ID token audience provided.', '{"error":"invalid_scope","error_description":"Invalid OAuth scope or ID token audience provided."}'), <traceback object at 0x7f4d783cc680>
`

at the line `credentials.refresh(r)`

[2021-09-01 13:47] srikark16 commented on #564
Hi @ddelgrosso1 ,

Thank you for your quick response. We have identified the issue and resolved it. Regards!

[2021-09-01 13:52] guillaumeblaquiere commented on #355
@deepamgupta can you describe your runtime context? Is it on your workstation? On Compute Engine? elsewhere?

[2021-09-01 14:13] ddelgrosso1 commented on #564
Thank you for the update @srikark16. I am going to close this issue out.

[2021-09-01 14:13] #564 closed

[2021-09-01 14:14] dgwalkover1221 commented on #355
@guillaumeblaquiere Currently I am working on my Laptop. Using Pycharm debugger to run my flask application.

[2021-09-01 14:15] deepamgupta commented on #355
@guillaumeblaquiere Currently I am working on my Laptop. Using Pycharm debugger to run my flask application.

[2021-09-01 21:06] andrewsg commented on #565
This is related to an ongoing outage. Upgrading to P1. I will review PR and advise. Thanks Daniel!

[2021-09-01 23:46] andrewsg commented on #556
Hmm, under what circumstances will this behavior cause an issue? Is it really safe to execute a filesystem operation like delete after receiving a keyboard interrupt? Is this problem observed with non-user-instigated exceptions?

[2021-09-02 13:48] JmeCS opened #576 "Install fails on MacOS - Failed to build google-crc32c"
Attempting to pip install `google-cloud-storage` fails on MacOS

#### Environment details

  - OS type and version: `MacOS 11.3.1`
  - Python version: `3.9.6`
  - pip version: `21.2.4`
  - `google-cloud-storage` version: N/A (attempting to install `1.42.0`)

#### Steps to reproduce

pip install virtualenv
virtualenv <your-env>
source <your-env>/bin/activate
<your-env>/bin/pip install google-cloud-

[2021-09-02 14:06] tseaver opened #577 "'test_new_bucket_w_ubla' flakes w/ 412 PreconditionFailed"
From this [failed run](https://source.cloud.google.com/results/invocations/3347120d-1e14-4169-9b59-49c33ca499ea/targets/cloud-devrel%2Fclient-libraries%2Fpython%2Fgoogleapis%2Fpython-storage%2Fpresubmit%2Fsystem-2.7/log):

[code]

[2021-09-02 14:08] tseaver commented on #577
@frankyn, @andrewsg, @cojenco I can't see any reason for the error:  has something on the back-end changed?

[2021-09-02 15:57] ddelgrosso1 commented on #576
Hi @JmeCS,

This is potentially an issue with the virtual environment. One thing you might try is making sure `setuptools` and `wheel` are updated: `pip install --upgrade setuptools wheel`

[2021-09-02 16:19] JmeCS commented on #576
Thanks for the response @ddelgrosso1 !

Sorry I should have mentioned - I tried installing inside and outside of a virtual environment. I also tried upgrading `pip`, `setuptools`, and `wheel`. Same result.

[2021-09-02 16:32] ddelgrosso1 commented on #576
@JmeCS would it be possible to try python 3.8 and see if the problem still exists? Thanks.

[2021-09-02 16:47] JmeCS commented on #576
@JmeCS Just tried with a few different 3.8 versions - same problem. Thanks

[2021-09-02 17:07] andrewsg commented on #576
We've published `google-crc32c` v.1.1.4 just now in the last few minutes, which should resolve this issue. Please try again, or if that doesn't work, `pip install --upgrade google-crc32c`.

If you are on _Apple Silicon_ (M1 architecture) you may have a different problem, in which case, please comment with your results with 1.1.4. Thanks!

[2021-09-02 17:13] #577 closed

[2021-09-02 17:19] JmeCS commented on #576
Thanks @andrewsg - I tried again, with the same result. Also tried `pip install --upgrade google-crc32c` with the same outcome.

I am, in fact, on an M1 chip - that was sort of my hunch from the beginning. It's been causing me all sorts of headaches. Should have mentioned that up front. Thanks!

[2021-09-02 17:30] andrewsg commented on #576
Okay, thanks. Could you please paste the full output of the --upgrade attempt?

[2021-09-02 17:34] #565 closed

[2021-09-02 17:51] JmeCS commented on #576
[code]

[2021-09-02 17:54] andrewsg commented on #576
Thank you. We are working on a fix in 1.1.5. In the meantime, to mitigate, you can either pin to 1.1.2 or run `CRC32C_PURE_PYTHON=1 pip install --upgrade google-crc32c`.

Closing this bug as it's duplicated on the google-crc32c issue tracker, but if you continue to experience issues and are unable to install `python-storage` even after this mitigation, please reopen it (as it does affect storage).

[2021-09-02 17:59] JmeCS commented on #576
Thank you all - much appreciated! The `google-cloud-storage` install worked after `CRC32C_PURE_PYTHON=1 pip install --upgrade google-crc32c`. Will reopen if any issues come up.

[2021-09-02 18:47] #576 closed

[2021-09-02 18:58] cojenco commented on #538
Hi @evil-shrike, thanks for filing the issue. I'm investigating with the team on why this is causing an issue in the storage client.

The storage Client, same as the bigquery Client, both utilize cloud-core [`ClientWithProject`](https://github.com/googleapis/python-cloud-core/blob/c3463dfaa1d74c7bc3693d2bfd2ad8d13c363e9f/google/cloud/client.py#L264) and [`google.auth.default()`](https://github.com

[2021-09-03 11:35] tseaver commented on #538
@cojenco The fallback to `google.auth.default` is due to the need to determine the project for credentials which do not contain `project_id`.
- Credentials obtained from a service account file contain the default project, and so passing an explicit project is not needed when using them.
- OAuth2 flow credentials do *not* have a project:  therefore, the user must either pass an explicit project to

[2021-09-07 23:12] cojenco opened #582 "Expose preconditions to ACL methods"
The PATCH API requests for ACL in python-storage utilize `storage.buckets.patch` or `storage.objects.patch`, instead of  ACL specific endpoints such as `storage.bucket_acl.patch`  `storage.object_acl.patch` `storage.default_object_acl.patch`

- Add preconditions support to the ACL library methods to make the patch operations conditionally idempotent
- Add retry configuration

Note:  IAM configurat

[2021-09-08 18:26] andrewsg commented on #556
Closing this for now; I'm open to reopening this with a more clear use case or comparison to the behavior of other similar libraries.

[2021-09-08 18:26] #556 closed

[2021-09-09 23:33] andrewsg commented on #553
Hi Martin, I've tried running requests in multiprocessing.Pool before and I instantiated the client, created the bucket object and so forth within the subprocess. I didn't encounter this issue even with several hundred thousand attempts (this was on a GCE VM and I was attempting to reproduce another rare bug). I don't see how creating the bucket outside of the subprocess could cause this, but just

[2021-09-13 21:20] cojenco commented on #538
Closing due to inactivity. Please reopen this issue if you have further questions.

[2021-09-13 21:20] #538 closed

[2021-09-15 03:02] #582 closed

[2021-09-15 12:43] martin-kokos commented on #553
I tried running the processing task today with roughly 50k get_blob calls, but didn't see any of those errors. When enabling DEBUG flag, there were few connection resets logged by urrlib3 but those calls were retried per current retry policy, I assume.

[2021-09-16 15:42] dandhlee opened #588 "Continuous test failing because of missing dependency `six`"
Most continuous tests are failing with the following error message:
[code]

[2021-09-16 16:27] #588 closed

[2021-09-27 15:54] shaffeeullah opened #597 "Change Public Access Prevention "unspecified" to "inherited""
GCS is changing the `unspecified` public access prevention value to `inherited`.

This will require the following changes:

1. Modify the values in the library. Constants/enum values for unspecified: these should be marked as deprecated. They can stay in the library if deletion would constitute a breaking change
2. Update the system tests.
3. Create a new sample with region tag public_access_preve

[2021-09-27 16:23] tseaver opened #599 "'test_new_bucket_created_w_unspecified_pap' systest flakes"
From [this Kokoro failure](https://source.cloud.google.com/results/invocations/7ace8da7-f27c-4364-b826-21df53a9c3d3/targets/cloud-devrel%2Fclient-libraries%2Fpython%2Fgoogleapis%2Fpython-storage%2Fpresubmit%2Fsystem-3.8/log):

[code]

[2021-09-27 16:26] Breathtender commented on #599
Hm, seems perhaps this is linked to https://github.com/googleapis/python-storage/issues/597
We are currently changing unspecified to inherited.

[2021-09-27 16:32] cojenco commented on #599
^If needed, we can submit a PR to temporarily skip this test.

[2021-09-28 16:58] #599 closed

[2021-09-29 10:23] soichisumi opened #604 "Force requests over IPv4 with python-storage-client"
## Problem

Hi, I am trying to make a request to the [(Unofficial) GCS emulator](https://github.com/fsouza/fake-gcs-server) from a python script using docker-compose.
However, the request fails due to the error below. The docker-for-mac I am using does not seem to support IPv4, so I am trying to force IPv6 requests, but it does not seem to be working.
Is there any way to force IPv4 in python-stora

[2021-09-29 17:55] #597 closed

[2021-09-29 18:46] cojenco commented on #604
Thanks @soichisumi for the question. To clarify, docker for mac doesn't work on IPv6, so you are trying to use IPv4?

The python-storage supports IPv4, so that should not be a problem. May I ask what does https://gcs:4443 resolve to? And have you tried setting `api_endpoint="https://0.0.0.0:4443"}`

[2021-09-29 20:20] ddelgrosso1 opened #605 "Add support for turbo replication"
We need to add support for a new metadata field: `rpo`. Full details are available in [this doc](https://docs.google.com/document/d/1ee3LzRfyArNIR4rLEeY60Eio7DBwLy5TkmvcMPxSork/edit?usp=sharing&resourcekey=0-4CYSH1Gc0ekxa1oUntE9yg).

Please wait for approval from myself before merging or releasing this change so we can coordinate around release dates.

[2021-09-29 20:21] ddelgrosso1 opened #606 "Add samples for turbo replication"
Samples need to be added for turbo replication ([client library request](https://docs.google.com/document/d/1ee3LzRfyArNIR4rLEeY60Eio7DBwLy5TkmvcMPxSork/edit?usp=sharing&resourcekey=0-4CYSH1Gc0ekxa1oUntE9yg)).

Please see NodeJS example here: https://github.com/googleapis/nodejs-storage/pull/1618

Please wait for approval from myself before merging or releasing this change so we can coordinate aro

[2021-09-29 21:10] cojenco commented on #604
The decision of protocol is handled many degrees of dependency away from our client libraries themselves. The python-storage client utilizes the libraries requests and urllib3 under the hood. If I understand correctly, there is even no way to force IPv4 or IPv6 into the requests library. As noted [here](https://github.com/psf/requests/issues/1691), the protocol selection is not provided access to

[2021-09-30 00:17] cojenco commented on #404
@fcollman Are you still running into this issue after refreshing the service account credentials?

There's also a fix made in [v1.42.1 ](https://github.com/googleapis/python-storage/releases/tag/v1.42.1) regarding intermittent 413 errors using batch requests.

[2021-09-30 02:23] fcollman commented on #404
when we fix the service account credentials the error goes away.. I'd still argue that JWT signature error or this valueerror isn't the most clear advertisement of what the underlying issue is.

[2021-09-30 09:34] samiabboud opened #607 "Unable to stream read `.csv.gz` file via decompressive transcoding"
- OS type and version: Ubuntu 20.04 LTS
  - Python version: `python --version`: 3.8.10
  - pip version: `pip --version`: 20.0.2
  - `google-cloud-storage` version: `pip show google-cloud-storage`: 1.42.2

#### Code example

[code]

#### Stack trace
[code]

I traced the issue back to having `Client.download_blob_to_file` set `headers["accept-encoding"] = "gzip"` which prevents decompressive transco

[2021-09-30 15:39] cojenco opened #608 "Top-level response code error not checked in batch.finish"
The top-level response code in `batch.finish` is not checked and the error is not properly returned.

Surfaced in #404 , if a batch request fails, a `ValueError: Bad response:  not multi-part` is returned instead of bubbling up the actual error. The `ValueError` in this case is misleading and not informative.

[2021-09-30 15:42] cojenco commented on #404
Agreed, I've opened a tracking issue and will submit a fix shortly. Thanks for bringing this to our attention!

[2021-09-30 21:03] #404 closed

[2021-09-30 21:03] #608 closed

[2021-10-01 18:34] cojenco commented on #607
Thanks samiabboud for your report! We're now investigating this issue. I may be back to request more info if needed.

[2021-10-01 21:26] cojenco commented on #607
Update: I am unable to reproduce your issue. Using your code example, I tried reading two large CSV files and both worked for me without any errors. I'll continue to investigate the `blob.download_as_bytes()` method.

Meanwhile, could you check to see if you run into the same issue reading different source csv files? Thanks!

[2021-10-02 12:37] samiabboud commented on #607
Thank you for investigating @cojenco .

Here's a self contained snippet to reproduce (just edit the bucket name)

[code]

and here's my pip freeze output, just in case:

[code]

Happy to provide more info, or test, if useful.

[2021-10-04 19:03] yingbo opened #610 "Adding function index in document"
In the python API document of a class, there should be an index of all functions of the class. For example, in this page: https://googleapis.dev/python/storage/1.42.3/client.html, it is very hard to tell which functions are available in "class google.cloud.storage.client.Client". A functions/members index on the right side of page will be very helpful.

[2021-10-04 20:05] tseaver commented on #610
@yingbo Thanks for the suggestion!  Our docs pages are generated from [Sphinx](https://www.sphinx-doc.org/en/master/) -- is there a particular Sphinx feature which corresponds to the index you are suggesting?

[2021-10-04 20:52] samiabboud opened #611 "ValueError: Bytes stream is in unexpected state when writing to blob in chunks"
OS type and version: Ubuntu 20.04 LTS
Python version: python --version: 3.8.10
pip version: pip --version: 20.0.2
google-cloud-storage version: pip show google-cloud-storage: 1.42.2

#### Steps to reproduce

  1. Run code (update bucket name)

#### Code example

[code]

#### Stack trace
[code]

It seems like that writing does not recover when a chunk times out. My workaround was to set `chunk_size

[2021-10-04 22:51] soichisumi commented on #604
Hello,  @cojenco
Thanks for your detailed and informative reply!

### dns resolution of `https://gcs:4443`

I have verified the name resolution from the container running the Python script to the gcs emulator.
it doesn't seem to have an IPv6 address.

[code]

### What happens if instead of using the python-storage client

It's taking a while, but I'll try.

### Other topic

I tried to implement pu

[2021-10-05 18:38] cojenco commented on #607
Thanks for your patience @samiabboud! We've checked with the team and GCS does not support range headers with decompressive transcoding, as stated in our [docs](https://cloud.google.com/storage/docs/transcoding#range).

May we get more information on what your program is trying to do so we can further assist? Is it more important to do decompressive transcoding or byte range downloads?

[2021-10-06 19:43] cojenco opened #616 "BucketNotification.create() does not check if a topic is provided"
A PubSub topic (topic name) is required to insert a `BucketNotification` according to the [JSON API](https://cloud.google.com/storage/docs/json_api/v1/notifications/insert#topic).

Currently the library is not checking in `BucketNotification.create()` if a topic name is set or not. `topic_name=None` is incorrectly interpolated to `"//pubsub.googleapis.com/projects/<project-identifier>/topics/None"

[2021-10-08 00:17] cojenco commented on #611
In addition to writing in smaller chunks, you can also customize retries and include the precondition query param `if_generation_match`. With retries configured, the upload operation will retry in cases of connection errors and other retryable errors (such as a 503).

As shown below, you can try customizing the total timeout deadline to 600 seconds instead of the default 120 seconds, and you can s

[2021-10-12 23:51] crwilcox opened #621 "Add a py.typed file for submodule"
To be in accordance with [PEP 561](https://www.python.org/dev/peps/pep-0561/) we should add a py.typed file to google/cloud/storage/py.typed

The file can be empty but does need to be present for some type checkers.

[2021-10-13 15:29] crwilcox commented on #621
Do note, you may need to run mypy, pyright, pytype against our samples before merging. It will ensure that we aren't exposing users to failing type checks.

Ideally we would add this to CI as well, to avoid future breakage.

[2021-10-18 07:04] cometta opened #624 "upload multiple files using one signed url for bucket"
I used
[code]
and it generated url look like
[code]

may i know do i need to append additional object_name, when upload file with a PUT at the endpoint?
[code]
i get the error on the brower
[code]
but when i use ```blob.generate_signed_url(..)``` on the same bucket,  i able to upload a file without any error. i already configured CORS for this bucket

Anyone ever successfully upload multiples file

[2021-10-18 13:44] aafendi opened #625 "download_as_bytes() function removed from blobs object"
The `blob.download_as_bytes()` function has been removed from the latest version. I went into the actual package installed on the conda environment and only the download_as_string() function was there

#### Environment details

  - OS type and version: Windows
  - Python version: `3.7.11`
  - pip version: `pip 21.0.1`
  - `google-cloud-storage` version: `1.42.3`
  - Run on a conda environment, use

[2021-10-18 14:43] #625 closed, assigned to nobody

[2021-10-18 19:47] frankyn commented on #624
HI @cometta,

Thanks for your question. You'll need to generate a signed URL per object you wish to upload by using the following method:

https://googleapis.dev/python/storage/latest/blobs.html#google.cloud.storage.blob.Blob.generate_signed_url

Signed URLs created on a bucket reference will create a signedURL for bucket specific operations (LIST, GET).

This is slow however there's no alternativ

[2021-10-18 22:04] cojenco opened #627 "Update snippets README"
As part of the cloud client samples migration plan #626
- Update README.md
- Create AUTHORING_GUIDE.md and  CONTRIBUTING.md

[2021-10-19 15:06] #624 closed, assigned to frankyn

[2021-10-19 23:37] Clockwork-Muse opened #631 "Cannot stream-write a zipfile"
I'm attempting to stream-write an uncompressed zip file (200MB+ -> 1GB+ eventually, mostly ~3MB images) to avoid writing to disk.  Unfortunately when the zip file is closed it attempts to at least partially flush the stream, and the storage client seems to assume that a flush will only occur to close the streamed file, which isn't the case here (and seems wrong in the general sense, since buffers

[2021-10-21 18:25] Clockwork-Muse commented on #631
For files of any real size, the current workaround I give is not sufficient - I get errors around the ~50MB range:
[code]

... it's not clear to me why `export_text_function` is getting called here, since it's the `export_function` call that's throwing the error, and exiting the wrapping context that I have (strategically placed `print`-debugging lines aren't being called, so I'm really confused).

[2021-10-26 22:59] #627 closed, assigned to cojenco

[2021-10-28 16:29] cojenco opened #640 "Update docs to link to more examples"
Update python-storage docs to have direct links to c.g.c samples and how-to guides

[2021-10-28 20:48] cojenco opened #643 "flaky systest `test_bucket_w_default_kms_key_name`"
[Kokoro failed with flaky test:](https://source.cloud.google.com/results/invocations/bab7677b-a158-41c7-889d-b30725eebbee/targets/cloud-devrel%2Fclient-libraries%2Fpython%2Fgoogleapis%2Fpython-storage%2Fpresubmit%2Fsystem-3.8/log)

[code]

[2021-10-29 16:42] #643 closed, assigned to cojenco

[2021-10-29 18:08] andrewsg commented on #631
Okay. I'll work on a new behavior here. In the meantime, this is perhaps a silly workaround, but inside your `with` statement you can set the private attribute `blob_file._text_mode = True` to silence the `flush()` error. This won't actually put the blob into text mode, as long as you set the private attribute directly instead of through the constructor.

[2021-11-02 22:32] #640 closed

[2021-11-04 18:26] #631 closed

[2021-11-17 15:09] bobqian1007 opened #653 "Could not connect to the cloud storage when running on the Google cloud compute engine"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2021-11-17 17:36] shaffeeullah commented on #653
Hi @bobqian1007 ,

If you specify your project ID and credentials when creating the client, does that resolve your issue? See documentation for how to do this [here](https://googleapis.dev/python/storage/latest/client.html).

[2021-11-18 09:14] takizee commented on #341
using Service acount will prevent this from happening ?

[2021-11-20 14:36] bobqian1007 commented on #653
I haven't tried this, but I think the client should be able to read from the environment right? Since I have used the same steps before, it worked last time.

[2021-11-24 18:28] oittaa commented on #324
Is this issue abandoned?

It's quite annoying that you can't simply initiate the storage client if you ever intend to run tests.

[code]

You always have to write some kind of wrapper like this.
[code]

[2021-12-01 19:15] sev-fletch opened #658 "Updates for retry documentation for cloud storage"
I was looking at [this doc](https://googleapis.dev/python/storage/latest/retry_timeout.html) on how to use Retry and ConditionalRetryPolicy. Two things I came across:
*  I wasn't able to get the ConditionalRetryPolicy working given the sample code
* It would help to surface [this comment](https://github.com/googleapis/python-storage/blob/79b669bbede1cd4f06f1d697b71c7f9f2442fb80/google/cloud/storag

[2021-12-03 00:37] andrewsg commented on #658
Thank you for this report and your suggestions!

[2021-12-03 18:23] jd185367 opened #659 "`Bucket.delete_blobs` doesn't call `on_error` in a batch context"
Trying to delete a file that doesn't exist with [`Bucket.delete_blobs`](https://gcloud.readthedocs.io/en/latest/storage-buckets.html#google.cloud.storage.bucket.Bucket.delete_blobs) should call the function passed to the `on_error` arg (if provided) instead of raising an exception. That's the behavior I observe when calling this method normally, but trying to do this inside a batch deletion seems

[2021-12-03 20:08] cojenco commented on #653
If the project ID is not passed, it falls back to the default inferred from the environment. From the [error message](https://github.com/googleapis/python-cloud-core/blob/24b7de49943a49e8235f9dbee6b32693deed8c1f/google/cloud/client/__init__.py#L269) above, it seems like neither the project or the credentials were set in the environment.

I'm reviewing the client code and trying to reproduce the is

[2021-12-03 23:18] andrewsg commented on #659
Thank you for this detailed bug report.

[2021-12-07 17:29] cbonnie opened #661 "More specifically describe code sample in comment block"
This is just a simple PR to make sure we're describing the code as specifically as possible in the code comments, so users have a good experience using our code samples. PR is here: https://github.com/googleapis/python-storage/pull/660

[2021-12-07 21:48] cojenco commented on #610
Hi @yingbo, the docs are in the process of being updated to cloud.google.com. Please checkout the [updated doc for class `Client` ](https://cloud.google.com/python/docs/reference/storage/latest/google.cloud.storage.client.Client), and let us know if you have any feedback. Thanks!

[2021-12-07 21:51] yingbo commented on #610
It's amazing! Thanks for the clear documents.

[2021-12-07 21:51] #610 closed

[2021-12-10 18:08] #661 closed

[2021-12-11 01:13] jphalip opened #666 "Allow `raw_download` kwarg for BlobReader"
The current value for `BlobReader`'s [`VALID_DOWNLOAD_KWARGS`](https://github.com/googleapis/python-storage/blob/ee41b3f883632026e5d0460847122bd1c37b9b2d/google/cloud/storage/fileio.py#L31) constant is:

[code]

Is there a reason why `raw_download` isn't in the list? I'd like to add it in order to read bytes of a compressed file *without* Cloud Storage doing the decompression.

Because of the curr

[2021-12-13 18:45] cojenco commented on #666
Thanks for filing the issue! I'm looking into this and will make a patch to add the kwarg.

[2021-12-14 18:51] gunar commented on #214
I'm also getting this error on `google-cloud-storage = "==1.43.0"`. Although I'm using the method  `from_service_account_file`.

The issue linked above doesn't help me as that one is focused on people trying to use end user accounts, whereas the present issue is concerned with getting rid of this error message as we're already using a service account.

[2021-12-15 00:56] #666 closed

[2021-12-16 18:46] ali-suleiman-44b20b39 opened #672 "No results when delimiter is set when calling Client.list_blobs"
#### Environment details

  - OS type and version: MacOS BigSur Version 11.4
  - Python version: Python 3.9.7
  - pip version: pip 21.2.4
  - `google-cloud-storage` version: `pip show google-cloud-storage`

 `
Name: google-cloud-storage
Version: 1.43.0
Summary: Google Cloud Storage API client library
Home-page: https://github.com/googleapis/python-storage
Author: Google LLC
Author-email: googleapi

[2021-12-16 21:48] cojenco commented on #672
Thanks for the question @ali-suleiman-44b20b39

If you specify both `prefix` and `delimiter`, you'll get back only the files directly under the prefix/. As part of the response, you'll also get back an `r.prefixes` entity that lists the "subfolders" under the prefix/. Please refer to the [API doc](https://cloud.google.com/storage/docs/json_api/v1/objects/list?authuser=1).

You can try adding a blo

[2021-12-17 12:20] ali-suleiman-44b20b39 commented on #672
I see it in the comment lines here: https://cloud.google.com/storage/docs/listing-objects#storage-list-objects-python I will try this out. Thanks

[2021-12-18 23:01] adriangb opened #673 "File-like API is inconsistent with built-in file-like objects"
Python's file-like object protocol is not very well documented, and there are a lot of edge cases / undefined behavior that lead to arbitrary outcomes. It seems like in at least some of these scenarios, the implementation of file-like objects in this library does not conform with what file-like objects from the standard library do. Here is an example:

[code]

It would be nice to get this inconsis

[2021-12-20 04:49] adriangb commented on #604
I answered this question on [StackOverflow](https://stackoverflow.com/a/70417427/6582418), but copying here in case someone finds this first.

So TLDR it's not a bug in this library, although this library _could_ do a better job of validating data / responses and/or giving a more user friendly error message.

I also filed https://github.com/fsouza/fake-gcs-server/issues/637 to see if they are able

[2021-12-21 17:16] zchauvin commented on #86
For anyone finding this, my problem when getting this error was that my code in the `with` block was no-oping, meaning there were no requests for the GCS batch to process. Here's a minimal example:

[code]

In this case, the batch has no requests, and throws a ValueError on exit, so you should check that there are in fact requests in the batch if you're getting this error.

[2021-12-27 00:01] amirbtb commented on #294
Hi,

I believe there is an issue with the `prefixes` property of the iterator.
the set returned is empty after I call the client
[code]

But when I loop over result I can access the prefixes
[code]

It would be great to be able to list prefixes directly without listing files, since it can be expensive in time and compute.

Thank you in advance (and Merry Christmas 🎄)

[2021-12-28 19:17] cojenco commented on #672
Great, closing the issue for now. Feel free to reopen if you have further questions. Thanks!

[2021-12-28 19:17] #672 closed

[2022-01-07 22:12] frankyn commented on #486
No follow-up closing out given no response. Please reopen if this is still an issue.

[2022-01-07 22:12] #486 closed

[2022-01-18 16:41] Breathtender opened #694 "Address weirdness in snippets test bucket generator"
@dandhlee helped point out a weirdness in the rpo_test in our recent turbo replication change, that was copied over from snippets_test.
Just want to highlight this here to ensure we take a look and also to inquire if someone knows if there's a reason why we did it this way.
As dan pointed out, if the bucket exists, an infinite loop would be created, and so I'm kind of confused about what's happeni

[2022-01-18 17:27] cojenco commented on #694
I recall this is to ensure that the bucket fixture created has a non-existent bucket_name
[code]

The while loop is broke out once `bucket_name = "storage-snippets-test-{}".format(uuid.uuid4())` is non-existent and unique, so there wouldn't be an infinite loop.

[2022-01-18 17:28] Breathtender commented on #694
Ahhhh that makes sense

[2022-01-18 21:12] #605 closed

[2022-01-18 23:31] #324 closed

[2022-01-20 15:50] danielduhh commented on #478
cc: @Breathtender @andrewsg

[2022-01-20 18:08] Breathtender commented on #478
Hey @Cedric-Chen and anyone else curious about this.
We just removed support for Python2 from our client, and that move forward should be supportive for us integrating more async functionality in our official library, and that is something we will be exploring more in this year. Anything that does get put into the official library, we will try to make a note of here.

For now, while there isn't mu

[2022-01-21 14:35] oittaa opened #699 "`create_bucket` expects a project even with an emulator "ValueError: Client project not set: pass an explicit project.""
Thanks for fixing https://github.com/googleapis/python-storage/issues/324. I just noticed that `create_bucket` still expects a project. Would it make sense that it'd also detect `STORAGE_EMULATOR_HOST` and use a "fake" project automatically like [here](https://github.com/cojenco/python-storage/blob/820f3ead72236db05521fd36213b2acaab048e8b/google/cloud/storage/client.py#L157)?

#### Environment det

[2022-01-24 04:08] outk opened #701 "`download_blob_to_file()` example does not working"
`download_blob_to_file()` example does not working. When I change `'w'` to `'bw'` in `open()`, that is working. Please check this bug.

#### Environment details

  - OS type and version: macOS Monterey v12.1
  - Python version: `python --version`: 3.10.2
  - pip version: `pip --version`: 21.3.1
  - `google-cloud-storage` version: `pip show google-cloud-storage`: 2.1.0

#### Code example

[code]

R

[2022-01-25 18:43] shaffeeullah commented on #701
Thanks for calling this out with such clear repro steps!! I've linked a PR that will update this in the docs.

[2022-01-25 19:53] #701 closed

[2022-02-04 00:41] #699 closed

[2022-02-04 22:06] goodoldneon opened #712 "False import error"
#### Environment details

  - OS type and version: macOS 12.1
  - Python version: `3.9.9`
  - pip version: `21.2.4`
  - `google-cloud-storage` version: `2.1.0`

#### Steps to reproduce

1. Put `from google.cloud import storage` in one file
2. Put `import google.cloud.billing` in another file
3. Run `mypy .`
4. You'll see `error: Module "google.cloud" has no attribute "storage"`

Full repro here: h

[2022-02-04 22:30] goodoldneon commented on #712
Note that deleting `.../site-packages/google/cloud/billing/py.typed` also makes the error go away.

[2022-02-07 21:31] raphaelauv commented on #478
In the example of @Breathtender things will run concurrently but not in parallel , cause `upload_from_string` is not async and you are not using a multiprocessing executor ( multithreading only run 1 thread at the same time with the python GIL ).

If `upload_from_string` was async then it will not make a blocking network system call and release his own execution to the loop with the keyword `await

[2022-02-08 03:40] goodoldneon commented on #712
That fixed the issue for `import google.cloud.billing`... but changing it to `from google.cloud import service_usage` made the issue return. I pushed a new commit to repro repo.

We use many of the `google.cloud` libraries (because y'all are doing awesome work!), and there seem to be weird interactions between them from a type analysis perspective

[2022-02-08 15:00] ddelgrosso1 commented on #712
I pulled the latest code and ran `mypy .`. I did not receive an errors regarding `storage`. Is. there something else that needs to be done?

[2022-02-08 15:04] goodoldneon commented on #712
Huh... it errors for me.

[code]

[2022-02-09 22:43] cojenco commented on #712
hi @goodoldneon thanks for the detailed report. I think `mypy` was able to find the module you were importing, but reported the error due to the missing py.typed marker in python-storage. Our team is planning to add the py.typed marker in Q2, tracking in #621 .

Meanwhile, you can try adding a `# type: ignore` at the end of the line importing storage, and it should suppress the missing import erro

[2022-02-09 22:45] cojenco commented on #606
Fixed by #622

[2022-02-09 22:45] #606 closed

[2022-02-10 02:59] goodoldneon commented on #712
Sounds good!

Also, I found an alternative to `# type: ignore` using dummy stubs. You can see this solution in the `stubs-solution` branch in my repro repo:

https://github.com/goodoldneon/google-mypy-repro/tree/stub-solution

I'll close this issue since I have a stopgap. Thanks so much for the quick help on this!

[2022-02-10 02:59] #712 closed

[2022-02-15 21:13] andrewsg commented on #673
I can't reproduce the issue you describe with my own bucket.

[code]

Is test.txt of nonzero length?

[2022-02-15 21:27] adriangb commented on #673
Here's a full self contained example:

[code]

[2022-02-17 23:21] #621 closed

[2022-02-18 11:18] nitishxp opened #718 "Retry did not occur"
Hi I am using python39 Cloud function runtime

Lib that i am using is
google-cloud-bigquery==2.28.1
google-auth==1.30.0
google-cloud-pubsub==2.2.0
google-cloud-scheduler==2.1.0
google-cloud-storage==1.38.0
google-cloud-kms==2.2.0
google-cloud-secret-manager==2.1.0
google-api-python-client==2.30.0

`
Expecting value: line 1 column 1 (char 0) Traceback (most recent call last): File "/workspace/funct

[2022-02-21 14:20] abhisharmaa opened #719 "Unable to unzip password protected .gz files"
**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.
Am unable to unzip password protected .gz file in GCS using python client.
`
        blob = source_bucket1.blob(path_list[0])
              zipbytes = io.BytesIO(blob.download_as_string())

[2022-02-22 20:38] Breathtender commented on #553
Hey @martin-kokos
Just following up. Did this problem continue at all for you?

[2022-02-23 07:05] martin-kokos commented on #553
I did get network errors couple weeks back but had the package version frozen so was still using the one specified in this ticket. Since there have been some updates to this library, I think this can be closed. Thanks for following up.

[2022-02-23 07:05] #553 closed

[2022-02-23 21:11] Breathtender commented on #718
Hi @nitishxp, thanks for your report. I'm having a little bit of a hard time understanding your report, could you share a little bit more information?
What would be most helpful is if you could share what you were trying to do and what was the expected behavior, that caused this. Ideally share a code snippet where this error happened so we can try to reproduce it.

Lastly, if you could try upgradi

[2022-02-23 21:30] Breathtender commented on #719
Hi @abhisharmaa, thanks for your report! I'm trying to reproduce this now, could you share with me what error messages you were getting with this?

[2022-02-23 22:28] Breathtender commented on #719
In trying to reproduce this, I was having difficulty with getting ZipFile to work at all, regardless of using GCS or not, so I used pyzipper and I got a working sample. I'm not sure if this is reflective of what you are trying but in this case I just pretty much uploaded a file and downloaded a file.

[code]

I'm trying to do this with fully in memory now though as I'm guessing that's what you're

[2022-02-25 12:25] abhisharmaa commented on #719
Hi @Breathtender
Thanks for your response.
Am trying to read .csv.gz file and using the gzip library but getting below error while downloading it as a file.

`from google.cloud import storage
from zipfile import ZipFile
storage_client = storage.Client()
source_bucket = '<landing bucket>'
 source_bucket1 = storage_client.bucket(source_bucket)
blob = source_bucket1.blob(path)
        blob.download_t

[2022-02-25 18:42] Breathtender commented on #719
Hmm, I suppose I'm a bit confused because from what I've seen, .gz doesn't support password protection, and so I'm having a hard time replicating your sample. The 404 code suggests to me this doesn't have anything to do with zip.

When you run this, does it successfully print "able to download as file" and "password set" or is it failing before then?

[2022-02-26 03:46] adriangb commented on #673
@andrewsg does that example reproduce for you?

[2022-02-28 14:40] abhisharmaa commented on #719
****UPDATE****
Am able to read .csv.gz password protected file using below logic. All of this is done in memory. It has performance issue if the file is huge but works fine.
[code]

[2022-02-28 14:43] #719 closed

[2022-03-01 07:44] allenc97 commented on #462
@andrewsg  I also ran into similar problems. The below code is an easy reproduction that will cause invalidations once per loop:

[code]

The goal of the code is straightforward, that is to read from a remote tar stored on GCS. The above code will cause issues when tarfile internally calls tell() to get tar offsets. You can replace the bucket and tar with any and it will do.

[2022-03-01 12:13] megabytemb commented on #462
Hey @andrewsg,

The sample code i provide is exactly what i implemented in my production code, and it's worked beautifully for me.
[code]

[2022-03-02 00:19] allenc97 commented on #462
@andrewsg I have provided a PR that fixes the issue, as well as providing a test that will break the current implementation.

[2022-03-02 23:50] andrewsg commented on #673
Hi @adriangb, was on vacation previously, taking a look this week. Thanks!

[2022-03-02 23:52] adriangb commented on #673
No problem, but also just FYI this probably should be low priority, it's not impacting our work directly and I doubt anyone else is impacted by it in a way they can't easily work around.

[2022-03-09 16:47] mlazowik opened #726 "Requests are not retried on connect/read timeouts"
Sometimes google storage requests can hang and hit the default 60s read timeout. Note that the read timeout is time between incoming bytes, which most often just ends up being the same as TTFB timeout. It's _not_ a timeout for the whole response download. IMO the `_DEFAULT_TIMEOUT` could be significantly reduced from the current 60s to get past stuck requests faster.

`requests.exceptions.Timeout,

[2022-03-10 00:28] cojenco commented on #726
Thanks @mlazowik for bringing this to our attention. Looking into the docs, I agree that we can include client-side timeout `requests.exceptions.Timeout` into `_RETRYABLE_TYPES`. I'll work on a PR to add it in.

As for timeouts, you can configure explicit timeouts instead of using the `_DEFAULT_TIMEOUT`. For example, you can reduce the timeout to 30 seconds with `blob.download_from_file(timeout=30

[2022-03-10 00:56] mlazowik commented on #726
Yeah, I'm aware about the timeout param, was just wondering whether the default could be reduced for better out of the box experience. But maybe that change would be too invasive and so in a sense a breaking one.

[2022-03-10 18:30] ionox0 opened #730 "Intended development authentication workflow"
Is there any existing support for automatically switching between GSA and alternative authentication methods based on the environment? Something similar to what is provided by the google cloud auth NPM package:

"For example, a JWT auth client will be created when your code is running on your local developer machine, and a Compute client will be created when the same code is running on Google Clou

[2022-03-10 23:23] #726 closed

[2022-03-11 00:17] mlazowik commented on #726
Thanks!

[2022-03-11 00:20] cojenco commented on #726
We're planning to cut a new release next week. Stay tuned, thanks!

[2022-03-11 03:45] danielduhh commented on #718
Closing due to inactivity. Will be happy to open back up if upgrading your client doesn't fix this or if you're able to add more information @nitishxp!

[2022-03-11 03:45] #718 closed

[2022-03-11 05:08] andrewsg commented on #462
@megabytemb Thanks again for your original report. I am looking at accepting @allenc97 's PR which should resolve the issue. However, I suspect that accepting this PR will break your solution that accesses `self._pos`, so please be sure to remove that fix when you upgrade. It looks like the problem was ambiguity between read() and seek() over the meaning of `_pos`, which the PR should resolve.

[2022-03-11 05:10] andrewsg commented on #673
Got it. I believe resolving #462 should take care of a lot of the problems you encountered with the state machine test, though I'm not yet sure how it will impact the zero-length file issue. I think adding the state machine test or something like it is a good idea and will revisit it once that other bug is closed. Thank you!

[2022-03-11 05:39] #462 closed

[2022-03-14 22:42] cojenco commented on #730
Hi @ionox0, thanks for the question. Credentials authentication can be inferred from the project and/or the environment. If the credentials to use for the client is not explicitly passed in, it falls back to the default inferred from the environment. Please refer to the [google-auth-python-library docs](https://google-auth.readthedocs.io/en/master/user-guide.html#obtaining-credentials) for more de

[2022-03-15 05:39] syphar opened #734 "2.2.0 breaks typing checks in applications"
In #716 a `py.typed` file was added to tell mypy that it should use the provided type annotations (or stub-files) in this package.

Problem with that: **there are no type annotations and no stub-file.**

In our application this leads to errors like this:
<img width="745" alt="grafik" src="https://user-images.githubusercontent.com/540890/158313660-ee4e8c87-3331-4a7a-8b3a-75ff75c94f78.png">

( only

[2022-03-15 19:22] #734 closed

[2022-03-15 19:58] Breathtender commented on #734
You should be able to update your library to 2.2.1 and this problem should be addressed.
Thank you again for bringing the issue to our awareness!

[2022-03-21 17:16] cojenco commented on #653
Closing due to inactivity. Please feel free to reopen if you have further questions.

[2022-03-21 17:16] #653 closed

[2022-03-22 03:41] danielbankhead opened #739 "Add Support for Dual Region Buckets"
**FR:** Support dual region buckets.

The method for creating a bucket should accept a string with 2 regions concatenated with a '+' (e.g. `US-EAST1+US-WEST1`).

**System tests:**
- Verify a dual region bucket with specified regions can be created
- Verify a dual region bucket's `location` metadata is the specified dual region provided
- Verify a dual region bucket's `locationType` metadata is `du

[2022-03-23 01:39] cbini opened #740 "add `setuptools` to dependencies"
If you import this library in an isolated environment, it will fail with `ModuleNotFoundError: No module named 'pkg_resources'` due to the line referenced below. While `setuptools` is a commonly installed alongside Python, it's not a core module, and should be listed as a dependency so that package managers (e.g. pipenv, poetry, pdm) will pick up on it and install it.

https://github.com/googleapi

[2022-03-23 21:09] andrewsg commented on #740
You're right! Our automated testing uses setuptools to install the dependencies so it's always installed, but that's not necessarily true of other environments. Thank you for letting us know.

[2022-03-28 11:13] martin-kokos commented on #553
still happening with newer versions
[code]

[code]

[2022-03-29 21:59] cojenco commented on #730
Closing due to inactivity. Will be happy to open back up if you have further questions.

[2022-03-29 21:59] #730 closed

[2022-03-30 00:44] #134 closed

[2022-03-30 23:37] #740 closed

[2022-04-01 23:59] frankyn opened #750 "md5Hash not passed to Storage API on uploads"
#### Environment details

  - OS type and version: Linux
  - Python version: 3.8.0
  - pip version: 20.1.1
  - `google-cloud-storage` version: 2.2.1

#### Steps to reproduce

  1. Select bucket
  2. Create blob instance
  3. Set 'any' md5Hash value on the blob
  4. Upload a file to Storage

#### Code example

[code]

[2022-04-03 15:56] qhaas opened #752 "Firebase Storage Emulator Support"
Summary:
Allow use of [Firebase storage emulators](https://firebase.google.com/docs/emulator-suite/connect_storage) via the [`google.cloud.storage` API](https://googleapis.dev/python/storage/latest/client.html).

Background:
As Firebase developers, we often use the [Firebase emulator suite](https://firebase.google.com/docs/emulator-suite) during development.  Given Firebase is hosted on Google Clo

[2022-04-04 16:43] tonyjhuang commented on #752
Hi, thanks for filing this. As you noted, python admin SDK support is planned but we can't provide any hard dates as to when it will be available. We can keep this issue open to track any work that's being done but as always, we welcome any and all community contributions. If someone wants to take a stab at this, we will be more than happy to provide guidance and reviews.

[2022-04-05 01:01] cojenco commented on #750
Hi @frankyn, what happens if you try running it with the code updated to `blob.md5_hash`?
[code]

I tried testing this and the [`md5_hash`](https://github.com/googleapis/python-storage/blob/main/google/cloud/storage/blob.py#L4080) seems to be passed to the Storage API via [`_get_upload_arguments`](https://github.com/googleapis/python-storage/blob/525de03d467ef9bb026423ee6970f75c12221f03/google/clo

[2022-04-05 02:40] frankyn commented on #750
ahhhh that's what it was.... thanks for clarifying @cojenco! I totally misunderstood and used `md5Hash` instead.

Closing issue!

[2022-04-05 02:40] #750 closed

[2022-04-05 16:31] cojenco commented on #750
Something I've been thinking about last night... so the library silently filters out non-writable properties, [like so](https://github.com/googleapis/python-storage/blob/main/google/cloud/storage/blob.py#L1718-L1720). Is this desirable behavior and how does it affect developers experience? Will bring this up with the team for discussion :)

[2022-04-05 16:33] frankyn commented on #750
It's good call out, tbh, I would have at least known I'm using the wrong property name potentially?

[2022-04-05 16:43] cojenco commented on #750
Exactly! Given that we don't want to add client side validation, maybe something worth considering is to pass everything to server side. Wonder how this is handled in other languages.

[2022-04-05 17:14] BrennaEpp opened #753 "Support AbortIncompleteMultipartUpload LifecycleAction"
This feature adds the following capabilities to the existing GCS Lifecycle APIs:
- A new type of LifecycleAction -  `AbortIncompleteMultipartUpload` will be added.

**If there are code changes other than documentation to implement this feature, please add the following system tests:**

- Validate that “AbortIncompleteMultipartUpload” lifecycle action can be set via Bucket Create, Patch and Update

[2022-04-06 20:29] shaffeeullah opened #755 "add support for OLM Prefix/Suffix"
We need to add support for the new LifecycleCondition field options matchesPrefix and matchesSuffix. Both of these will be a list of strings.

request (internal): [go/prefix-suffix-client-library-request](http://go/prefix-suffix-client-library-request)
nodejs-storage example: https://github.com/googleapis/nodejs-storage/pull/1847

Please wait for my approval before merging/releasing this so we can

[2022-04-06 21:18] #739 closed

[2022-04-06 22:37] dustyny opened #757 "Gzip compression on write"
In many cases we need to use gzip compression to reduce data transmission and storage size. It would be very helpful to have the ability to compress the file without having to using bytesio to compress the file in memory before passing it to the client.

[2022-04-07 16:31] BenWhitehead commented on #757
Assigning to @andrewsg for prioritization as a new feature.

[2022-04-08 21:16] jack-michaud commented on #752
Thank you @qhaas for a good minimal reproduction script. I dug in a little bit; I am by no means an expert in this code base, so it took a lot of `console.log`s in the emulator and breakpoints in the python code. I found a few issues with how the python client sends out requests. I found patches for uploading and deletion.

### Uploading a file
[The emulator expects a `name` query parameter for fi

[2022-04-11 14:01] nitishxp opened #762 "Retry didn't occurred"
Running on Python 39 Cloud function runtime

Lib used
google-cloud-storage==2.1.0
google-auth==1.35.0

`("{'code': 503, 'message': 'The service is currently unavailable.', 'status': 'UNAVAILABLE'}: None", {'error': {'code': 503, 'message': 'The service is currently unavailable.', 'status': 'UNAVAILABLE'}}) Traceback (most recent call last): File "/workspace/common/common.py", line 125, in wrapper

[2022-04-11 19:52] philippefutureboy opened #763 "Deprecation/Removal/EOS schedule for v1?"
Hey there!

What's the schedule for deprecation/removal/End of Service of the v1 API?

We are currently using `google-cloud-storage==1.26.0` since a while ago very reliably, but today we faced an error (`requests.exceptions.ConnectionError: ('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))`) and some answers on

[2022-04-11 23:20] shaffeeullah commented on #763
Hi @philippefutureboy ,

I've tried a few basic operations (such as uploading a file) and I'm unable to reproduce this issue. Can you please provide me with some reproduction steps?

We currently do not have plans for deprecating v1.

[2022-04-12 00:12] philippefutureboy commented on #763
Hi @shaffeeullah,

Sure thing!

Here's a minimally reproducible script. Unfortunately there's nothing much to it, because there's not much more happening than that:

[code]

I can provide you with a frozen-requirements.txt, but given that most of the deps in that file are out of date (by several months) and that we handle personal health information, for security reasons I'd like to send you those

[2022-04-12 21:31] jack-michaud commented on #752
@tonyjhuang I opened a couple PRs to fix these issues https://github.com/googleapis/python-storage/pull/761 https://github.com/firebase/firebase-tools/pull/4423), but I'm currently looking for a thumbs up before unmarking as draft.

[2022-04-13 16:13] sonsharma commented on #124
Hello,

I'm trying to read a shapefile placed in one of my buckets in gcs but I'm unable to. I don't want to download the file in my local while reading or use geopandas to read them. I'm running everything on my local and I have all the accesses to gcp bucket. Below is my code:
[code]

I'm able to read the csv files in this manner but I can't read shapfiles directly from gcs. Also, I tried the fo

[2022-04-13 16:23] sonsharma opened #764 "Read shapefiles directly from google cloud storage without downloading it and without geopandas"
Hello,

I'm trying to read a shapefile placed in one of my buckets in gcs but I'm unable to. I don't want to download the file in my local while reading or use geopandas to read them. I'm running everything on my local and I have all the accesses to gcp bucket. Below is my code:
[code]

I'm able to read the csv files perfectly in this manner but I can't read shapfiles directly from gcs. Also, I tr

[2022-04-13 17:35] frankyn commented on #124
Hi @sonsharma could you please reopen this as a new issue so we can track this separately?

[2022-04-13 17:36] sonsharma commented on #124
This is the issue: https://github.com/googleapis/python-storage/issues/764

Thank you!!

[2022-04-13 17:46] frankyn commented on #764
Hi @sonsharma,

Thanks for filing the issue!

Could you provide the stacktrace with the failure you saw?

[2022-04-13 17:47] shaffeeullah commented on #763
Hi @philippefutureboy ,
I'm still unable to reproduce this issue. I see you mentioned earlier that you opened a support ticket; I believe that is the correct way to get the help you're looking for, as it does not seem that this is a client library issue.

[2022-04-13 17:47] #763 closed

[2022-04-13 17:48] sonsharma commented on #764
My bad. I missed putting that. Please see this error.
[code]

[2022-04-13 17:50] philippefutureboy commented on #763
Hi @shaffeeullah,

Thanks for your answer!

I was about to comment as well - this is indeed not a library issue. One of our affected client played around on the firewall settings and confirmed that the issue comes from the firewall, which was previously denied by the networking company responsible for the firewall.

Sorry that you had to spend some time on a non-issue. Thanks for your time, very a

[2022-04-13 17:58] sonsharma commented on #764
My bad. I missed putting that. Here is the error for `sf_shape = shapefile.Reader(file_path)`
[code]

For the 2nd -
[code]
For the 3rd-

[code]

[2022-04-13 20:06] shaffeeullah commented on #764
Hi @sonsharma ,
It seems that your file is downloading without error and the shapefile library is throwing the exceptions you're seeing. Have you confirmed that this file is readable with that library?

[2022-04-14 14:00] vincentschut commented on #764
Hi @sonsharma ,
The problem probably is that "a shapefile" actually must consist of at least 3 mandatory files: a xxx.shp, xxx.shx and xxx.dbf. (see https://en.wikipedia.org/wiki/Shapefile) Only together these make up a proper shapefile. I'm not sure if the shapefile library (or geopandas) actually supports reading shapefiles (= those 3 files) directly from gcs. You'll probably get more appropriat

[2022-04-14 14:34] frankyn commented on #764
Adding to @vincentschut,

I see there's a package named [`pyshp`](https://pypi.org/project/pyshp/) which takes in two parameters when reading from file like objects:

You can also load shapefiles from any Python file-like object using keyword arguments to specify any of the three files. This feature is very powerful and allows you to custom load shapefiles from arbitrary storage formats, such as a

[2022-04-15 16:29] shaffeeullah commented on #764
Hi @sonsharma ,

Closing this out, as it doesn't seem to be an issue with this library. Please reopen if we can help you further.

[2022-04-15 16:29] #764 closed

[2022-04-15 17:02] andrewsg commented on #762
It looks like your auth request failed. I'm sorry, but we don't have the capability in this library to wrap auth requests in retries. I can see you've already opened a bug against the auth library so please pursue the issue there for now. Thanks!

[2022-04-15 17:02] #762 closed

[2022-04-15 17:42] #753 closed

[2022-04-16 10:11] mcepl opened #769 "Remove the dependency on mock"
**Is your feature request related to a problem? Please describe.**

python-storage completely unnecessarily depends on the separate `mock` package, when `unittest.mock` from the standard library works as well.

 **Describe the solution you'd like**

Will provide PR replacing use of mock with unittest.mock

[2022-04-16 10:34] mcepl opened #771 "When running tests with plain pytest -k 'not network' tests/unit collection errors"
When packaging python-storage for openSUSE we hit this issue:

#### Environment details

  - OS type and version: Linux/openSUSE/Factory
  - Python version: Any of Python 3.8, 3.9, and 3.10
  - pip version: 22.0.4
  - `google-cloud-storage` version: 2.3.0

#### Steps to reproduce

  1. Run the test suite:
[code]

#### Stack trace
[code]

[Complete build log](https://github.com/googleapis/python-st

[2022-04-20 22:23] tritone commented on #771
The [contributing guide](https://github.com/googleapis/python-storage/blob/main/CONTRIBUTING.rst) indicates that nox should be used to run unit tests. I'll have to ask another library maintainer if it's intended to have support for plain pytest invocations as well (and if so, if this is the way we want to go about it).

[2022-04-21 20:03] mcepl commented on #771
When you run `pytest -v tests/unit` the starting directory for pytest is that (`tests/unit`) and not the root directory of the project. Also, see Python error `"ImportError: attempted relative import with no known parent package"` (it is very complicated).

[2022-04-21 20:15] Breathtender commented on #771
Gotcha. Is there a reason you're needing to call pytest directly rather than use nox?
Or is that being automatically called somewhere in the suite?

If it helps, here's the call that nox is actually making to pytest, which works fine
`py.test --quiet --cov=google.cloud.storage --cov=google.cloud --cov=tests.unit --cov-append --cov-config=.coveragerc --cov-report= --cov-fail-under=0 tests/unit`

[2022-04-21 20:48] mcepl commented on #771
I don’t think your call to pytest is right.

See [complete build log](https://github.com/googleapis/python-storage/files/8534982/_log.txt)

[2022-04-22 17:55] Breathtender commented on #771
I'm curious if this is a new issue?
The GCCL_INVOCATION_TEST_CONST is a new change that was just released in 2.3.0, but the relative import for _read_local_json has been in there for a while now.
I'm wondering if it might be useful to move some of these helpers into a different place that would alleviate this.

I am seeing that when I run that call from above (its literally just what nox generates

[2022-04-23 09:35] mcepl commented on #771
And yes of course when running with nox (and I have download `noxfile.py` from git, because you don’t package it in the tarball), I run immediately in problems that you want to do much more than we need (there is no point in our tests to check for the testing coverage):
[code]
(so now I would have to download `constraints` file, install `pytest-cov`, and a lot of other stuff for something I actual

[2022-04-25 16:34] tritone commented on #771
@mcepl thanks for the details. Running unit tests for this package from the tarball is not really a supported use case; the tests are intended for development in this package which would mean checking out the source. And I don't think running tests from the tarball is commonly supported in python packages  (feel free to correct me if I'm wrong!).

Definitely take your point, though, that the nox s

[2022-04-27 17:59] nitishxp opened #780 "Retry Didn't occurred"
Cloud function runtime python39
Lib - google-cloud-storage==2.1.0

[code]

[2022-04-29 18:19] JesseLovelace commented on #780
Hi,

We need a little more info to reproduce this bug. Please provide the code sample from the function and let us know exactly which operation is failing to retry, and show us how you're configuring retries and what you're expecting to see.

[2022-04-29 18:29] nitishxp commented on #780
@JesseLovelace

Below is the code

client = storage.Client()
bucket = client.get_bucket(name)

Since from the logs you can see the there file fetching auth token due to jsonDecodeError issue code just crashed, instead a retry should be done

https://github.com/googleapis/python-storage/blob/main/google/cloud/storage/retry.py#L46

[2022-05-02 13:59] ddelgrosso1 commented on #780
Hi @nitishxp from what you have said and the exception you provided it appears the code provided had a `jsonDecodeError` as opposed to a `TransportError`. Since a `jsonDecodeError` is not an error from the HTTP transport layer I would not expect this issue to retry.

[2022-05-02 14:04] nitishxp commented on #780
@ddelgrosso1 then how should we handle this? since many times In production environment I have started to seeing this issue.

[2022-05-02 14:21] ddelgrosso1 commented on #780
@nitishxp I will speak with some other members of the team and try to get a better idea of why this might be happening. Just so I have all the information, are you utilizing any kind of custom endpoint or anything that might help debug this issue further?

[2022-05-02 14:34] nitishxp commented on #780
No @ddelgrosso1 I am not modifying any paramaters

[2022-05-02 19:42] ddelgrosso1 commented on #780
@nitishxp I setup a basic cloud function utilizing the same runtime and code snippet you provided. After executing it several times I did not seem to have any issue with the decoder. How often does this issue appear for you? Is there any other code you could provide that might help debug further?

[2022-05-04 04:46] nitishxp commented on #780
@ddelgrosso1 We have find this error more frequently occurring in australia-southeast1 then any other region

[2022-05-04 14:41] ddelgrosso1 commented on #780
@nitishxp how frequently is this happening? How many instances of the function are running at any time? Are the buckets also located in australia-southeast1?

[2022-05-04 14:53] nitishxp commented on #780
in the last 10 days there were 3-4 occurrences, yes bucket and Cloud function both are in same region.

[2022-05-04 18:49] ddelgrosso1 commented on #780
@nitishxp it appears that this issue is the same as https://github.com/googleapis/google-auth-library-python/issues/857. Storage is also a consumer of the auth library. Since this issue is already being tracked / worked on in auth I am going to close this issue. If you feel that this is incorrect, please feel free to reopen.

[2022-05-04 18:49] #780 closed

[2022-05-06 07:39] laszlocph opened #783 "Support for `impersonated_service_account` type keys"
**Is your feature request related to a problem? Please describe.**
I'm trying to provide a scalable way for our developers to run their apps locally and be able to access buckets through a service account.

So far they used a shared service account key locally. The app loaded it and they were able to access the buckets.

I would prefer though to have personal keys instead, but would not want to di

[2022-05-06 18:20] zabop opened #785 "Let's use f-strings instead of .format() to increase readability of documentation"
Functions in this repo appear in the official documentation. All of them I've seen so far uses the `.format()` method of string processing, instead of the much more readable f-strings. I am able to change all `.format()`s to f-strings if this is accepted as a better solution.

[2022-05-09 12:56] nitishxp opened #786 "Retry not happening"
Python 3.9 Cloud function runtime

Lib:
google-cloud-storage==2.1.0

`Error updating data 503 POST https://storage.googleapis.com/upload/storage/v1/b/<bucket_name>?uploadType=resumable: Service Unavailable: ('Request failed with status code', 503, 'Expected one of', <HTTPStatus.OK: 200>, <HTTPStatus.CREATED: 201>) Traceback (most recent call last): File "/layers/google.python.pip/pip/lib/python3.9

[2022-05-09 14:01] ddelgrosso1 commented on #786
Hi @nitishxp from the stack trace you provided it appears you are attempting to do an upload. Upload operations are not idempotent and by default will not be retried. More information on idempotent operations can be found [here](https://cloud.google.com/storage/docs/retry-strategy#idempotency). You can alter this behavior by making the operation conditionally idempotent (providing a precondition)

[2022-05-09 15:48] nitishxp commented on #786
@ddelgrosso1 how to use the existing retry along with passing custom retry method

[2022-05-10 15:27] ddelgrosso1 commented on #786
Since this is expected behavior that can be modified I am going to close this issue. If you feel this does not resolve the issue, please feel free to reopen.

[2022-05-10 15:27] #786 closed

[2022-05-12 19:05] Breathtender commented on #785
Hey @zabop, thanks for bringing this forward. We had been using `.format` because up until very recently we had still been supporting python2.7 with our libraries, but we recently phased out that support, and so I think this should be a good change to make. Appreciate you taking the initiative on it.
Once you have the PR ready feel free to link it with this issue and I'll give it a review.
Thanks!

[2022-05-12 20:37] andrewsg commented on #783
Thank you for your report. Could I ask for a traceback of this issue? I think the relevant code will end up being in the [google-auth](https://github.com/googleapis/google-auth-library-python) library and the traceback will verify that. Feel free to redact anything in the traceback that is specific to your code, and feel free to alternatively email the traceback to gorcester@google.com if you pref

[2022-05-13 17:46] zabop commented on #785
Hey @Breathtender, thank you for the reply! I just made the PR.

[2022-05-16 15:39] #785 closed

[2022-05-17 17:11] andrewsg commented on #783
Thank you! Based on this traceback, it does look like the issue is in [google-auth](https://github.com/googleapis/google-auth-library-python). I'm afraid I have to close this bug on the Storage side, but hopefully the Auth library folks will be able to help.

[2022-05-17 22:49] iuiu34 opened #792 "Blob.from_string default client=None doesn't work"
Running
[code]
Raises the error
[code]

which is easily solved by running

[code]

My questions are

[2022-05-18 13:19] ranjanp75 opened #793 "Batch context manager throws only the last exception occurred and no response is returned"
Thanks for stopping by to let us know something could be better!

#### Environment details

  - MacOS
  - Python version: `3.8.9`
  - pip version: `22.0.4`
  - `google-cloud-storage` version: `2.3.0`

#### Steps to reproduce

  1.  Send Batch delete request for non existent objects in a bucket

#### Code example

[code]

#### Stack trace
[code]

In the above example, the batch request has been mad

[2022-05-19 10:44] charan-doxel opened #795 "Signed blob creation with default credentials does not work"
https://github.com/googleapis/python-storage/blob/3664ddebe8746d0395acd86d5efa1ef973eeac3d/samples/snippets/storage_generate_upload_signed_url_v4.py#L41

Fails with error

AttributeError: you need a private key to sign credentials.the credentials you are currently using <class 'google.oauth2.credentials.Credentials'> just contains a token. see https://googleapis.dev/python/google-api-core/latest/a

[2022-05-19 11:04] tgpsantos opened #796 "Get sub-sub-folders using prefix in list_blobs"
Hello guys,

I've read the [documentation](https://cloud.google.com/storage/docs/samples/storage-list-files-with-prefix) on using `prefix` with the `list_blob` function. The example there works correctly for the first level of _folders_, but it's not working for sub-folders.

Imagine this folder structure

a/animals/dogs/dog_1.jpg
a/animals/dogs/dog_2.jpg
a/animals/dogs/dog_3.jpg
a/animals/cats/ca

[2022-05-19 16:58] andrewsg commented on #795
Can you please post the last few lines of the traceback? Feel free to redact as needed. I would like to see if the error is being raised in the Storage or the Auth library in this instance.

[2022-05-20 14:45] charan-doxel commented on #795
Traceback (most recent call last):
  File "<stdin>", line 7, in <module>
  File "/Users/user/.virtualenvs/dev/lib/python3.7/site-packages/google/cloud/storage/blob.py", line 634, in generate_signed_url
    access_token=access_token,
  File "/Users/user/.virtualenvs/dev/lib/python3.7/site-packages/google/cloud/storage/_signing.py", line 550, in generate_signed_url_v4
    ensure_signed_credentials(c

[2022-05-20 21:00] andrewsg commented on #795
Thank you. What steps did you follow originally to get the credentials you are using, and how are you passing them into the library?

[2022-05-20 21:19] cojenco opened #797 "Add support for Autoclass"
This feature adds the following capabilities:
- Autoclass feature at the bucket level, allows for the automatic selection of the best storage class based on object metadata and access patterns
- Currently, Autoclass supports  **new buckets** only - a bucket can be enabled for Autoclass only at creation, once disabled it cannot be enabled again

**System tests are only required in languages with co

[2022-05-21 08:27] charan-doxel commented on #795
I am using my default google auth for the same. Not using a service account

[2022-05-24 23:06] andrewsg commented on #795
Okay. My understanding is that you will need to set up a service account and associated credentials in order to use this feature, because service account credential files include a private key (whereas your default credentials do not). If you follow the instructions here: https://cloud.google.com/iam/docs/creating-managing-service-accounts#creating and set the GOOGLE_APPLICATION_CREDENTIALS env va

[2022-05-24 23:35] andrewsg commented on #771
Hi @mcepl, thanks for your report. Running `pytest -k 'not network' tests/unit` works fine for me when run in the git directory. As @tritone supposed, we are not necessarily set up to have tests executed directly from the packaged version. I'll close this for now as his questions about the use case haven't been answered, but feel free to respond later and if needed we can reopen the issue.

[2022-05-24 23:35] #771 closed

[2022-05-24 23:52] andrewsg commented on #792
Hi @iuiu34, I tried out your code in the latter code block that you described as working, including setting up the client but not passing it into from_string(), and it did not work for me. I am still investigating why the method is designed like that with an optional-but-not-really client parameter, but could you please confirm that that latter code block is exactly as it should be and works on yo

[2022-05-25 08:48] laszlocph commented on #783
Looks like newer google-auth versions are able to handle this.

Support was added in https://github.com/googleapis/google-auth-library-python/issues/762

Can you see if you use the latest google-auth version @andrewsg

[2022-05-25 16:22] andrewsg commented on #795
I think you will need to actually download a service account json credentials file in order for it to include a private key suitable for signatures.

[2022-05-26 22:36] #795 closed

[2022-05-26 22:52] andrewsg commented on #783
@laszlocph The setup.py for this package does not require an updated version of google-auth but it does not preclude it either. Typically pip will install the most recent compatible version, and if it didn't in your case there must be a specific reason. Can you tell me what version of google-auth is installed on your system in particular?

[2022-05-27 22:43] cojenco commented on #796
@tgpsantos Thanks for the question. I followed your example and am able to list the subfolders inside the animals collection, using your code snippet.

With `delimiter='/'`, you'll get back only **files** directly under `a/animals/`. In this example, you should not expect to receive anything with `for blob in blobs:` since there are only subfolders under `a/animals/` and no direct files
[code]

On

[2022-05-27 22:51] cojenco commented on #796
@naushniki Could you elaborate more on your use case and what you're trying to do?

Please checkout above comment, I'm able to print both empty and non-empty subfolders with `blob.prefixes`:
[code]

[2022-05-31 21:27] andrewsg commented on #793
Thank you for your detailed report. I've looked through the source code and as of yet I haven't identified a way to fix this without breaking backwards compatibility. I've added this issue to our list of items to address with a future major version change.

In the meantime, if it suits your use case, I would recommend looking into concurrent individual requests using the `futures` standard library

[2022-06-01 22:57] danielbankhead opened #804 "Add Support for Updated Dual-Region Bucket API"
[Internal]
- For details and coordination: [go/gcs-dpe-dual-region-milestones-api-refactor](http://go/gcs-dpe-dual-region-milestones-api-refactor)
- Implementation Example: https://github.com/googleapis/nodejs-storage/pull/1977

[2022-06-01 23:15] danielbankhead opened #805 "refactor(samples): Dual-Region Sample for Updated API"
[Internal]
- For details and coordination: [go/gcs-dpe-dual-region-milestones-api-refactor](http://go/gcs-dpe-dual-region-milestones-api-refactor)
- Implementation Example: https://github.com/googleapis/nodejs-storage/pull/1977

[2022-06-02 04:52] ranjanp75 commented on #793
@andrewsg I have an approach to implement this. Why not store the responses in the Batch context manager so that its accessible after the requests are done.

[2022-06-02 18:13] cojenco opened #806 "Rewrite object receives 400 error when CMEK is enabled for a bucket"
Tracking issue for a customer.

Unable to rewrite on top of an existing GCS blob in CMEK enabled bucket. Receives a 400 Bad Request with the following repro code. This looks very similar to #155

#### Environment details

  - python 3.9
  - google-cloud-storage 2.3.0

#### Steps to reproduce

  1. Create a bucket with Customer-managed encryption keys (via Cloud KMS)
  2. Write blob to bucket
  3.

[2022-06-03 16:14] cojenco commented on #796
Hope the clarification helps. Closing due to inactivity. Please feel free to reopen if you have further questions.

[2022-06-03 16:14] #796 closed

[2022-06-03 16:47] #806 closed

[2022-06-03 17:11] #658 closed

[2022-06-04 17:59] tgpsantos commented on #796
hi @cojenco . Thanks for the attention and effort put into troubleshooting this issue.

In my initial post you could find a for loop on blobs.prefixes (inside the for loop of the iterable blobs) and I get no print statement.

Therefore, I get no print with neither of these snippets

[code]

[code]

Dunno if it's relevant but I have over 2M files (images) in the bucket. These files are placed **out

[2022-06-07 20:55] #755 closed

[2022-06-07 22:15] andrewsg commented on #793
@ranjanp75 I haven't yet found a way to make that approach discoverable and user-friendly, but I will take a serious look at it when we look at this request. Thanks!

[2022-06-09 08:09] tgpsantos commented on #796
@cojenco in light of what I've said, would you mind reopening the issue?

[2022-06-10 14:47] jimdigriz opened #814 "`Bucket.delete_blobs` drops 'generation'"
Whilst iterating the list, `generation` is dropped in the call to `Bucket.delete_blob()` (if `Blob` is passed in it should be a passthrough) resulting in much gnashing of teeth...

https://github.com/googleapis/python-storage/blob/9e5329c7dbab2a8023a288cf276c38f435a72a30/google/cloud/storage/bucket.py#L1787-L1806

[2022-06-17 01:14] bc-lee opened #818 "Cloud Storage upload_from_file does not work with files containing non-latin-1 characters."
**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

**NOTE**: [Google Cloud Python](https://cloud.google.com/python/docs/reference) client libraries are no longer maintained inside this repository. Please visit the python-API repository (e.g.

[2022-06-29 17:24] andrewsg commented on #818
Hi bc-lee,

My understanding is that, as files are naturally stored in bytes on disk, opening a file in string mode is intended to be used for text processing only. In this case, we also have to upload in bytes, so opening a file in string mode only to then upload it to Storage would involve two conversions. The second conversion, that from a unicode string to bytes, is failing in this case becaus

[2022-06-30 00:36] bc-lee commented on #818
Thanks for the reply.
I understand that it is desirable to use file-like objects in byte mode to reduce string conversion. However, some third-party APIs are using strings or files in string mode. So I tried to use the Google Cloud SDK with a file in string mode, and I got the issue as above.

Can you add a comment or warning that in `upload_from_file`, using a file in byte mode is preferred in th

[2022-07-02 07:44] dahlbaek commented on #393
This would be an amazing feature! Is there any information on the current status?

[2022-07-12 16:27] frankyn commented on #27
Thanks for the ping. @andrewsg this has +17 upvotes could you please take a look when you have a moment?

[2022-07-13 16:48] #804 closed

[2022-07-13 16:48] #805 closed

[2022-07-14 16:13] DavidKorczynski opened #828 "Continuous fuzzing integration with Google OSS-Fuzz"
Hi,

I was wondering if you would like to integrate continuous fuzzing by way of OSS-Fuzz? Fuzzing is a way to automate test-case generation and has been heavily used for memory unsafe languages. Recently efforts have been put into fuzzing memory safe languages and Python is one of the languages where it would be great to use fuzzing.

In this https://github.com/google/oss-fuzz/pull/7999 I did an

[2022-07-20 07:30] praveen-elastic commented on #478
A few functions are skipped by gcloud-aio package mentioned here by @zoidbergwill . This [repo](https://github.com/omarryhan/aiogoogle) provides the support for all the asyncio functionalities which can be achieved using [json api](https://cloud.google.com/storage/docs/json_api). I hope you found it helpful.

[2022-07-21 23:37] andrewsg commented on #828
Hi David. Thank you for your time and interest. I'll be honest that I'm at best familiar with the broad outlines of this approach as it applies to a normally fairly safe language like Python. On an experimental basis, and as a learning opportunity, I'll accept emails for this at gorcester@google.com.

[2022-07-21 23:37] #828 closed

[2022-07-22 12:28] #818 closed

[2022-07-23 00:02] andrewsg commented on #27
We have some long-term plans around async code and transport mechanisms that may make fully integrated support for a progress meter feasible in the future, but until then, there are two main options: chunk media operations and report status in between chunks, or use a file object wrapper that tracks how much data is written or read.

As it happens, large uploads are already chunked by default usin

[2022-08-03 20:19] jack-michaud commented on #752
I've been using these branches of the Firebase emulator and the python admin SDK for 4 months internally with no issue, so I'm unmarking these PRs as draft.

[2022-08-04 14:46] RomainFayolle opened #831 "Exception Value: api_request() got an unexpected keyword argument 'extra_api_info'"
Hi,

I'm having an issue on `google-cloud-storage` 2.3.0, I also tried it with 2.5.0. I use Django and I have a file model that is linked to GCS. When getting the size of the file I have an error: Exception Value: api_request() got an unexpected keyword argument 'extra_api_info'
I fixed the issue by downgrading google-cloud-storage to 1.44.0 as suggested in this [stack overflow issue](https://stac

[2022-08-04 16:58] Breathtender commented on #831
Oh yikes, this looks related to my change

https://github.com/googleapis/python-storage/pull/741
https://github.com/googleapis/python-cloud-core/pull/183

Noting that this has also been reported here:
https://stackoverflow.com/questions/72306979/client-get-bucket-returns-error-api-request-got-an-unexpected-keyword-argum

Researching this further and will update here as soon as I discover more or h

[2022-08-04 19:33] bmccutchon opened #832 "Incorrect example for lifecycle_rules"
The ["note" on `Bucket.lifecycle_rules`](https://github.com/googleapis/python-storage/blob/5e06dc02f54fb54f4d1dbd61d273ffcd96fdd112/google/cloud/storage/bucket.py#L2282) acts as if `lifecycle_rules` returns a `list`, but it actually returns a `generator`.

[2022-08-04 19:50] Yuangwang commented on #752
Hi @jack-michaud I've been working through some python gcs sdk issues on the storage emulator and I merged in some changes to strip quotes (https://github.com/firebase/firebase-tools/pull/4825) and to make content type case insensitive (https://github.com/firebase/firebase-tools/pull/4824).
I think it would still be good to merge in these two changes from you (https://github.com/jack-michaud/fireb

[2022-08-04 20:48] danielbankhead opened #834 "refactor(samples): Update Dual-Region Bucket Creation Sample to Output Additional Metadata"
We want to update the dual-region samples to uniformly include `location`, `locationType`, and `customPlacementConfig` metadata in the output.

This should be a small change to: https://github.com/googleapis/python-storage/blob/HEAD/samples/snippets/storage_create_bucket_dual_region.py

Here's an example from Node.js storage: https://github.com/googleapis/nodejs-storage/pull/2016

[2022-08-05 18:10] cojenco opened #835 "refactor flaky system tests"
From Kokoro failures [[1](https://source.cloud.google.com/results/invocations/7f28eb9b-b5cc-4d29-9e86-e081f44f140e/targets/cloud-devrel%2Fclient-libraries%2Fpython%2Fgoogleapis%2Fpython-storage%2Fpresubmit%2Fsystem-3.8/log), [2](https://source.cloud.google.com/results/invocations/54db59e4-152c-4250-baa4-c0047555b197/targets/cloud-devrel%2Fclient-libraries%2Fpython%2Fgoogleapis%2Fpython-storage%2Fp

[2022-08-08 15:53] jack-michaud commented on #752
Thank you @Yuangwang! I will add tests to those changes. Also, this may be outside of your purview, but have you taken a look at https://github.com/googleapis/python-storage/pull/761? This fix is required for file uploads from python to work with the storage emulator.

[2022-08-08 16:11] Yuangwang commented on #752
@jack-michaud I also pushed a change recently to have the storage emulator fallback on reading the name from the file metadata (https://github.com/firebase/firebase-tools/pull/4832). I tested it with the python gcs sdks and it should fix the upload issue you mentioned!

[2022-08-08 18:12] Breathtender commented on #831
Just to be clear, does this happen every-time for you? Or is it intermittent.

[2022-08-08 18:12] Breathtender commented on #831
Could you also run a `pip freeze` and share the output?

[2022-08-09 12:26] RomainFayolle commented on #831
Hi !
It happens every time. My use case is: I have a model made for files. I have a front end listing and displaying those files. When the front call Django Rest API to get the data to display, Django get all attributes for those files, and especially the size property, triggering the error every time. In the end the back always send the error you see in my post.

For the pip freeze:
[code]

[2022-08-09 14:53] Breathtender commented on #831
Thank you! Can you change the cloud storage version back to 2.5.0 or
whatever you were using when the error was thrown and share the pip freeze
from that? This seems to be with you downgrading to 1.44.0 for the
workaround.

On Tue, Aug 9, 2022, 6:27 AM Romain Fayolle ***@***.***>
wrote:

[2022-08-09 15:05] RomainFayolle commented on #831
Haha yes sorry I was discussing with my colleague and I realized I shared the working version with 1.44.0, you were faster than me. Here is the freeze with 2.5.0:
[code]

[2022-08-10 16:13] #835 closed

[2022-08-10 18:27] andrewsg commented on #792
Okay, after investigation, I can answer these questions. It looks like this code is based on a previous idea that Blob and Bucket would be simple data objects with no knowledge of the client, passed into the Client methods as parameters. Pursuant to this idea, client was made optional on the classes. However, that means there are really two kinds of Blob/Bucket objects - ones that have a client at

[2022-08-11 15:46] andrewsg commented on #832
Fixing the docstring on this now; I'd like to actually make it consistent with the setter (returning a list) or use some other consistent interface, but can't without breaking backwards compatibility, so this is now on the list for 2.0.

[2022-08-11 17:10] Breathtender commented on #831
Hey @RomainFayolle, just want you to know we're still trying to figure this issue out. Have not yet been able to reproduce the issue and when we try to install the requirements as you have them here (putting these in requirements.txt and running `pip install -r requirements.txt`), we're met with a strange conflict
[code]

Continuing to investigate.

[2022-08-11 19:06] #294 closed

[2022-08-11 22:15] Breathtender commented on #831
@RomainFayolle would it be possible to share your requirements.txt file?

[2022-08-11 22:16] Breathtender commented on #831
What would also be helpful is if you could try putting the output from your pip freeze into a fresh environment requirements.txt and see if you're able to reproduce it. We still haven't been able to reproduce this on our end.

[2022-08-12 16:19] #832 closed

[2022-08-12 20:07] #834 closed

[2022-08-15 21:13] cojenco commented on #35
Due to changes in the API and the client library since this issue was filed (2017), closing as obsolete. Feel free to open a fresh bug if there are issues with the current version.

[2022-08-15 21:13] #35 closed

[2022-08-23 17:48] cojenco opened #846 "Restore noxfile and unpin grpcio"
Revert https://github.com/googleapis/python-storage/pull/845 upon confirmation that `1.49.0rc1` is released as a stable version

[2022-08-23 19:04] #814 closed

[2022-08-24 19:00] RignonNoel commented on #831
FYI Romain is in a middle of a holliday trip, it should be back soon and I'm sure he will take the time to update the issue with your requested items.

[2022-09-02 00:21] likawind opened #858 "Potentially wrong dependency version to `google-cloud-core` (should be 2.3.2)"
When I `pip install google-cloud-storage` with `google-cloud-core` version 2.3.0, I would need to manually upgrade `core` version to make `storage` working properly.

#### Environment details

  - OS type and version: Ubuntu 18.04
  - Python version: 3.9.12
  - pip version: 21.3.1
  - `google-cloud-storage` version: 2.5.0

#### Steps to reproduce

  1. Set up environment using `google-cloud-core==

[2022-09-03 00:32] #7 closed

[2022-09-07 19:50] cojenco commented on #466
This seems to be closed via #461. @andrewsg please reopen if there are other action items.

[2022-09-07 19:50] #466 closed

[2022-09-07 19:53] cojenco commented on #70
Update - this can be closed with  #844

[2022-09-08 12:54] RomainFayolle commented on #831
Hi @Breathtender sorry for the very late response. I was in a big trip and then lots of stuff to work on.
We tackle the issue with @RignonNoel and here is what we found:
I created a new venv and installed the dependencies:
[code]

[2022-09-08 18:55] meredithslota commented on #70
Assigning so that we remember to close this out once #844 is merged. :)

[2022-09-10 22:31] eavonius opened #863 "Blob prefixes not available until you iterate the files"
#### Environment details

  - OS type and version: Windows 10
  - Python version: 3.9.13
  - pip version: 22.0.4
  - `google-cloud-storage` version: 2.5.0

#### Steps to reproduce

  1. Download the [sample code for listing files with a prefix](https://github.com/googleapis/python-storage/blob/282e3b605e62c4f8d93debff20d40afbf2e718f5/samples/snippets/storage_list_files_with_prefix.py).
  2. Commen

[2022-09-13 17:45] cojenco commented on #863
Hi eavonius, thank you for the question. You are right about the iterator has to be called first in order to access the list of prefixes. This is intended, as `list_blobs` operation returns an iterator, and the rpc is done with a response back only when you iterate through the [iterator](https://googleapis.dev/python/google-api-core/latest/page_iterator.html)

Another way that works too:
[code]

I

[2022-09-13 18:02] VwakeM opened #865 "Suppress urllib3 warnings for batch Blob.exists() calls"
I am using GCS python client's `Blob.exists()` function to check if a URL actually points to a GCS blob. Since I am doing this for a large number of URLs, I am using `the batch()` function to check 1000 URLs at a time. When I use the two functions as follows, I get the following urllib3 warning for each batch of requests:

[code]

Warning message printed on each iteration of the loop:
[code]

Can

[2022-09-14 12:46] eavonius commented on #863
@cojenco thanks, makes sense to me. Yep a little note in the documentation would go a long way. Was very confusing at first. Thanks for the help!

[2022-09-14 17:59] cojenco commented on #858
Hi likawind, thanks for the question. Is this happening consistently or sporadically?

I haven't been able to reproduce the issue with your configs. Could you try creating a fresh environment, installing the dependencies again, and see if the issue is reproducable?

[2022-09-15 16:54] #863 closed

[2022-09-19 20:46] cojenco commented on #865
Hi VwakeM, unfortunately `Batch` is not fully supported by the storage client. `Blob.exists()` does not fit well with the current `Batch` design. See #31 for reference.

Further `Batch` support is still under discussion within our team. Looking at your question, I think possible workarounds to suppress the urllib3 warnings might be something like https://github.com/googleapis/python-storage/issues

[2022-09-20 20:58] cojenco commented on #540
Based on #545 and previous discussion [here](https://github.com/googleapis/google-cloud-python/pull/8424#issuecomment-503714881), closing this issue with fixes in #545. If there's something that I missed please reopen.

[2022-09-20 20:58] #540 closed

[2022-09-20 21:01] cojenco commented on #70
Now tracking in #844. Closing for deduplication.

[2022-09-20 21:01] #70 closed

[2022-09-21 16:24] cojenco commented on #858
Closing due to inactivity. Happy to reopen if this issue persists.

[2022-09-21 16:24] #858 closed

[2022-09-23 23:11] RubenAgDev opened #872 "Double slash in signed URLs when a bucket bound hostname is given"
The Python Client for Google Cloud Storage API returns a double slash after the hostname for signed URLs when a bucket bound hostname is given.

Double slashes may work just fine for LBs that have the feature of merging slashes but that is not always the case, a GCP classic LB for instance will not merge them, causing Cloud Storage to respond with a mismatch signature when the signed URL is used.

[2022-09-28 10:46] ddelange opened #877 "Support predefined_acl in create_resumable_upload_session"
**Is your feature request related to a problem? Please describe.**

Hi 👋  I'm a user of `smart_open`, and would like to propagate a `predefined_acl`. They [use](https://github.com/RaRe-Technologies/smart_open/blob/4c6bc38d6b35aa75e5e9b8041bb80f0f956ac486/smart_open/gcs.py#L430) `create_resumable_upload_session` which seemingly is the only function related to blob uploads that does not accept the `

[2022-09-28 12:01] ddelange commented on #877
Opened https://github.com/googleapis/python-storage/pull/878

[2022-09-28 19:41] cojenco opened #879 "Remove client side validation for storage class inputs"
Remove client side validation on restricting storage class input. This would require an update if we introduce more storage classes in the future (which is possible).

Instead fall back to server side errors, e.g.
[code]

[2022-09-28 19:48] cojenco opened #880 "Remove client side validation in HMAC Key"
Remove client side validation on restricting HMAC key states. This would require an update if we introduce more settable states in the future (which is possible). Part of go/gcs-dpes-no-extra-validation

Instead allow for nonspecific states and fall back to server side errors, e.g. 400 Bad Request

[2022-09-29 06:28] cojenco commented on #877
Hi @ddelange thanks for contributing! Our team will work with you on reviewing the PR :)

[2022-09-29 22:01] cojenco commented on #872
Thanks RubenAgDev for filing the issue. I see how this can cause a problem for your use case. I've proposed a fix and am discussing with our team to ensure that the implementation is consistent and reliable.

[2022-10-04 18:10] #877 closed

[2022-10-05 21:27] #872 closed

[2022-10-06 18:25] #880 closed

[2022-10-10 08:23] cadnce opened #884 "BlobWriter close() behaviour"
Hi

The fileio.BlobReader/BlobWriter behaviour regarding multiple calls to `close()` is inconsistent both within the python-storage module and compared to the stdlib - https://docs.python.org/3/library/io.html#io.IOBase.close / "As a convenience, it is allowed to call this method more than once; only the first call, however, will have an effect."

Whilst I understand this is not how you would use

[2022-10-10 17:42] andrewsg commented on #884
Hi @cadnce,

Thanks for your report. I agree with your analysis, it looks like it should be a no-op in that situation.

[2022-10-10 21:24] cadnce commented on #884
If helpful, I’m happy to put in a PR for this, but equally happy if you want to do it your way.

[2022-10-12 16:50] devdems opened #886 "List folders without scanning blobs"
Is it possible to get the list of all folders in a bucket, even if they are "imaginary" objects without scanning all the blobs?

list_blobs function scans all blobs regardless if you put a prefix or not.

The use-case is a bucket with millions of blobs where only folders need to be returned.

[2022-10-12 21:49] andrewsg commented on #886
At first glance I don't believe there is any way to do this on Storage because, unlike a filesystem on a local drive, in Storage folders aren't themselves objects - it's only a useful way to describe blob names with "/" in them. Without looking at the blobs it's impossible to tell which names include a "/" in them and what they are. I will ask team members and see if they have any suggestions.

[2022-10-12 22:36] andrewsg commented on #886
Interestingly, it looks like there is a way to do this in the API; however, _regrettably, it is not currently supported in the client libraries_.

In an Objects: List response there is the `prefixes` response field which will be populated when there is a `delimiter` parameter specified. This will return values a bit like `ls` would.

For example, the following curl command:
`curl -X GET 'https://s

[2022-10-12 22:36] #886 closed

[2022-10-12 22:41] andrewsg commented on #884
Thank you for the offer, but it should be straightforward from here. I appreciate your detailed bug report.

[2022-10-12 23:38] cadnce commented on #884
Thanks for the quick fix!

[2022-10-14 00:17] #884 closed

[2022-10-25 09:07] blueyed opened #892 "DeprecationWarning: 'cgi' is deprecated and slated for removal in Python 3.13"
There's a deprecation warning with Python 3.11 (on Linux):
[code]

[2022-10-25 20:17] andrewsg commented on #892
Thank you for reporting this.

As context to the person who fixes this in the future: we are using the cgi library for its parse_header() function. The replacement is specified in https://peps.python.org/pep-0594/#cgi. The replacement has a very different return value structure so it will need some engineering and testing to get it to work.

[2022-10-27 16:19] #36 closed

[2022-11-03 15:05] MadhuPolu opened #895 "Enable authentication when a non-default api_endpoint is set (just like the googleapis/nodejs-storage)"
**Issue we're facing:**
After version 2.1.0, authorization bearer token is stopped being sent to the custom endpoints (non-default api_endpoint), we forcefully needed to downgrade to the version 2.0.0 to make things work on our end. We had other option like explicitly passing credentials while instantiating the storage client, but this change was needed to be done in all places wherever the client

[2022-11-04 20:21] yan-hic opened #896 "missing uri property on Blob()"
Can be constructed but would help to get the URI natively as a property of `Blob()` e.g. `gs://my_bucket/path/my_blob`
This is consistent with instantiating a blob using its URI: `my_bucket.from_string(uri)`

[2022-11-07 06:56] #797 closed

[2022-11-08 19:45] cojenco commented on #895
Hi @MadhuPolu thanks for filing this issue. Could you please describe your use case in more detail?

If I understand correctly, the desire is for the client to detect the default credentials for the current environment while using a non-default api_endpoint, instead of explicitly passing in credentials. Is my understanding correct? The current design will not bypass auth if you pass in credentials

[2022-11-08 21:08] MadhuPolu commented on #895
Yes @cojenco, you're correct, we need the client to detect the default credentials while using a non-default api_endpoint. And we don't want to pass any credentials explicitly when instantiating a client as we heavily depend on [ADC](https://cloud.google.com/docs/authentication/application-default-credentials) (Application Default Credentials).

Please let me know if you need any more details.

Tr

[2022-11-09 23:37] jamespinkerton opened #900 "gRPC Support"
Hi. I’ve noticed that the GCS C++ client has gRPC support in beta mode. I run a highly parallel high throughput workload using the python-storage GCS client. It would appear to me that this workload could greatly benefit from gRPC support. Is this true? Are there plans to support it in the future?

Greatly appreciated,
James

[2022-11-10 05:13] cojenco commented on #895
Thank you for the additional context👍 I'm working with our team to address this.

[2022-11-10 17:10] frankyn commented on #900
Hi @jamespinkerton,

Thanks for the feature request. We don't have more information on the roadmap for gRPC support but we will keep this issue open and provide an update when one is available.

Thank you for your patience

[2022-11-12 16:45] kalaracey opened #903 "BlobWriter does not implement closed property"
#### Environment details

  - OS type and version: Mac OS X 12.6
  - Python version: `python --version`: 3.9.0
  - pip version: `pip --version`: 22.2.0
  - `google-cloud-storage` version: `pip show google-cloud-storage`: 2.6.0

#### Steps to reproduce

Run the code example below, substituting a real bucket for `some-bucket`.

#### Code example

[code]

`stream.closed` should return True after `str

[2022-11-17 16:33] flaky-bot[bot] opened #910 "tests.system.test_bucket: test_bucket_w_retention_period failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: c774ad582d523ffa1446d48fd36440aa445ea94e
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/036d

[2022-11-18 18:31] #910 closed

[2022-11-21 11:07] heatherleeann opened #912 "Python"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2022-11-21 16:04] #912 closed

[2022-11-21 16:05] BenWhitehead commented on #912
Empty template, closing. Please open a new issue with the template filled out.

[2022-11-22 07:40] nitishxp opened #913 "Blob.exists() making multiple calls"
Lib:  google-cloud-storage==2.4.0
python : Cloud Function python 3.9

Hi, I am finding that using blob.exists() is making 2 extra call instead of 1 API call

Snippet:

[code]
Below is the log
[code]

[2022-11-22 11:16] heatherleeann opened #914 "Attention"
https://github.com/dotnet/dotnet-api-docs/pull/7387

[2022-11-23 04:45] tritone commented on #914
I don't see how this is relevant to this repo. Please re-open with more context if there is anything in particular that you would like us to look at.

[2022-11-23 04:45] #914 closed, assigned to tritone

[2022-11-23 04:56] tritone commented on #913
The first call is from `client.get_bucket()`, which makes an API call to fetch bucket metadata. You can skip this call by using `client.bucket()` instead I believe.

Let me know if this does the trick:
[code]

[2022-11-23 07:23] nitishxp commented on #913
@tritone In the logs you can see `/storage/v1/b/<bucket>/o/test.txt?` is being printed 3 times

[2022-11-23 07:43] nitishxp commented on #913
@tritone  i tried but still for the object I am getting duplicate API calls

[2022-11-23 16:21] tritone commented on #913
@nitishxp I was not able to reproduce this locally; I only see one call to GET the object when running it myself. I suspect there is an issue with your logging, or maybe your code is calling the snippet more times than you expect.

[2022-11-23 17:38] nitishxp commented on #913
Thanks @tritone

[2022-11-23 17:38] #913 closed

[2022-11-27 02:38] fsmosca opened #917 "How to upload a file to bucket?"
I am new to google bucket storage. I also setup nearline storage. I look the following sample code from [google cloud](https://cloud.google.com/storage/docs/uploading-objects#storage-upload-object-code-sample).

[code]

I have `bucket_name`, and `source_file_name`.

I don't know `destination_blob_name or storage-object-name`? What is it?

My goal is to upload a file from my local pc to bucket usin

[2022-11-27 03:10] fsmosca commented on #917
All right I get it. It is the `filename` of the `source_file_name` stored in the bucket.

[2022-11-27 03:10] #917 closed

[2022-11-29 04:13] #895 closed

[2022-11-29 04:55] flaky-bot[bot] opened #920 "tests.system.test__signing: many tests failed"
Many tests failed at the same time in this package.

* I will close this issue when there are no more failures in this package _and_
  there is at least one pass.
* No new issues will be filed for this package until this issue is closed.
* If there are already issues for individual test cases, I will close them when
  the corresponding test passes. You can close them earlier, if you prefer, and

[2022-11-29 04:55] flaky-bot[bot] opened #921 "tests.system.test_blob: many tests failed"
Many tests failed at the same time in this package.

* I will close this issue when there are no more failures in this package _and_
  there is at least one pass.
* No new issues will be filed for this package until this issue is closed.
* If there are already issues for individual test cases, I will close them when
  the corresponding test passes. You can close them earlier, if you prefer, and

[2022-11-29 04:55] flaky-bot[bot] opened #922 "tests.system.test_bucket: many tests failed"
Many tests failed at the same time in this package.

* I will close this issue when there are no more failures in this package _and_
  there is at least one pass.
* No new issues will be filed for this package until this issue is closed.
* If there are already issues for individual test cases, I will close them when
  the corresponding test passes. You can close them earlier, if you prefer, and

[2022-11-29 04:55] flaky-bot[bot] opened #923 "tests.system.test_client: test_create_bucket_simple failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 4862a9c34fcd9524f31312227a2ccf5e376f39fa
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/0ddb

[2022-11-29 04:55] flaky-bot[bot] opened #924 "tests.system.test_client: test_create_bucket_dual_region failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 4862a9c34fcd9524f31312227a2ccf5e376f39fa
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/0ddb

[2022-11-29 04:55] flaky-bot[bot] opened #925 "tests.system.test_client: test_list_buckets failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 4862a9c34fcd9524f31312227a2ccf5e376f39fa
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/0ddb

[2022-11-29 04:55] flaky-bot[bot] opened #926 "tests.system.test_client: test_download_blob_to_file_w_uri failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 4862a9c34fcd9524f31312227a2ccf5e376f39fa
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/0ddb

[2022-11-29 04:55] flaky-bot[bot] opened #927 "tests.system.test_client: test_download_blob_to_file_w_etag failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 4862a9c34fcd9524f31312227a2ccf5e376f39fa
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/0ddb

[2022-11-29 04:55] flaky-bot[bot] opened #928 "tests.system.test_fileio: test_blobwriter_and_blobreader failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 4862a9c34fcd9524f31312227a2ccf5e376f39fa
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/0ddb

[2022-11-29 04:55] flaky-bot[bot] opened #929 "tests.system.test_fileio: test_blobwriter_and_blobreader_text_mode failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 4862a9c34fcd9524f31312227a2ccf5e376f39fa
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/0ddb

[2022-11-29 04:55] flaky-bot[bot] opened #930 "tests.system.test_kms_integration: test_blob_w_explicit_kms_key_name failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 4862a9c34fcd9524f31312227a2ccf5e376f39fa
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/0ddb

[2022-11-29 04:55] flaky-bot[bot] opened #931 "tests.system.test_kms_integration: test_bucket_w_default_kms_key_name failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 4862a9c34fcd9524f31312227a2ccf5e376f39fa
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/0ddb

[2022-11-29 04:55] flaky-bot[bot] opened #932 "tests.system.test_kms_integration: test_blob_rewrite_rotate_csek_to_cmek failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 4862a9c34fcd9524f31312227a2ccf5e376f39fa
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/0ddb

[2022-11-29 04:55] flaky-bot[bot] opened #933 "tests.system.test_kms_integration: test_blob_upload_w_bucket_cmek_enabled failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 4862a9c34fcd9524f31312227a2ccf5e376f39fa
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/0ddb

[2022-11-29 04:55] flaky-bot[bot] opened #934 "tests.system.test_notification: test_notification_create_minimal failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 4862a9c34fcd9524f31312227a2ccf5e376f39fa
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/0ddb

[2022-11-29 04:55] flaky-bot[bot] opened #935 "tests.system.test_notification: test_notification_create_explicit failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 4862a9c34fcd9524f31312227a2ccf5e376f39fa
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/0ddb

[2022-11-29 04:55] flaky-bot[bot] opened #936 "tests.system.test_notification: test_notification_create_w_user_project failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 4862a9c34fcd9524f31312227a2ccf5e376f39fa
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/0ddb

[2022-11-29 04:55] flaky-bot[bot] opened #937 "tests.system.test_notification: test_notification_create_wo_topic_name failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 4862a9c34fcd9524f31312227a2ccf5e376f39fa
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/0ddb

[2022-11-29 04:55] flaky-bot[bot] opened #938 "tests.system.test_notification: test_bucket_get_notification failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 4862a9c34fcd9524f31312227a2ccf5e376f39fa
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/0ddb

[2022-11-29 08:11] cojenco commented on #922
The 14 failed tests are due to #901. I'm still debugging and will revert the PR if further investigation is needed.

[2022-11-29 13:04] lmiglio opened #939 "Performance gap wrt gcloud storage CLI"
Hi guys, thank you for your amazing work!

The goal of this issue is to **report a big performance gap** between official python APIs for Google Cloud Storage and [gcloud storage CLI](https://cloud.google.com/sdk/gcloud/reference/storage).

I have a 2 GB file stored in a regional bucket (us-west4) and I would like to fetch this file as fast as possible from an [a2-highgpu-1g](https://cloud.google.

[2022-11-29 22:26] #920 closed

[2022-11-29 22:26] #921 closed

[2022-11-29 22:26] #922 closed

[2022-11-29 22:26] #923 closed

[2022-11-29 22:26] #924 closed

[2022-11-29 22:26] #925 closed

[2022-11-29 22:39] cojenco commented on #938
closed with #940

[2022-11-29 22:39] #938 closed

[2022-11-29 22:39] cojenco commented on #926
closed with #940

[2022-11-29 22:39] #926 closed

[2022-11-29 22:40] cojenco commented on #927
closed with #940

[2022-11-29 22:40] #927 closed

[2022-11-29 22:40] cojenco commented on #928
closed with #940

[2022-11-29 22:40] #928 closed

[2022-11-29 22:40] #935 closed

[2022-11-29 22:40] #934 closed

[2022-11-29 22:40] #933 closed

[2022-11-29 22:40] #932 closed

[2022-11-29 22:40] cojenco commented on #929
closed with #940

[2022-11-29 22:40] #929 closed

[2022-11-29 22:40] #931 closed

[2022-11-29 22:40] #930 closed

[2022-11-29 22:45] cojenco commented on #936
closed with #940

[2022-11-29 22:45] #936 closed